- if @profile.editable_by?(current_user)
  .float-right= link_to image_tag("edit_your_profile.png"), edit_myspot_profile_path
%p= image_tag @profile.photo.url(:thumb)
%h4.reg-line-height= h @profile.organization_name
%p.reg-line-height= h @profile.location
.date.quiet.reg-line-height
  Established in
  = @profile.established_year
- unless @profile.website.blank?
  %p.reg-line-height 
    = link_to(h(@profile.website),h(@profile.website))
  .clear
- if @profile.topics.any?
  %p.reg-line-height.clear
    %span.quieter
    = h @profile.organization_name 
    has shown interest in 
    = show_topics(@profile)
  %br/
%hr

- unless @profile.about_you.blank?
  %h3
    About
    = @profile.organization_name

  .alt-spotus= sanitize @profile.about_you
  .double_content_border
