%p= image_tag @profile.photo.url(:thumb)
%h4.reg-line-height= h @profile.full_name
%p.reg-line-height= h @profile.location
.date.quiet.reg-line-height
  member since
  = @profile.created_at.to_s(:date)
- unless @profile.website.blank?
  %p 
    = link_to(h(@profile.website), @profile.website)
- if @profile.topics.any?
  %p.reg-line-height
    = h @profile.first_name 
    has shown interest in 
    = show_topics(@profile)
%hr

%h3
  About
  = @profile.first_name

= sanitize @profile.about_you

.double_content_border
