- if @profile.editable_by?(current_user)
  .float-right= link_to image_tag("edit_your_profile.png"), edit_myspot_profile_path
%p= image_tag @profile.photo.url(:thumb)
%h4.reg-line-height= h @profile.full_name
%p.reg-line-height= h @profile.location
.date.quiet.reg-line-height
  member since
  = @profile.created_at.to_s(:date)
- unless @profile.website.blank?
  %p.reg-line-height
    = link_to(h(@profile.website), @profile.website)
  .clear
- if @profile.topics.any?
  %p.reg-line-height.clear
    %span.quieter
      = h @profile.first_name 
      has shown interest in 
    = show_topics(@profile)
  %br/
%hr

- unless @profile.about_you.blank?
  %h3
    About
    = @profile.first_name
  .alt-spotus= sanitize @profile.about_you

- if @profile.is_a?(Reporter) && @profile.samples.any?
  %h3 Work Samples
  %hr
  - for sample in @profile.samples
    .show_profile_jobs
      - if !sample.url.blank?
        - # TODO replace .ss_newspaper with company logo
        %span.ss_sprite.ss_newspaper{:style=>"margin-right:5px"}
        %span.work_title= link_to h(sample.title), sample.url
      - else
        %span.ss_sprite.ss_newspaper{:style=>"margin-right:5px"}
        %span.work_title= h sample.title
      .work_description= sanitize(sample.description)
- if @profile.is_a?(Reporter) && @profile.jobs.any?
  %h3 Work History
  %hr
  - for job in @profile.jobs
    .show_profile_jobs
      - if !job.url.blank?
        - # TODO replace .ss_newspaper with company logo
        %span.ss_sprite.ss_newspaper{:style=>"margin-right:5px"}
        %span.work_title= link_to h(job.title), job.url
      - else
        %span.ss_sprite.ss_newspaper{:style=>"margin-right:5px"}
        %span.work_title= h job.title
      .work_description= sanitize(job.description)
.double_content_border
