- if login_failed?
  - content_for :error do
    %h2 Sorry about that.
    %p Check below to see what happened:
    %ul
      %li Invalid E-mail Address or Password
    %p 
      If you're experiencing a persistent problem,
      = mail_to "david@spot.us", nil, :encode => "hex"
      

- form_tag session_url do
  .span-6.or_login
    %h3 We Already Know You <br /><span class='small quieter'>Welcome back!</span>
    .double_content_border
    .row
      %label Your E-mail Address 
      %div{:class => session_field_class_name }
        = text_field_tag "email", nil, :class=>"text"
    .block-padding
    .row
      %label Your Password
      %div{:class => session_field_class_name }
        = password_field_tag "password", nil, :class=>"text"
    .row
      = check_box_tag 'remember_me', '1'
      %label{:for => 'remember_me'} Remember Me
    .float-right
      %p
        = link_to "Forgot Password?", new_password_reset_path, :class => "forgot_password"
    .clear
    .double_content_border
    .float_right
      %input{:type => "image", :src=>"../images/login.png"}
