- content_for :error do
  - unless login_failed?
    %h2 Oops
    %p Please correct these items:
    %ul
      %li Invalid E-mail Address or Password
    %p 
      If you're experiencing a persistent problem,
      = link_to "let us know", "#"

- form_tag session_url do
  .span-6.or_login
    %h3 Or Login
    .double_content_border
    .row
      %label Your E-mail Address
      %div{:class => session_field_class_name }
        = text_field_tag "email", nil, :class=>"text"
    .block-padding
    .row
      %label Your Password
      %div{:class => session_field_class_name }
        = password_field_tag "password", nil, :class=>"text"
    .row
      = check_box_tag 'remember_me', '1'
      %label{:for => 'remember_me'} Remember Me
    .float-right
      %p
        = link_to "Forgot Password?", "#", :class => "forgot_password"
    .clear
    .double_content_border
    .float_right
      %input{:type => "image", :src=>"../images/login.png"}
