.row
  %label Your E-mail Address
  %div{:class => session_field_class_name }
    = text_field_tag "email", nil, :class=>"text"
.block-padding
.row
  %label Your Password
  %div{:class => session_field_class_name }
    = password_field_tag "password", nil, :class=>"text"
.row
  = check_box_tag 'remember_me', '1'
  %label{:for => 'remember_me'} Remember Me
.float-right
  %p
    = link_to "Forgot Password?", new_password_reset_path, :class => "forgot_password"
    = link_to "Resend Activation Email", resend_activation_user_path, :class => "forgot_password"

