<div class="row">
    <label>Your E-mail Address</label>
    <div class="login">
      <%= text_field_tag "email", nil, :class=>"text" %>
    </div>
</div>

<div class="row">
    <label>Your Password</label>
    <div class="login">
      <%= password_field_tag "password", nil, :class=>"text", :id=>"passwordField" %>
      <%= hidden_field_tag "encoded_password", nil, :class=>"text", :id=>"passwordHiddenField" %>
    </div>
</div>
<div class="row">
   <%= check_box_tag 'remember_me', '1', false, :class => "float-left" %>
   <label>Remember Me</label>
   <%= link_to "Forgot Password?", password_user_path, :class => "forgot_password" %> | 
   <%= link_to "Resend Activation Email", activation_email_user_path, :class => "forgot_password" %>
</div>
    
  
