%tr
  %td.tip
    Comment:
    = comment.title
    = comment.body
    Commented on:
    - if comment.commentable.instance_of?(Pitch)
      = link_to h(comment.commentable.headline), pitch_url(comment.commentable)
    - elsif comment.commentable.instance_of?(Story)
      = link_to h(comment.commentable.headline), story_path(comment.commentable.story)
    - else
      Nothing
  %td.created= comment.created_at.to_s(:date)
