- @title = "Spot.us - Member Profile"
.block-spacer
%h3 My Spot

= render :partial => 'myspot/nav'

- unless @profile.errors.empty?
  - content_for :error do
    = error_messages_for_resource

#equalize

  - # first column content 
  - form_for :profile, :url => myspot_profile_path, :html => { :method => :put, :multipart => true } do |f|
    .span-605.box_white
      %h3 Edit Your Profile
      = render :partial => "myspot/profile_nav"
      .double_content_border
      .span-595.box_yellow.create_a_tip_form
        - if @profile.is_a?(Organization)
          = render :partial => "news_org_profile", :locals => {:f => f}
        - else
          .row
            = f.label :photo
            .float_left= image_tag @profile.photo.url(:thumb), :class => 'thumbnail'
            .float_left{:style=>"margin-left:10px"}
              .small{:style=>"margin:0"} Upload a new image. Photos are 50x50 pixels
              = f.file_field :photo, :size => 15
            .clear
          .yellow-spacer-negative
          .row
            = f.label :first_name
            = f.text_field :first_name
          .yellow-spacer-negative
          .row
            = f.label :last_name
            = f.text_field :last_name
          .yellow-spacer-negative
        .row
          = f.label :website, "Website <span class='small quieter'>Use http://www."
          = f.text_field :website
        .yellow-spacer-negative
        .row
          = f.label :location
          = f.select :location, LOCATIONS
        - if @profile.is_a?(Reporter)
          .yellow-spacer-negative
          .row
            = f.label :fact_check_interest, "I am interested in being a Fact-Check Editor"
            = f.check_box :fact_check_interest
        .yellow-spacer-negative
        .row
          %label{:for => ""}
            Your Topics of Intest
        .row
          = topic_check_boxes(@profile, "profile")
        .yellow-spacer-negative
        .row
          = f.label :about_you
          = fckeditor_textarea("profile", "about_you", :toolbarSet => 'Spotus', :width => '100%', :height => '200px')

        .clear
  
      .double_content_border

      .float-right
        = link_to image_tag('cancel.png', :alt => 'Cancel'), myspot_profile_path
        %input{:type => "image", :src=>"/images/save.png"}
      .clear
  
  - # second column content   
  .span-270.box_white{:style=>"position:absolute;top:0;right:0;"}
    = render :partial => 'layouts/common_questions'
  .clear
.block-spacer

