- @title = "Spot.us - Member Profile"
.block-spacer
%h3 My Spot

= render :partial => 'nav'

#equalize

  - # first column content 
  .span-605.box_white
    %p= image_tag @profile.photo.url(:thumb)
    %h4.reg-line-height= h @profile.full_name
    %p.reg-line-height= h @profile.location
    .date.quiet.reg-line-height
      member since
      = @profile.created_at.to_s(:date)
    %p 
      = link_to(h(@profile.website), @profile.website)
    %hr

    %h3
      About
      = @profile.first_name

    = sanitize @profile.about_you
  
    .double_content_border

    = link_to 'Edit your profile', edit_myspot_profile_path

  - # second column content   
  .span-270.box_white
    = render :partial => 'common_questions'
  

.clear
.block-spacer

