<% @title = "Spot.us - Member Profile" %>

<div id="myspot_dashboard">
   <h3>My Spot</h3>

   <ul id="profile_tabs" class="tabs">
      <li><%= link_to 'Dashboard', myspot_donations_path, :id => 'dashboard_tab', :class => "myspot_tab" %></li>
      <li><%= link_to 'Profile', myspot_profile_path, :id => 'profile_tab', :class => "myspot_tab active" %></li>
      <li><%= link_to 'Settings', edit_myspot_settings_path, :id => 'settings_tab', :class => "myspot_tab" %></li>               
   </ul>

   <% if @profile.is_a?(Organization) %>
      <%= render :partial => 'profiles/news_org_profile' %>
   <% else %>
      <%= render :partial => 'profiles/profile' %>
   <% end %>
</div>
  

