= content_for :head do
  :javascript
    $(function(){
      $(".admin_tab").removeClass("hilited");
      $("#city_suggestions_tab").addClass("hilited");
    });

= render :partial => "/admin/admin_header"

%h2 City Suggestions
.box
  %table#city_suggestions
    %th City
    %th Email
    %th Created
    %th Action
    
    - for suggestion in @city_suggestions
      %tr
        %td= suggestion.city
        %td= suggestion.email
        %td= suggestion.created_at.to_s(:date)
        %td
          =link_to 'Delete', admin_city_suggestion_path(suggestion), :confirm => 'Are you sure?', :method => :delete

  = will_paginate @city_suggestions