<div class="news_item">
  <%= link_to image_tag(blog.featured_image.url(:medium), :class => "featured_image"), blog %>
  <h5><%= link_to blog.title, blog %></h5>
  <div class="dateline">
    <%= short_date(blog.created_at) %>
    by
    <%= link_to h(blog.user.full_name), profile_path(blog.user) %>
    in
    <%= blog.network_and_category %>
  </div>  
  <div class="description">
    <%= truncate_words(strip_html(blog.short_description), 45) %>
    <%= link_to "Read More &raquo;", blog %>
  </div>
</div>

    
