- @title = "Spot.us - Assignments for Pitch: #{h @pitch.headline}"
.block-spacer
#equalize
  .span-455.box_white
    %h2.headline
      %strong= h @pitch.headline
    .double_content_border
    = render :partial => 'news_items/user', :locals => { :news_item => @pitch }
    %h2.headline
      Related pitch
    .pitch_summary.clearfix
      .float-left
        = link_to image_tag(@pitch.featured_image.url(:thumb)), pitch_url(@pitch)
      %h2
        = link_to @pitch.headline, pitch_url(@pitch)
    .block-spacer-negative    
    %h2 Assignments
    .double_content_border
    #assignments
      - if current_user && current_user == @pitch.user
        = render :partial => @pitch.assignments 
      - elsif @pitch.assignments.status_open.any?
        = render :partial => @pitch.assignments.status_open
      - else
        Not every pitch has assignments. Like large cats, some reporters like to work alone. Check
        to see if other pitches do have assignments you can help out with!
    %br  
  .span-220.column_v.box_white
    = render :partial => "donations/button", :locals => { :news_item => @pitch }
    .block-spacer-negative
    = render :partial => 'pitches/keywords', :locals => {:pitch => @pitch}
  .span-160.box_white
    = render :partial => "pitches/supporters", :locals => {:news_item => @pitch}
