.row
  = f.label :title
  = f.text_field :title
.row
  = f.label :body
  = fckeditor_textarea('comment', 'body', :toolbarSet => 'Spotus', :height => '200px')
.row
  = f.hidden_field :commentable_id
  = f.hidden_field :commentable_type
  - if logged_in?
    = f.submit 'Post Comment'
  - else
    = button_to_function "Post Comment", "submitCommentToLogin();", :rel => "facebox"
