.row
  = f.label :title
  = f.text_field :title
  =# text_field_tag 'comment[blog_url]', '', :class => :highlight_required, :id => 'comment_blog_url'
.row
  = f.label :body
  =# ckeditor_textarea('comment', 'body', :toolbarSet => 'Spotus', :height => '200px')
  = f.text_area :body
.row
  = f.hidden_field :commentable_id
  = f.hidden_field :commentable_type
  = image_submit_tag image_path('/images/new_design/post_comment.png')
