= hidden_field_tag 'comment[news_item_id]', f.object.commentable_id
.row
  = f.label :title
  = f.text_field :title
.row
  = f.label :body
  = fckeditor_textarea('comment', 'body', :toolbarSet => 'Spotus', :height => '200px')
.row
  - if logged_in?
    = f.submit 'Post Comment'
  - else
    = button_to_function "Post Comment", "submitCommentToLogin();", :rel => "facebox"
