- if logged_in? 
  - if current_user.has_pledge_for?(news_item)
    = render :partial => "pledges/create"
  - else
    %div{:id => "inline_pledge_form_#{news_item.id}"}
      %div{:id => "pledge_button_#{news_item.id}"}
        - remote_form_for Pledge.new(:tip => news_item, :amount => 25), :update => "inline_pledge_form_#{news_item.id}" do |f|
          = f.hidden_field :amount
          = f.hidden_field :tip_id
          = image_submit_tag "pledge_25.png"
      %div{:style => "display:none", :id => "pledge_custom_#{news_item.id}"}
        - remote_form_for Pledge.new(:tip => news_item), :update => "inline_pledge_form_#{news_item.id}" do |f|
          = f.text_field :amount
          = f.hidden_field :tip_id
          = f.submit "Pledge"
      = link_to_function "OR DONATE ANOTHER AMOUNT", %{toggle_divs("#pledge_button_#{news_item.id}", "#pledge_custom_#{news_item.id}")}
- else
  = link_to image_tag('pledge_25.png'), new_session_path

