- if current_user && current_user.has_pledge_for?(news_item)
  = render :partial => "pledges/added", :locals => {:tip => news_item}
- else
  %div{:id => "inline_pledge_form_#{news_item.id}"}
    %div{:id => "pledge_button_#{news_item.id}"}
      - remote_form_for Pledge.new(:tip => news_item, :amount => Donation::DEFAULT_AMOUNT) do |f|
        = f.hidden_field :amount
        = f.hidden_field :tip_id
        = image_submit_tag("pledge_default.png")
    %div.inline_pledge{:style => "display:none", :id => "pledge_custom_#{news_item.id}"}
      - remote_form_for Pledge.new(:tip => news_item) do |f|
        .float_left= f.text_field :amount
        = f.hidden_field :tip_id
        .float_right= image_submit_tag("pledge.png")
        .clear
    .small.uppcased_button_text
      = link_to_function "OR PLEDGE ANOTHER AMOUNT &raquo;", %{toggle_divs("#pledge_button_#{news_item.id}", "#pledge_custom_#{news_item.id}")}
      .double_content_border
    = render :partial => "shared/hey_reporters", :locals => {:tip => news_item}

 

