/ Create Tip
.span-4
  CREATE TIP
.span-4
  = link_to "Initial", "../ui/create_tip"
  %br/
  = link_to "Active Search Initiating", "../ui/active_search_initiating"
  %br/
  = link_to "Existing Tips and Pitches Loaded", "../ui/existing_tips_and_pitches_loaded"
  %br/
  = link_to "Pitch Preview Lightbox", "../ui/pitch_preview_lightbox"
  %br/
  = link_to "Tip Preview Lightbox", "../ui/tip_preview_lightbox"
  %br/
  = link_to "Preview Tip", "../ui/preview_tip"
  %br/
  = link_to "Error", "../ui/create_tip_error"
.span-6
.clear{:style=>"margin-bottom:15px;"}