/ Create Tip
.span-3
  CREATE TIP
.span-5
  = link_to "Initial", "../ui/create_tip"
  %br/
  = link_to "Active Search Initiating", "../ui/create_tip_active_search"
  %br/
  = link_to "Existing Tips &amp; Pitches Loaded", "../ui/create_tip_tips_and_pitches_loaded"
  %br/
  = link_to "Pitch Preview Lightbox", "../ui/pitch_preview_lightbox"
  %br/
  = link_to "Tip Preview Lightbox", "../ui/tip_preview_lightbox"
  %br/
  = link_to "Preview Tip", "../ui/preview_tip"
  %br/
  = link_to "Error", "../ui/create_tip_error"
.span-6
.clear{:style=>"margin-bottom:15px;"}