/ Create Tip
.span-3
  CREATE TIP
.span-5
  = link_to "Initial", "../ui/create_tip"
  %br/
  = link_to "Active Search Initiating", "../ui/create_tip_active_search"
  %br/
  = link_to "Existing Tips &amp; Pitches Loaded", "../ui/create_tip_tips_and_pitches_loaded"
  %br/
  = link_to "Pitch Preview Lightbox", "../ui/create_tip_pitch_preview"
  %br/
  = link_to "Tip Preview Lightbox", "../ui/create_tip_tip_preview"
  %br/
  = link_to "Preview Tip", "../ui/create_tip_preview_tip"
  %br/
  = link_to "Error", "../ui/create_tip_error"
.span-6
  = link_to "ui/create_tip.html.haml", "#{@ui_url}/create_tip.html.haml"
  %br/
  = link_to "ui/create_tip_active_search.html.haml", "#{@ui_url}/create_tip_active_search.html.haml"
  %br/
  = link_to "ui/create_tip_tips_and_pitches_loaded.html.haml", "#{@ui_url}/create_tip_tips_and_pitches_loaded.html.haml"
  %br/
  = link_to "ui/create_tip_pitch_preview.html.haml", "#{@ui_url}create_tip_pitch_preview.html.haml"
  %br/
  = link_to "ui/create_tip_tip_preview.html.haml", "#{@ui_url}/create_tip_tip_preview.html.haml"
  %br/
  = link_to "ui/create_tip_preview_tip.html.haml", "#{@ui_url}/create_tip_preview_tip.html.haml"
  %br/
  = link_to "ui/create_tip_error.html.haml", "#{@ui_url}/create_tip_error.html.haml"
.clear{:style=>"margin-bottom:15px;"}
