%hr/
%div{:style=>"padding:10px 0 10px 0;background:#E5ECF9"}

  / header
  .span-3
    &nbsp;
  .span-5
    Styled Screen
  .span-6
    Mark-up Files
  .clear
%br/

= render :partial => 'ui_files/activity'
  
%hr

= render :partial => 'ui_files/browse'
  
%hr

= render :partial => 'ui_files/buy_credits'
  
%hr

= render :partial => 'ui_files/create_pitch'

%hr

= render :partial => 'ui_files/create_tip'

%hr

= render :partial => 'ui_files/dashboard'

%hr

= render :partial => 'ui_files/home'

%hr

= render :partial => 'ui_files/pitch'

%hr

= render :partial => 'ui_files/profile'

%hr

= render :partial => 'ui_files/edit_profile'

%hr

= render :partial => 'ui_files/login_register'

%hr

= render :partial => 'ui_files/report'

%hr

= render :partial => 'ui_files/reporters_notebook'

%hr

= render :partial => 'ui_files/settings'

%hr

= render :partial => 'ui_files/story'

%hr

= render :partial => 'ui_files/tell_friends'

%hr

= render :partial => 'ui_files/tips'


