%hr/
%h3 jQuery Elements
.clear
  = link_to "jquery.equalHeights.js", "#{@public_url}/javascripts/jquery.equalHeights.js"
  %br/
  &#45; Equal heights for columns instead of using CSS faux columns for lesser overhead.
.clear
  = link_to "jquery.pngFix.js", "#{@public_url}/javascripts/jquery.pngFix.js"
  %br/
  &#45; Png fix for ie6

%p.clear &nbsp;

%hr/  
%h3 Prototype Elements
.clear
  = link_to "jsProgressBarHandler.js", "#{@public_url}/javascripts/jsProgressBarHandler.js" 
  %br/
  &#45; Progress Bar

%p.clear &nbsp;

%hr/  
%h3 ckeditor
.clear
  = link_to "See Usage on README", "#{@plugin_url}/ckeditor/README"
  %br/ 
  &#45; This is an Ibox (a framework agnostic lightbox) plugin for Rails
  %br/
  = link_to "fckcustom.js", "#{@public_url}/javascripts/ckcustom.js"
  %br/
  &#45; ckeditor config file
  
%p.clear &nbsp;

%hr/  
%h3 Ibox&#45;Rails
.clear
  = link_to "See Usage on README", "#{@plugin_url}/ibox&#45;rails&#45;plugin/README"
  %br/
  &#45; This is an Ibox (a framework agnostic lightbox) plugin for Rails
