%hr/
%h3 jQuery Elements
.clear
  = link_to "jquery.equalHeights.js", "#{@public_url}/javascripts/jquery.equalHeights.js"
  %br - Equal heights for columns instead of using CSS faux columns for lesser overhead.
.clear
  = link_to "jquery.pngFix.js", "#{@public_url}/javascripts/jquery.pngFix.js"
  %br - Png fix for ie6

%p.clear &nbsp;

%hr/  
%h3 Prototype Elements
%span.clear
  = link_to "jsProgressBarHandler.js", "#{@public_url}/javascripts/jsProgressBarHandler.js" 
  %br - Progress Bar

%p.clear &nbsp;

%hr/  
%h3 FCKEditor
%span.clear
  = link_to "fckcustom.js", "#{@public_url}/javascripts/fckcustom.js" 
  %br - FCKEditor config file