%ul
  %li= link_to "application.html.haml", "#{@layouts_url}/application.html.haml"
  %li= link_to "_head.html.haml", "#{@layouts_url}/_head.html.haml"
  %li= link_to "_user_header.html.haml", "#{@layouts_url}/_user_header.html.haml"
  %li= link_to "_header.html.haml", "#{@layouts_url}/_header.html.haml"
  %li= link_to "_footer.html.haml", "#{@layouts_url}/_footer.html.haml"
  %li= link_to "_footer_notes.html.haml", "#{@layouts_url}/_footer_notes.html.haml"
  %li= link_to "_footer_copyright.html.haml", "#{@layouts_url}/_footer_copyright.html.haml"
