<% @title = "Spot.us - Search" %>

<ul class="tabs">
	<li <%if @tab=='unfunded'%>class="current"<%end%>><a href="/search/<%=@search_term%>/unfunded">Unfunded</a></li>
	<li <%if @tab=='funded'%>class="current"<%end%>><a href="/search/<%=@search_term%>/funded">Funded</a></li>
	<li <%if @tab=='published'%>class="current"<%end%>><a href="/search/<%=@search_term%>/published">Published</a></li>
	<li <%if @tab=='updates'%>class="current"<%end%>><a href="/search/<%=@search_term%>/updates">Updates</a></li>
	<li <%if @tab=='community'%>class="current"<%end%>><a href="/search/<%=@search_term%>/community">Community</a></li>
</ul>
<%unless @tab == "community"%>
	<%= render :partial => "shared/lists", :locals => {:items => @items, :template_name => @template_name, :no_items_message => "No stories found for your search."} %>
<%else%>

	<div class="donorsContainer community">

		<ul>
			<%@items.each do |user|%>
				<%=render :partial => @template_name, :locals => { :user => user }%>
			<%end%>
		</ul>

		<%=will_paginate @items%>

	</div>

<%end%>