<% @title = "Spot.us - Member Dashboard" %>

<div id="myspot_dashboard">
   <%= render :partial => "myspot/nav", :locals => {:selected_tab => "dashboard"} %>
   <div id="profile_container">
      <%= render :partial => "myspot/dashboard_nav", :locals => {:selected_tab => "posts"} %>
      <div id="dashboard_content">
        <% if @posts.blank? %>
          <p>
            You haven't made any blog posts yet.  Visit the
            <%= link_to 'My Pitches', myspot_pitches_path %>
            page to make one.
          </p>
        <% else %>
          <table>
            <tr>
              <th>Title</th>
              <th>Pitch</th>
              <th>Actions</th>
            </tr>
               <% @posts.each do |post| %>
                 <tr>
                   <td>
                     <%= link_to image_tag(post.blog_image_display(:thumb)), pitch_url(post.pitch) %>
                     <%= link_to post.title, pitch_post_url(post.pitch, post) %>
                   </td>
                   <td class="pitch">
                     <%= link_to post.pitch.headline, pitch_url(post.pitch) %>
                   </td>
                   <td>
                     <%= link_to 'Edit', edit_pitch_post_url(post.pitch, post) %>
                     <%= link_to 'Delete', pitch_post_url(post.pitch, post), :method => :delete, :confirm => "Are you sure you want to delete this blog post?" %>
                   </td>
                 </tr>
              <% end %>
   			 <tr>
   				<td colspan='3'><%=will_paginate @posts%></td>
   			</tr>
            </table>
         <% end %>
      </div>
   </div>
</div>
