<div class="formContainer">
	<div class="formBody">
		<div class="row">
			<%=yield :error%>
		</div>
		<div class="row">
		    <%= f.label :amount %>
		    <%= f.text_field :amount %>
		</div>
		<div class="row">
		    <%= f.label :description %>
		    <%= f.text_field :description %>
		</div>
		<div class="row submit">
		    <label> </label>
		    <%= get_button("Save") %>
		</div>
	</div>
</div>
