<div class="pitchRightContainer">
	<div class="smallFundBox">
		<%= render :partial => "pitches/progress_bar", :locals => { :pitch => @pitch }%>
		<%= render :partial => "shared/donate_buttons", :locals => { :pitch => @pitch }%>
	</div>
	<%unless defined?(@post) %>
		<%= render :partial => "pitches/admin_menu",:locals => {:pitch=>@pitch} %>
	<%else%>
		<%= render :partial => "pitches/admin_menu",:locals => {:pitch=>@pitch, :post => @post} %>
	<%end%>
	<%= render :partial => "pitches/donors", :locals => { :pitch => @pitch, :number_of_donors => 4 }%>
	<%= render :partial => "pitches/get_involved"%>
</div>