<div class="pitchRightContainer">
	<div class="smallFundBox">
		<%= render :partial => "pitches/progress_bar", :locals => { :pitch => @pitch }%>
		<%= render :partial => "shared/donate_buttons", :locals => { :pitch => @pitch }%>
	</div>
	<%unless defined?(@post) %>
		<%= render :partial => "pitches/admin_menu",:locals => {:pitch=>@pitch} %>
	<%else%>
		<%= render :partial => "pitches/admin_menu",:locals => {:pitch=>@pitch, :post => @post} %>
	<%end%>
	<%= render :partial => 'pitches/incentives', :locals => { :incentives => @pitch.get_incentives(is_admin?), :pitch => @pitch }%>
	<%= render :partial => "pitches/donors", :locals => { :pitch => @pitch, :number_of_donors => 4 }%>
	<%= render :partial => "pitches/get_involved"%>
	<%= render :partial => "pitches/copyright" if @story%>
	<%if @story && @story.show_repostus?%>
		<ul class="getInvolved" style='margin-top:-20px;'>
			<h3>Repost.Us</h3>
			<li>
				<a class='rpuRepostUsButton' href='https://secure.repost.us/syndicate/create?url=<%=URI.encode("#{pitch_path(@pitch, {:only_path=>false})}/story")%>'>
					<img title='Repost This' alt='Repost This' src='http://1.rp-api.com/buttons/repost.png'/>
				</a>
			</li>
		</ul>
	<%end%>
	
</div>