- unless @pitch.errors.empty?
  - content_for :error do
    = error_messages_for :pitch

- @title = "Spot.us - Create a Pitch"
.block-spacer
%h3 Create a Pitch

#equalize
  -# first column content 
  .span-715.box_white
    .create_a_pitch
      %ol.create_a_pitch_iconized
        %li.tipster
        %li.pitcher
        %li.pledgester
        %li.journalist
      %ol.create_a_pitch_steps
        %li.tipster People Create Tips
        %li.pitcher Journalist Build Pitches
        %li.pledgester Communities Fund Pitches
        %li.journalist Journalist Write Stories
    .take_action
      %h4 This is your space to fundraise for an investigation you want to do. It's very similar to pitching an editor - except in this case the public has the freelance budget.
      %br/
      %br/
      %br/
      %p.no_margin
        %strong What kind of stories are we looking for?
      %ul
        %li== #{link_to "Get advice from spot us on how to build good pitches", page_path("about") + "#faq_reporter"},
        
        %li 
          Don't forget to
          = link_to "reference community tips", "/news_items/search?news_item_type=tips&sort_by=desc&x=85&y=5"          
          Once your pitch is done browse for news tips and if they are related to your pitch, use the reporters toolbar to notify them of your pitch.
    .clear
    
    .block-spacer-negative
    
    = render :partial => 'form'
      
  -# second column content   
  = render :partial => 'sidebar'
.clear
.block-spacer

