- if pitch.editable_by?(current_user) || pitch.featureable_by?(current_user) || pitch.postable_by?(current_user) || (pitch.story && pitch.fact_checker == current_user) || (pitch.fully_funded? && current_user == pitch.user)
  .block-spacer-negative
- if pitch.editable_by?(current_user)
  .centered= link_to image_tag("edit_this_pitch_b.png"), edit_pitch_path(pitch)
- if pitch.featureable_by?(current_user)
  - if pitch.featured?
    .centered= link_to image_tag('un-feature.gif'), unfeature_pitch_path(pitch), :method => :put
  - else
    .centered= link_to image_tag('feature_this_pitch.png'), feature_pitch_path(pitch), :method => :put
- if pitch.postable_by?(current_user)
  = link_to image_tag('make_blog_post.gif'), new_pitch_post_path(pitch)
- if pitch.story && pitch.fact_checker == current_user
  = link_to image_tag('go_to_story.gif'), story_path(pitch.story)
- if pitch.fully_funded? && current_user == pitch.user
  = link_to image_tag('report.gif'), edit_story_path(pitch.story)
