- if pitch.editable_by?(current_user) || pitch.featureable_by?(current_user) || pitch.postable_by?(current_user) || pitch.approvable_by?(current_user)
  .centered= link_to image_tag("/images/new_design/actionitems.png"), "#", :title => "Action Items", :id => "show_action_items"
#action_buttons.hide
  #action_buttons_container.clearfix
    %h3 Action Items
    - if pitch.approvable_by?(current_user)
      - if pitch.unapproved?
        .centered= link_to image_tag("approve.gif"), approve_admin_pitch_path(pitch), :method => :put, :title => "Approve This Pitch"
      - elsif pitch.active?
        .centered= link_to image_tag("unapprove.gif"), unapprove_admin_pitch_path(pitch), :method => :put, :title => "Un-approve This Pitch"

    - if pitch.editable_by?(current_user)
      .centered= link_to image_tag("edit_this_pitch_b.png"), edit_pitch_path(pitch), :title => "Edit This Pitch"
    - if pitch.featureable_by?(current_user)
      - if pitch.featured?
        .centered= link_to image_tag('un-feature.gif'), unfeature_pitch_path(pitch), :method => :get, :title => "Un-Feature"
      - else
        .centered= link_to image_tag('feature_this_pitch.png'), feature_pitch_path(pitch), :method => :get, :title => "Feature This Pitch"
    - if pitch.postable_by?(current_user)
      = link_to image_tag('make_blog_post.gif'), new_pitch_post_path(pitch), :title => "Make Blog Post"Ë
    - if pitch.assignable_by?(current_user)
      = link_to image_tag('make_assignment.gif'), new_pitch_assignment_path(pitch), :title => "Make Assignment"
    - if pitch.story
      = link_to image_tag('go_to_story.gif'), story_path(pitch.story), :title => "Go To Story"
    - if (current_user == pitch.user && !pitch.story)
      = link_to image_tag('report.gif'), begin_story_pitch_path(pitch), :title => "begin your story draft"
    - if (!pitch.fully_funded? && current_user == pitch.user)
      = link_to image_tag('accept_donations.gif'), accept_myspot_pitch_path(pitch), :method => :put, :confirm => "If you confirm we will stop collecting donations and you'll be contracted to complete the pitch?", :title => "Accept Donations"
    = link_to image_tag('delete.png'), pitch_path(pitch), :method => :delete, :confirm => "Do you wish to delete this pitch?", :title => "Delete Pitch"
    - if current_user.admin?
      %h3 Public Support
      = pitch.supporters.map{ |supporter| link_to(supporter.email, "mailto:#{supporter.email}", :alt => supporter.email) }.join(", ")
      %h3 Subscribers
      = pitch.subscribers.map{ |subscriber| link_to(subscriber.email, "mailto:#{subscriber.email}", :alt => subscriber.email) }.join(", ")