<%if is_admin? || pitch.editable_by?(current_user) || pitch.featureable_by?(current_user) || pitch.postable_by?(current_user) || pitch.approvable_by?(current_user)%>
	<div class='adminMenu'>
		<h3>Pitch Author Options</h3>
		<%if pitch.approvable_by?(current_user)%>
			<%if pitch.unapproved?%>
				<%= link_to "Approve", approve_admin_pitch_path(pitch), :method => :put, :title => "Approve This Pitch"%>
			<%elsif pitch.active?%>
				<%= link_to "Unapprove", unapprove_admin_pitch_path(pitch), :method => :put, :title => "Un-approve This Pitch"%>
			<%end%>
		<%end%>
		<%if pitch.editable_by?(current_user)%>
			<%= link_to "Edit this pitch", edit_pitch_path(pitch), :title => "Edit This Pitch"%>
			<%= link_to "Add An Incentive", new_pitch_incentive_path(pitch), :title => "Add An Incentive"%>
		<%end%>
		<%if pitch.featureable_by?(current_user)%>
			<%if pitch.featured?%>
				<%= link_to "Unfeature", unfeature_pitch_path(pitch), :method => :get, :title => "Un-Feature"%>
			<%else%>
				<%= link_to "Feature", feature_pitch_path(pitch), :method => :get, :title => "Feature This Pitch"%>
			<%end%>
		<%end%>
		<%if pitch.postable_by?(current_user)%>
			<%if !defined?(post) || !post%>
				<%= link_to "Write a blog post", new_pitch_post_path(pitch), :title => "Write a blog post" %>
			<%else%>
				<%= link_to "Edit this blog post", edit_pitch_post_path(pitch, post), :title => "Edit this blog post" %>
			<%end%>
		<%end%>
		<%if pitch.assignable_by?(current_user)%>
			<%= link_to "Create an assignment", new_pitch_assignment_path(pitch), :title => "Make Assignment"%>
		<%end%>
		<%if (current_user == pitch.user && !pitch.story)%>
			<%= link_to "Turn in draft story", begin_story_pitch_path(pitch), :title => "begin your story draft"%>
		<%end%>
		<%if (!pitch.fully_funded? && (current_user == pitch.user || is_admin?))%>
			<%= link_to "Accept donations", accept_myspot_pitch_path(pitch), :method => :put, :confirm => "If you confirm we will stop collecting donations and you'll be contracted to complete the pitch?", :title => "Accept Donations"%>
			<%= link_to "Close", close_admin_pitch_path(pitch), :confirm => "Do you wish to close this pitch?", :title => "Close Pitch" unless pitch.closed?%>
			<%= link_to "Delete", pitch_path(pitch), :method => :delete, :confirm => "Do you wish to delete this pitch?", :title => "Delete Pitch"%>
		<%end%>
		<%if is_admin?%>
			<%unless pitch.supporters.empty?%>
				<span id="toggleEmailSupporters">Emails to Public Supporters</span>
				<p id="listEmailSupporters" class="emailList" style="display:none;">
					<strong>These are the emails of the public supporters</strong>
					<%= pitch.supporters.map{ |supporter| link_to(supporter.email, "mailto:#{supporter.email}", :alt => supporter.email) }.join(", ")%>
				<p>
			<%end%>
			<%unless @pitch.subscribers.empty?%>
				<span id="toggleEmailSubscribers">Emails To Subscribers</span>
				<p id="listEmailSubscribers" class="emailList" style="display:none;">
					<%= pitch.subscribers.map{ |subscriber| link_to(subscriber.email, "mailto:#{subscriber.email}", :alt => subscriber.email) }.join(", ")%>
				</p>
			<%end%>
		<%end%>
	</div>
<%end%>