- if @item.accepted_contributors.any?
  %h4 Contributors:
  .contributor
    - @item.accepted_contributors.each do |contributor|
      = image_tag contributor.photo.url(:thumb), :width => "28"
      = contributor.full_name
- if current_user != @item.user
  .apply
    - if current_user && @item.accepted_contributors.include?(current_user)
      %em You have been accepted as a contributor to this assignment.
    - elsif current_user && @item.rejected_contributors.include?(current_user)
      %em You have been rejected as a contributor to this assignment.
    - elsif current_user &&  @item.contributors.include?(current_user)
      %em You have applied to contribute to this assignment.
    - else
      = link_to("Apply to contribute", process_application_pitch_assignment_path(@item.pitch, @item), :class => "admin_button", :confirm => "Apply as a contributor? Clicking OK will send a message to the creator of the pitch.")
- if @item.user == current_user
  #assignments_admin
    %h4 Assignment Admin
    %p
      %em 
        status
        = @item.status + ":"
      - if @item.status == "open"
        = link_to "close assignment?", close_assignment_pitch_assignment_path(@item.pitch, @item), :confirm => "Close assignment?"
      - elsif @item.status == "closed"
        = link_to "re-open assignment", open_assignment_pitch_assignment_path(@item.pitch, @item), :confirm => "Re-open assignment?"
    - if @item.contributors.any? and @item.status == "open"
      %h4 Contributor Applications
      %table.assignment_admin{:width => "100%"}
        %tr
          %th name
          %th status
          %th.actions actions
        - @item.applications.each do |application|
          %tr
            %td.name
              = application.contributor.full_name
            %td.status
              %em= application.status
            %td.actions
              - if application.status == "pending"
                = link_to "accept", "/assignment/#{@item.id}/application/accept/#{application.id}", :confirm => "Accept contributor?"
                |
                = link_to "reject", "/assignment/#{@item.id}/application/reject/#{application.id}", :confirm => "Reject contributor?"
              - elsif application.status == "accepted"
                = link_to "reject", "/assignment/#{@item.id}/application/reject/#{application.id}", :confirm => "Reject contributor?"
              - elsif application.status == "rejected"
                = link_to "accept", "/assignment/#{@item.id}/application/accept/#{application.id}", :confirm => "Accept contributor?"