<%if pitch.supporters.any?%>
	<div class="donorsBox">
		<h3>Individual Donors</h3>
		<ul class="total">
			<li><h5><%= format_credits(pitch.total_amount_donated)%> credits donated to the story</h5></li>
			<li><span>(<%=pitch.supporters.length%> supporters)</span></li>
		</ul>
		<ul class="supporters">
			<%nrs = pitch.supporters.length>number_of_donors ? number_of_donors : pitch.supporters.length%>
			<%nrs.times do |ind|%>
				<%supporter = pitch.supporters[ind]%>
				<% apply_fragment ['pitch_supporter_listing_small_', pitch, supporter] do %>
					<li><%=link_to image_tag(supporter.photo.url(:thumb), {:alt => supporter.full_name}), profile_path(supporter)%></li>
				<%end%>
			<%end%>
			<%unless nrs<number_of_donors%>
				<span><%= link_to "and #{pitch.supporters.length-nrs} others...", pitch_path(pitch)+"/donors#individuals"%></span>
			<%end%>
		</ul>
	</div>
<%end%>
<%if pitch.donating_groups.any?%>
	<div class="donorsBox">
		<h3>Group Support</h3>
		<ul class="total">
			<li><h5><%= format_credits(pitch.total_amount_donated)%> credits donated to the story</h5></li>
			<li><span>(<%=pitch.donating_groups.length%> supporters)</span></li>
		</ul>
		<ul class="supporters">
			<%nrs = pitch.donating_groups.length>number_of_donors ? number_of_donors : pitch.donating_groups.length%>
			<%nrs.times do |ind|%>
				<%supporter = pitch.supporters[ind]%>
				<% apply_fragment ['pitch_groups_listing_small_', pitch, supporter] do %>
					<li>
						<%=link_to image_tag(supporter.photo.url(:thumb), {:alt => supporter.full_name}), profile_path(supporter) if supporter.respond_to? :photo%>
						<%=link_to image_tag(supporter.image.url(:thumb), {:alt => supporter.name}), profile_path(supporter) if supporter.respond_to? :image%>
					</li>
				<%end%>
			<%end%>
			<%unless nrs<number_of_donors%>
				<span><%= link_to "and #{pitch.donating_groups.length-nrs} others...", pitch_path(pitch)+"/donors#groups"%></span>
			<%end%>
		</ul>
	</div>
<%end%>
<%if pitch.supporting_organizations.any? || pitch.donations_and_credits.from_organizations.any?%>	
	<%supporters = []%>
	<%supporters.concat(pitch.supporting_organizations) if pitch.supporting_organizations.any?%>
	<%supporters.concat(pitch.donations_and_credits.from_organizations.map(&:user)) if pitch.donations_and_credits.from_organizations.any?%>
	<%supporters.uniq!%>
	<div class="donorsBox">
		<h3>Organization Support</h3>
		<ul class="total">
			<li><h5><%= format_credits(pitch.donations_and_credits.from_organizations.map{ |d| d.amount }.sum)%> credits donated to the story</h5></li>
			<li><span>(<%=supporters.length%> supporters)</span></li>
		</ul>
		<ul class="supporters">
			<%nrs = supporters.length>number_of_donors ? number_of_donors : supporters.length%>
			<%nrs.times do |ind|%>
				<%supporter = supporters[ind]%>
				<% apply_fragment ['pitch_organization_listing_small_', pitch, supporter] do %>
					<li><%=link_to image_tag(supporter.photo.url(:thumb), {:alt => supporter.full_name}), profile_path(supporter)%></li>
				<%end%>
			<%end%>
			<%unless nrs<number_of_donors%>
				<span><%= link_to "and #{supporters.length-nrs} others...", pitch_path(pitch)+"/donors#organizations"%></span>
			<%end%>
		</ul>
	</div>
<%end%>
<%unless Donation.cca_supporters(pitch.id).all.empty?%>
	<div class="donorsBox">
		<%donations = via_cca_supporters_for(pitch)%>
		<h3>Community-Centered Advertising</h3>
		<ul class="total">
			<li><h5><%= format_credits(Donation.cca_supporters(pitch.id).map{ |obj| obj.cca_total_amount.to_f }.sum)%> credits donated to the story</h5></li>
			<li><span>(<%=donations.length%> supporters)</span></li>
		</ul>
		<ul class="supporters">
			<%nrs = donations.length>number_of_donors ? number_of_donors : donations.length%>
			<%nrs.times do |ind|%>
				<%cca = donations[ind].cca%>
				<% apply_fragment ['pitch_cca_listing_small_', pitch, cca] do %>
					<%if cca && cca.user%>
						<li><%=link_to image_tag(cca.user.photo.url(:thumb), {:alt => cca.user.full_name}), cca_path(cca)%></li>
					<%end%>
				<%end%>
			<%end%>
			<%unless nrs<number_of_donors%>
				<span><%= link_to "and #{donations.length-nrs} others...", pitch_path(pitch)+"/donors#cca"%></span>
			<%end%>
		</ul>
	</div>
<%end%>