- form_for(@pitch, :html => { :multipart => true }) do |f|
  .box_yellow.create_a_pitch_form
    .yellow-spacer-negative
    .row
      = f.label :location, "Location"
      = f.select :location, LOCATIONS
    .row
      = f.label     :headline, "Your Pitch's Headline <br /><span class='small quieter'>Required</span>"
      = f.text_area :headline, :rows => 2
    .yellow-spacer-negative
    .row
      = f.label :short_description, "Why would someone care? Sell the story! <br /><span class='small quieter'>Required. <br /><br /> This is your chance to explain what the pitch is about. Think of it like a nut graph.</span>"
      = fckeditor_textarea("pitch", "short_description", :toolbarSet => 'Spotus', :width => '67%', :height => '200px')
    .row
      .form_hint.small
        500 Characters Remain
    .yellow-spacer-negative
    .row
      %label{:for => ""}
        Topics
    .row
      = topic_check_boxes(@pitch)
    .yellow-spacer-negative
    .row
      = f.label :extended_description, "How can your reporting help?"
      = fckeditor_textarea("pitch", "extended_description", :toolbarSet => 'Spotus', :width => '100%', :height => '200px')
      .yellow-spacer-negative
      .row
      = f.label :skills, "Do you have the skills and access to report on this story? <br /><span class='small quieter'>Make a case for why your expertise as a journalist is worth the money you are requesting.</span>"
      = f.text_area :skills, :rows => 3
    .yellow-spacer-negative
    .row
      = f.label :keyword, "Keywords <br /><span class='small quieter'>Optional.  Keywords, or tags, should be separate by commas, for example: &quot;car, automobile, SUVs.&quot;</span>"
      = f.text_area :keywords, :rows => 3
    .yellow-spacer-negative
    .row
      = f.label :requested_amount, "Requested Amount <br /><span class='small quieter'>Note: 10% goes to Peer-Review Editor</span>"
      = f.text_field :requested_amount, :maxlength => 15, :size => 15
    .yellow-spacer-negative
    .row
      = f.label :delivery_description, "Required: What will be delivered? <br /><span class='small quieter'>Explain in detail what you will produce.</span>"
      .form_hint.delivered
        = f.label     :deliver_text,  "Text", :class => "small"
        = f.check_box :deliver_text
        = f.label     :deliver_audio, "Audio", :class => "small"
        = f.check_box :deliver_audio
        = f.label     :deliver_video, "Video", :class => "small"
        = f.check_box :deliver_video
        = f.label     :deliver_photo, "Photos", :class => "small"
        = f.check_box :deliver_photo
        = f.text_area :delivery_description
      %br
    .yellow-spacer-negative
    .row
      %label{:for => ""} 
        Add Media
    .yellow-spacer-negative-blank
    .row.media
      %label.small{:for => ""}
        Required: Upload A Featured Image
        %br
        %span.quieter JPEG, PNG and GIF's less than 5 MB.
      = f.file_field :featured_image
    .yellow-spacer-negative-blank
    .row.media
      = f.label :featured_image_caption, "Required: Add a Featured Image Caption" + "<br/><span class='small quieter'>200 Characters Max</span>", :class => "small"
      = f.text_area :featured_image_caption, :rows => 2
    .yellow-spacer-negative-blank
    .row.media
      = f.label :video_embed, "Embed a Video" + "<br/><span class='quieter small'>Paste your third-party embeded code here. <br/> We can only take Vimeo or YouTube at this time.</span>", :class => "small"
      = f.text_area :video_embed, :rows => 4
    .yellow-spacer-negative-blank
    .row.media
      = f.label :widget_embed, "Embed a Widget" + "<br/><span class='quieter small'>Paste your third-party widget embeded code (e.g. Sprout) here.</span>", :class => "small"
      = f.text_area :widget_embed, :rows => 4
    .yellow-spacer-negative
    .row
      = f.label :expiration_date, "Expiration Date <br /><span class='quieter small'>(Optional)</span>"
      = f.date_select :expiration_date
    .yellow-spacer-negative
    .free
      .float_left
      = f.check_box :contract_agreement
      = f.label :contract_agreement, %Q(I agree with the #{link_to "Reporter's Contract", page_path('reporter_contract'), :class => "quieter"} (independent contractor agreement, please read).)
      .clear

  .double_content_border

  .float-right
    - if @pitch.new_record?
      = image_submit_tag image_path('create_a_pitch.png')
    - else
      = image_submit_tag image_path('save.png')
      = link_to image_tag('cancel.png', :alt => 'Cancel'), root_url

