<div class="item">
	<%= render :partial=>'tabs' %>
	<% apply_fragment ['pitch_detail_page_top_', @tab, @pitch, @item] do %>
		<div class="item_tab tab_panel clearfix">
		   <div class="mini_header"><%=pre_title?(@item)%>
		      <span class="view_all"> <a href="<%=pitch_path(@pitch)%>/<%=@tab%>"> &laquo; view all <%=pre_title?(@item).pluralize.downcase %></a> </span>  
		   </div>
			<h2 class="title">
				 <%= @item.title %>
			</h2>
			<h3 class="date">
				posted by <%= link_to @item.user.full_name, profile_path(@item.user) %> at <%= @item.created_at.to_s(:long_date) %>
			</h3>
			<%= image_tag(@item.blog_image.url(:medium), :class => "blog_image") if @item.class.to_s == "Post" and @item.blog_image_file_name %>
			<div class="body clearfix">
		       <%= @item.body %>
			</div>
			<div class="body backto">
		       <a href="<%=pitch_path(@pitch)%>/<%=@tab%>"> &laquo; view all <%=pre_title?(@item).pluralize.downcase %></a>
		   </div>
		</div>
	<% end %>
	<% if current_user %>
		<div class="edit_bar">
			<% if @tab == 'posts' %>
				<% if @pitch.postable_by?(current_user) %>
					<%= link_to "Edit post", edit_pitch_post_path(@pitch, @item), :class => "admin_button" %>
				<% end %> 
			<% elsif @tab == 'assignments' %>
				<% if @pitch.assignable_by?(current_user) %>
					<%= link_to "Edit assignment", edit_pitch_assignment_path(@pitch, @item), :class => "admin_button" %>
					<br/><br/>
				<% end %>
				<%= render :partial=>'assignment_admin' %>
			<% end %>
		</div>
	<% end %>
</div>