<div class="item pitch_item">
	<% apply_fragment ['pitch_detail_page_top_alt_', @tab, @pitch, @item] do %>
		<div class="item_tab tab_panel clearfix">
		   <div class="mini_header"><%=pre_title?(@item)%>
		      <span class="view_all"> <a href="<%=pitch_path(@pitch)%>/<%=@tab%>"> &laquo; view all <%=pre_title?(@item).pluralize.downcase %></a> </span>
		   </div>
			<h2 class="title">
				 <%= @item.title %>
			</h2>
			<h3 class="date">
				posted by <%= link_to @item.user.full_name, profile_path(@item.user) %> at <%= @item.created_at.to_s(:long_date) %>
			</h3>
			<%= image_tag(@item.blog_image.url(:medium), :class => "blog_image") if @item.class.to_s == "Post" and @item.blog_image_file_name %>
			<% unless @item.media_embed.blank? %>
				<div class="media_embed">
					<%= @item.media_embed %>
				</div>
			<% end %>
			<div class="body clearfix">
		       <%= @item.body %>
			</div>
			<div class="body backto">
		       <a href="<%=pitch_path(@pitch)%>/<%=@tab%>"> &laquo; view all <%=pre_title?(@item).pluralize.downcase %></a>
		   </div>
		</div>
	<% end %>
	<div class="edit_bar">
	<% if current_user %>
			<% if @tab == 'posts' %>
				<% if @pitch.postable_by?(current_user) %>
					<%= link_to "Edit post", edit_pitch_post_path(@pitch, @item), :class => "admin_button" %>
				<% end %> 
			<% elsif @tab == 'assignments' %>
				<% if @pitch.assignable_by?(current_user) %>
					<%= link_to "Edit assignment", edit_pitch_assignment_path(@pitch, @item), :class => "admin_button" %>
					<br/><br/>
				<% end %>
				<div id="assignment_admin">
				  <%= render :partial=>'assignment_admin' %>
				</div>
			<% end %>
	<% elsif @tab == 'assignments' %>
		<div class="apply">
		    <%= link_to "Apply to contribute", "javascript:alert('To apply to this pitch: please login, refresh this page, and click this button again.');", :class => "admin_button" if !current_user %>
		</div>
	<% end %>
	</div>
</div>