<%apply_fragment ['pitch_detail_page_', @tab, @pitch, @item] do %>
	<div>
		<%=render :partial=>'tabs'%>
		<div class="description_tab tab_panel clearfix">
			<h2 class="title">
				<%=pre_title?(@item)%>: <%= @item.title %>
			</h2>
			<h3 class="date">
				posted by <%= link_to @item.user.full_name, profile_path(@item.user) %> at <%= @item.created_at.to_s(:long_date)%>
			</h3>
			<div class="body">
		       <%= @item.body %>
		    </div>
			<div class="body backto">
		       &laquo; <a href="<%=pitch_path(@pitch)%>/<%=@tab%>">Back to <%=pre_title?(@item).pluralize%></a>
		    </div>
		</div>
	</div>
<%end%>