<% div_for(pitch, :class => "clearfix") do %>
		<div class="donater">
			<%= render :partial => "donations/button", :locals => { :news_item => pitch } %>
<% apply_fragment ['pitch_listing_bottom_', pitch] do %>
			<%if pitch.story && pitch.story.published?%>
				<br/>
				<%= link_to image_tag('/images/read-story-purple.png', :alt => "", :style=>"padding-top:5px;"), story_path(pitch.story) %>
			<%end%>		
		</div>		
		<%= render :partial => 'news_items/news_item', :object => pitch %>
		<div class="author clearfix">
			<%= link_to image_tag(pitch.user.photo(:thumb), :class => "avatar", :alt => ""), profile_path(pitch.user) %>
			<%= link_to "By " + truncate(pitch.user.full_name.upcase, :length => 28), profile_path(pitch.user), {:title => pitch.user.full_name.upcase} %>
		</div>
	<% end %>
<%end%>


