<%unless pitch.fully_funded?%>
	<div class="progressIncomplete">
		<div style="width: <%=pitch.funding_in_percentage%>%;">&nbsp;</div>
		<h5><%=pitch.funding_in_percentage%>% funded</h5>
	</div>
<%else%>
	<div class="progressComplete">
		<div style="width: 100%;">&nbsp;</div>
		<h5>100% funded</h5>
	</div>			
<%end%>

<ul class="progressDataContainer">
	<%if !pitch.story || pitch.story.published?%>
		<li class="dueDate"><%= due_date_in_words(pitch.expiration_date) %></li>
	<%end%>
	<li class="totalAmount"><%=number_to_currency pitch.total_amount_donated%> of <%=pitch.funding_needed>0 ? number_to_currency(pitch.requested_amount) : number_to_currency(pitch.total_amount_donated)%> raised</li>
</ul>