<%unless pitch.fully_funded?%>
	<div class="progressIncomplete">
		<div style="width: <%=pitch.funding_in_percentage%>%;">&nbsp;</div>
		<h5><%=pitch.funding_in_percentage%>% funded</h5>
	</div>
<%else%>
	<div class="progressComplete">
		<div style="width: 100%;">&nbsp;</div>
		<h5>100% funded</h5>
	</div>			
<%end%>

<ul class="progressDataContainer">
	<%if !pitch.story || pitch.story.published?%>
		<li class="dueDate"><%= due_date_in_words(pitch.expiration_date) %></li>
	<%end%>
	<li class="totalAmount"><%= format_credits(pitch.total_amount_donated)%><%unless pitch.donations_closed?%> of <%=format_credits(pitch.funding_needed>0 ? pitch.requested_amount : pitch.total_amount_donated)%><%end%> credits raised</li>
</ul>