<% apply_fragment ['pitch_detail_page_alt_', @tab, @pitch] do %>
	<ul id="tabHeaderPitch" class="pitch_nav">
		<li class="story<%= active_tab_class?(@tab, '')%>"><a href="<%=pitch_path(@pitch)%>" class="tab<%= active_tab_class?(@tab, '')%>">Story</a></li>
		<li class="<%= active_tab_class?(@tab, 'posts')%>"><a href="<%=pitch_path(@pitch)%>/posts" class="tab<%= active_tab_class?(@tab, 'posts')%>">Updates (<%= @pitch.posts.size %>)</a></li>
		<li class="<%= active_tab_class?(@tab, 'comments')%>"><a href="<%=pitch_path(@pitch)%>/comments" class="tab<%= active_tab_class?(@tab, 'comments')%>">Comments (<%= @pitch.comments.size %>)</a></li>
		<li class="assignments<%= active_tab_class?(@tab, 'assignments')%>"><a href="<%=pitch_path(@pitch)%>/assignments" class="tab<%= active_tab_class?(@tab, 'assignments')%>">Assignments (<%= @pitch.assignments.status_open.size %>)</a></li>
	</ul>
<% end %>
<br clear="all"/>