<div class="widgetPopup">
	<div class="widgetContainer">
		<h1><a href="http://spot.us" title="Spot.us">Spot.us</a></h1>
		<div class="widgetContent">
			<% if @pitch.story && @pitch.story.published? %>
				<h2>This story has been published!</h2>
				<%= link_to image_tag(@pitch.featured_image.url(:medium)), @pitch, :target => "_parent" %> <h4><%= link_to h(@pitch.story.headline), @pitch.story, :target => "_parent" %></h4>
				 by <%= link_to truncate(h(@pitch.story.user.full_name), :length => 12), profile_path(@pitch.story.user), :target => "_parent" %>
				<div class="smallFundBox">
					<%= render :partial => "pitches/progress_bar", :locals => { :pitch => @pitch }%>
				</div>
			<% else %>
				<h2>Help fund this story!</h2>
				<%= link_to image_tag(@pitch.featured_image.url(:medium)), @pitch, :target => "_parent" %> <h4><%= link_to h(@pitch.headline), @pitch, :target => "_parent" %></h4>
				 by <%= link_to truncate(h(@pitch.user.full_name), :length => 20), profile_path(@pitch.user), :target => "_parent" %>
				<div class="smallFundBox">
					<%= render :partial => "pitches/progress_bar", :locals => { :pitch => @pitch }%>
					<%= render :partial => "shared/widget_donate_buttons", :locals => { :pitch => @pitch }%>
				</div>
			<% end %>
		</div>
	</div>
	
	<%if defined?(show_embed) && show_embed%>
		<div class="widgetEmbedContainer">
			<p>To get this widget, just grab this html code and paste into your template. You can, of course, change the width of the iframe to fit your template.</p>
			<textarea id='embed_code'><%="<iframe width='300' src='#{pitch_path(@pitch, {:only_path=>false})}/widget' border='1' scrolling='no' noscroll></iframe>"%>
			</textarea>
		</div>
	<%end%>
</div>