- unless @pitch.errors.empty?
  - content_for :error do
    = error_messages_for :pitch

- @title = "Spot.us - Create a Pitch"
.block-spacer
%h3 Create a Pitch

#equalize
  -# first column content 
  .span-715.box_white
    .create_a_pitch
      %ol.create_a_pitch_iconized
        %li.tipster
        %li.pitcher
        %li.pledgester
        %li.journalist
      %ol.create_a_pitch_steps
        %li.tipster People Create Tips
        %li.pitcher Journalist Build Pitches
        %li.pledgester Communities Fund Pitches
        %li.journalist Journalist Write Stories
    .take_action
      %h4 Pitches become a journalist's space to fundraise their investigation, It's very similar to pitching an editor - except in this case the public has the freelance budget.
      %br/
      %br/
      %br/
      %p.no_margin
        %strong What kind of stories are we looking for?
      %ul
        %li= link_to "Get advice from spot us on how to build good pitches.", "#"
        %li 
          Don't forget to
          = link_to "reference community tips", "#"
          Once your pitch is done browse for news tips and if they are related to your pitch, use the reporters toolbar to notify them of your pitch.
    .clear
    
    .block-spacer-negative
    
    = render :partial => 'form'
      
  -# second column content   
  .span-160.box_white
    %h3 What is Spot.us?
    .double_content_border
    %ul
      %li 
        If you're a professional journalist,
        = link_to "create a pitch instead of a tip", new_pitch_path
      %li
        Or
        = link_to "browse the community", news_items_path
        to get inspiration for a new pitch or ping tips for an existing pitch.
    .double_content_border
    .centered
      = link_to image_tag('create_a_pitch.png'), new_pitch_path
    .create_tip_spacer
    .block-spacer-negative
    %h3 Common Questions
    .double_content_border
    %h4.title What's a Tip?
    %p.alt-spotus 
      Anyone can create a news "tip" about an important topic you think should
      be reported on? This is often related to the question "what are you
      passionate about?" You can pledge to this tip, but no money is taken -
      it's just a way to show how much interest you have in this possibly
      becoming a pitch (link to pitch Faq). Creating a tip could be the spark
      that starts an investigation.

    %h4.title What do you mean "Pledge?"
    %br/ 
    %p.alt-spotus 
      Pledges do not represent an actual money transaction. But, they do show
      the general monetary value that a story might command. When you "pledge"
      a tip, it's similar to joining a group. If a journalist references this
      tip in their pitch, you'll be notified and asked to DONATE real money at
      that point.

    %h4.title What happens next?
    %p.alt-spotus 
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero.
      Morbi est nisl, blandit sit amet, ultrices ut, consequat at, ante. Sed
      nisi sapien, pellentesque vel, vehicula quis, semper quis, orci.
.clear
.block-spacer

