<%= render :partial => "pitch_head" %>
<% @title = "Spot.us - Pitch: #{h @pitch.headline}" %>

<%=render :partial => "tabs"%>

<% if @subscriber && @subscriber.errors.any? %>
	<div class="error">
		<%= error_messages_for :subscriber %>
	</div>
<% end %>

<div class="pitchContainer">
	<%if @tab=='summary' || @tab.blank?%>
		<%=render :partial=>'pitches/tabs/summary' %>
	<%elsif @tab=='story'%>
		<%=render :partial=>'pitches/tabs/story' %>
	<%elsif @tab=='updates'%>
		<%=render :partial=>'pitches/tabs/updates' %>
	<%elsif @tab=='discussion'%>
		<%=render :partial=>'pitches/tabs/discussion' %>
	<%elsif @tab=='assignments'%>
		<%=render :partial=>'pitches/tabs/assignments' %>
	<%elsif @tab=='donors'%>
		<%=render :partial=>'pitches/tabs/donors' %>
	<%elsif @tab=='details'%>
		<%=render :partial=>'pitches/tabs/details' %>
	<%end%>
</div>

<!--OLD STUFF, added if false so that it is not run when you load the page...-->
<%if false%>
	<div id="news_item" class="pitch_container clearfix">
		<div class="pitch_left">
			<% apply_fragment ['pitch_header_left', @pitch] do %>
			<div class="small_header">
				<div class="share_buttons">
					<%= render :partial => "/shared/social_buttons" %>
				</div>
				<%= link_to @pitch.user.full_name, profile_path(@pitch.user) %> &nbsp;|&nbsp; <%= pitch_date(@pitch.created_at) %>
			</div>
			<h1><%= h @pitch.headline %></h1>
			<%end%>
			<%= render :partial => "tab_header" %>
			<br class="clear"/>

			<% unless @item %>
			<%=render :partial=>'main' %>
			<% else %>
			<%=render :partial=>'item' %>
			<% end %>
		</div>
		<div class="pitch_right">
			<div class="blue_panel">
				<div class="pitch_author clearfix">
					<% apply_fragment ['pitch_author_top_alt_', @pitch, @pitch.user] do %>
					<%= link_to image_tag(@pitch.user.photo(:thumb), :class => "avatar"), profile_path(@pitch.user) %>
					<em>Author</em><br/>
					<%= link_to @pitch.user.full_name, profile_path(@pitch.user), :class => "username" %><br/>
					<% end %>
					<% if @pitch.peer_reviewer %>
					<% apply_fragment ['pitch_peer_reviewer_top_alt_', @pitch, @pitch.peer_reviewer] do %>
					<em class="peer_reviewer">Peer review: 
						<strong><%= link_to(h(@pitch.peer_reviewer.full_name), profile_path(@pitch.peer_reviewer)) %></strong>
					</em>
					<% end %>
					<% end %>
				</div>
			</div>
			<%= render :partial => 'action_buttons', :locals => {:pitch => @pitch} if current_user%>
			<div class="blue_panel">
				<% unless @pitch.fully_funded? && @pitch.story && @pitch.story.published? %>
				<h5 class="difference">Make a Difference!</h5>

				<div class="donate_buttons clearfix">
					<%= render :partial => "donations/new_button", :locals => { :news_item => @pitch } %>
				</div>
				<div id="button_status">&nbsp;</div>
				<div class="funding clearfix">
					<% unless @pitch.fully_funded? %>
					<h6>Funding to date</h6>
					<% else %>
					<div class="dotted"></div>
					<% end %>
					<div class="funding_status">
						<%= number_to_currency(@pitch.current_funding) %> raised
						<% if @pitch.fully_funded? %>
						<%= number_to_currency(0) %> to go
						<% else %>
						<%= number_to_currency(@pitch.funding_needed) %> to go
						<% end %>
						<br/>
					</div>
					<div class="progress_bar">
						<div>
							<% if @pitch.fully_funded? %>
							<%= static_progress_bar("pitch", 1) %>
							<% else %>
							<%= static_progress_bar("pitch", @pitch.current_funding_in_percentage) %>
							<% end %>
						</div>
						<%= due_date_in_words(@pitch.expiration_date) %>
					</div>
				</div>
				<% if !@pitch.fully_funded? %>
				<div class="light_panel">
					<h6>Offer your skills to this story:</h6>

					<h5><%= facebox_login_link_to("&raquo; Click here to donate talent", pitch_assignments_path(@pitch)) %></h5>

				</div>
				<% end %>
				<% end %>
				<% if @pitch.story && @pitch.story.published? %>
				<% apply_fragment ['pitch_story_published_', @pitch, @pitch.story] do %>
				<div class="published">
					<h5>This story has been published:</h5>
					<h4 class="normal"><%= link_to @pitch.story.headline, @pitch.story %> </h4>

					<div class="">
						by
						<%= link_to h(@pitch.story.user.full_name), profile_path(@pitch.story.user) %>
						|
						<%= pitch_date(@pitch.story.created_at) %>
						|
						<%= @pitch.story.network.name %>
					</div>
					<div class="story_summary">
						<%= truncate_words(strip_tags(@pitch.story.extended_description), 80) %><br/>
					</div>
					<%= link_to 'Read the published story', @pitch.story, :class => "read" %>
				</div>
				<%end%>
				<% end %>
			</div>
			<% apply_fragment ['pitch_widget_', @pitch, current_user] do %>
			<div class="blue_panel widget">
				<%= render :partial => "widget" %>
			</div>
			<%end%>
			<div class="blue_panel subscribe">
				<%= render :partial => 'subscriber_form', :locals => {:pitch => @pitch} %>
			</div>
			<div id="supporters">
				<% apply_fragment ['pitch_supporters_2_', @pitch] do %>
				<%= render :partial => "news_items/organizational_supporters", :locals => {:news_item => @pitch} %>
				<%= render :partial => "group_supporters", :locals => {:news_item => @pitch} %>
				<div class="public_support">
					<%= render :partial => "cca_supporters", :locals => {:news_item => @pitch} %>
				</div>
				<div style="clear:both;"></div>
				<div class="public_support">
					<%= render :partial => "supporters", :locals => {:news_item => @pitch} %>
				</div>
				<%end%>
			</div>
		</div>
	</div>
<%end%>