- @title = "Spot.us - Pitch: #{@pitch.headline}"

.block-spacer
#equalize
  .span-455.box_white
    %h2.headline
      PITCH:
      %strong= h @pitch.headline
    .double_content_border
    = render :partial => 'news_items/user', :locals => { :news_item => @pitch }
    .block-spacer-negative
    %h3.description
      Short Description
    .double_content_border
    %p 
      = render :partial => 'news_items/featured_image', :locals => {:news_item => @pitch}
      .alt-spotus= h @pitch.short_description
    .clear
    .block-spacer-negative
    %p
      %h3 Deliverables
      .double_content_border
      .alt-spotus= h @pitch.delivery_description
    .block-spacer-negative
    %p
      %h3 Qualifications
      .double_content_border
      .alt-spotus= h @pitch.skills
    .block-spacer-negative
    %p
      %h3 Extended Description
      .double_content_border
      .alt-spotus= @pitch.extended_description
  .span-220.column_v.box_white
    = render :partial => "donations/button", :locals => { :news_item => @pitch }
    .block-spacer-negative
    %h3 Related Tips
    .double_content_border
    - if @pitch.tips.any?
      - @pitch.tips.each do |tip|
        .related_tip
          = link_to h(tip.headline), tip_url(tip)
    - else
      %p No related Tips yet.  Stay tuned.
    .block-spacer-negative
    %h3 Keywords
    .double_content_border
    %p= @pitch.keywords
    - if @pitch.editable_by?(current_user)
      .block-spacer-negative
      .centered= link_to  image_tag("edit_this_pitch.png"), edit_pitch_path(@pitch)

  .span-160.box_white
    = render :partial => "news_items/supporters", :locals => {:news_item => @pitch}
.clear
.block-spacer

