- @title = "Spot.us - Pitch: #{h @pitch.headline}"

.block-spacer
#equalize
  .span-455.box_white
    %h2.headline
      PITCH:
      %strong= h @pitch.headline
    .double_content_border
    = render :partial => 'news_items/user', :locals => { :news_item => @pitch }
    .block-spacer-negative
    %h3.description
      Short Description
    .double_content_border
    %p 
      = render :partial => 'news_items/featured_image', :locals => {:news_item => @pitch}
      .alt-spotus= @pitch.short_description
    .clear
    - unless @pitch.video_embed.blank?
      .block-spacer-negative
      %p
        %h3 Video
        .double_content_border
        = @pitch.video_embed
    - unless @pitch.widget_embed.blank?
      .block-spacer-negative
      %p
        %h3 Tell a Friend
        .double_content_border
        = @pitch.widget_embed
    .block-spacer-negative
    %p
      %h3 How Will This Reporting Help?
      .double_content_border
      .alt-spotus= @pitch.extended_description
    .block-spacer-negative
    %p
      %h3 Deliverables
      .double_content_border
      .alt-spotus= h @pitch.delivery_description
    .block-spacer-negative
    %p
      %h3 Qualifications <br /><span class='small quieter'>Also view reporter's profile</span>
      .double_content_border
      .alt-spotus= h @pitch.skills
    .block-spacer-negative
    %h3 Comments
    .double_content_border
    .comments
      %p= "There are no comments yet, be the first!" if @pitch.comments.empty?
      = render :partial => 'shared/comment', :collection => @pitch.comments
    %h3 Post A Comment
    .double_content_border
    - form_for [@pitch, Comment.new] do |f|
      = render :partial => 'comments/form', :locals => {:f => f}

  .span-220.column_v.box_white
    = render :partial => "donations/button", :locals => { :news_item => @pitch }
    %h3 Related Tips
    .double_content_border
    - if @pitch.tips.any?
      - @pitch.tips.each do |tip|
        .related_tip
          = link_to h(tip.headline), tip_url(tip)
    - else
      %p No related Tips yet.  Stay tuned.
    = render :partial => 'posts', :locals => {:pitch => @pitch}
    .block-spacer-negative
    %h3 Keywords
    .double_content_border
    %p= h @pitch.keywords
    - if @pitch.editable_by?(current_user)
      .block-spacer-negative
      .centered= link_to image_tag("edit_this_pitch_b.png"), edit_pitch_path(@pitch)
    - if @pitch.featureable_by?(current_user)
      - if @pitch.featured?
        .block-spacer-negative
        .centered= link_to 'Un-feature this pitch', unfeature_pitch_path(@pitch), :method => :put
      - else
        .block-spacer-negative
        .centered= link_to image_tag('feature_this_pitch.png'), feature_pitch_path(@pitch), :method => :put

  .span-160.box_white
    = render :partial => "news_items/supporters", :locals => {:news_item => @pitch}
.clear
.block-spacer


