%h2 Spot.Us Admin
#admin_header
  = link_to "city suggestions", admin_city_suggestions_path, :id => "city_suggestions_tab", :class => "admin_tab"
  = link_to "comments", admin_comments_path, :id => "comments_tab", :class => "admin_tab"
  = link_to "channels", admin_channels_path, :id => "channels_tab", :class => "admin_tab"
  = link_to "credits", admin_credits_path, :id => "credits_tab", :class => "admin_tab"
  = link_to "groups", admin_groups_path, :id => "groups_tab", :class => "admin_tab"
  = link_to "networks", admin_networks_path, :id => "networks_tab", :class => "admin_tab"
  =# link_to "site options", edit_admin_site_option_path, :id => "site_options_tab", :class => "tab"
  = link_to "subscribers", admin_subscribers_path, :id => "subscribers_tab", :class => "admin_tab"
  = link_to "pitches", admin_pitches_path, :id => "pitches_tab", :class => "admin_tab"
  = link_to "posts", admin_posts_path, :id => "posts_tab", :class => "admin_tab"
  = link_to "tips", admin_tips_path, :id => "tips_tab", :class => "admin_tab"
  = link_to "users", admin_users_path, :id => "users_tab", :class => "admin_tab"