%h1 Spot.Us Admin
#admin_header
  = link_to "ccas", admin_ccas_path, :id => "ccas_tab", :class => "admin_tab"
  = link_to "city suggestions", admin_city_suggestions_path, :id => "city_suggestions_tab", :class => "admin_tab"
  = link_to "comments", admin_comments_path, :id => "comments_tab", :class => "admin_tab"
  = link_to "topics", admin_topics_path, :id => "topics_tab", :class => "admin_tab"
  = link_to "credits", admin_credits_path, :id => "credits_tab", :class => "admin_tab"
  = link_to "feedbacks", admin_feedbacks_path, :id => "feedbacks_tab", :class => "admin_tab"
  = link_to "groups", admin_groups_path, :id => "groups_tab", :class => "admin_tab"
  = link_to "networks", admin_networks_path, :id => "networks_tab", :class => "admin_tab"
  = link_to "sections", admin_sections_path, :id => "sections_tab", :class => "admin_tab"
  = link_to "subscribers", admin_subscribers_path, :id => "subscribers_tab", :class => "admin_tab"
  = link_to "pitches", admin_pitches_path, :id => "pitches_tab", :class => "admin_tab"
  = link_to "posts", admin_posts_path, :id => "posts_tab", :class => "admin_tab"
  = link_to "tips", admin_tips_path, :id => "tips_tab", :class => "admin_tab"
  = link_to "users", admin_users_path, :id => "users_tab", :class => "admin_tab"
  = link_to "blacklist emails", admin_blacklist_emails_path, :id => "blacklist_emails_tab", :class => "admin_tab"
  = link_to "notification emails", admin_notification_emails_path, :id => "notifications_emails_tab", :class => "admin_tab"