%span[pledge]
  %span{:id => "edit_pledge_#{pledge.id}", :style => "display:none"}
    - remote_form_for pledge do |f|
      = f.text_field :amount
      = f.submit "Update"
      or
      = link_to_function "cancel", "jQuery('#edit_pledge_#{pledge.id}').hide();jQuery('#show_pledge_#{pledge.id}').show()"
  %span{:id => "show_pledge_#{pledge.id}"}
    %span.number
      = link_to_function number_to_currency(pledge.amount, :precision => 0), "jQuery('#edit_pledge_#{pledge.id}').show();jQuery('#show_pledge_#{pledge.id}').hide();"
    = link_to_function '(edit)', "jQuery('#edit_pledge_#{pledge.id}').show();jQuery('#show_pledge_#{pledge.id}').hide()"

