%span[pledge]
  %span{:id => "edit_pledge_#{pledge.id}", :style => "display:none"}
    - remote_form_for pledge, :update => "pledge_#{pledge.id}" do |f|
      = f.text_field :amount
      = f.submit "Update"
      or
      = link_to_function "cancel", "toggle_divs('#edit_pledge_#{pledge.id}', '#show_pledge_#{pledge.id}')"
  %span{:id => "show_pledge_#{pledge.id}"}
    = link_to_function number_to_currency(pledge.amount), "toggle_divs('#edit_pledge_#{pledge.id}', '#show_pledge_#{pledge.id}')"

