- @title = "Spot.us - Fund Your Donations"
.block-spacer
- content_for :head do
  :javascript
    jQuery(document).ready(function(){
      jQuery('#remove_spotus_donation').click(function(){
        jQuery('input#spotus_donation').val('');
        jQuery('#support_spotus').hide();
        return false;
      });
    });

- if @donations && @donations.any?(&:errors)
  - content_for :error do
    = error_messages_for :donations, :object => @donations

#equalize

  - # first column content 
  .span-715.box_white
    %h2{:style => "color: #800000; text-align: center;"} Almost done! One more step:
    .block-spacer-negative 
    - if current_user.total_credits > 0
      .float-right
        == You have #{number_to_currency(current_user.total_credits)} in credits
    %h3 Fund Your Donations
    .double_content_border

    - form_tag myspot_donations_amounts_path, :method => :put do
      %ul.unpaid_donations
        - unpaid_donations.each do |donation|
          - content_tag_for :li, donation, :class => 'unpaid' do
            .column.span-70
              = link_to image_tag(donation.pitch.featured_image.url(:thumb)), donation.pitch
            .column.span-550
              %h3 
                PITCH:
                = link_to donation.pitch.headline, donation.pitch
              %p
                = truncate_words(donation.pitch.short_description)
                = link_to 'Read More &raquo;', donation.pitch
            .column.span-95
              $
              = text_field_tag "donation_amounts[#{donation.id}][amount]", number_to_currency(donation.amount, :unit => ''), :size => 4, :id => "donation_amounts_#{donation.id}_amount"
              .action= link_to "Remove", myspot_donation_path(donation), :method => :delete, :confirm => "Are you sure you'd like to remove this donation of #{number_to_currency(donation.amount)}?"
            %hr
        %li#support_spotus
          .column.span-70
            = image_tag('support_spotus.png')
          .column.span-550
            %h3 Support Spot.Us
            %p
              Spot.Us is a nonprofit project to pioneer "community funded reporting." Through Spot.Us the public can commission journalists to do investigations into important and perhaps overlooked stories.
          .column.span-95
            $
            = text_field_tag "spotus_donation_amount", number_to_currency(spotus_donation.amount, :unit => ''), :size => 5, :id => "spotus_donation"
            .action= link_to "Remove", '#', :id => 'remove_spotus_donation'
      .float-right
        = image_submit_tag 'purchase.png', :alt => 'Purchase'

  - # second column content   
  .span-160.box_white
    = render :partial => 'layouts/common_questions'

.clear
.block-spacer

