<% apply_fragment ['cca_items_listing_', cca, current_user] do %>
	<div class="news_item">
		
		<div class="clearfix">
			<%= link_to image_tag(cca.user.photo(:thumb), :class => "avatar", :alt => ""), profile_path(cca.user) %>	
			<div class="info">
				<h5><%= link_to cca.title, cca %></h5>
				<%= short_date(cca.created_at) %>
				by
				<%= link_to h(cca.user.full_name), profile_path(cca.user) %>
			
			</div> 
		</div> 
		<div class="description">
			<%= truncate_words(strip_tags(cca.description), 22) %>
			<%= link_to "Take the CCA &raquo;", cca unless current_user && cca.survey_completed?(current_user)%>
		</div>
	</div>
<% end %>