<% apply_fragment ['cca_list_', cca, current_user] do %>
	<li>
		<%=link_to image_tag(cca.user.photo(:small_hero), {:alt => h(cca.title)}), cca_path(cca), {:rel=>"nofollow"}%>
		<h3><%=link_to cca.title[0..30], cca_path(cca)%></h3>
		<div><%=pitch_date(cca.created_at)%> by <%=link_to cca.user, profile_path(cca.user)%></div>
		<ul class='donateButtons'>
			<li>
				<%= link_to "Earn Credits", cca_path(cca), :title => '', :alt => "Earn credits to donate if you're short on cash", :class=>"buttonLikeLink"  unless current_user && cca.survey_completed?(current_user)%>
			</li>
		</ul>
	</li>
<%end%>