<% apply_fragment ['cca_items_listing_alt2_', cca, current_user] do %>
	<div class="pitch cca clearfix">		
		<div class="news_item">
			<div class="clearfix">
				<%= link_to image_tag(cca.user.photo(:thumb), :class => "avatar", :alt => ""), profile_path(cca.user) %>	
				<div class="info">
					<h5><%= link_to cca.title, cca %></h5>
					<%= short_date(cca.created_at) %>
					by
					<%= link_to h(cca.user.full_name), profile_path(cca.user) %>
			
				</div> 
			</div> 
			<div class="description">
				<%= truncate_words(strip_tags(cca.description), 22) %>
				<%= link_to "Take the CCA &raquo;", cca unless current_user && cca.survey_completed?(current_user)%>
			</div>
		</div>
		<%= link_to "Earn Credits", cca_path(cca), :title => '', :alt => "Earn credits to donate if you're short on cash", :class => "earn_credits_listing"  unless current_user && cca.survey_completed?(current_user)%>
	</div>
<% end %>