<div class="sponsorBox">
	<div>
		<h4>Sponsored by</h4>
		<p><%= @cca.user.full_name %></p>
	</div>
	<div>
	  <h4>Value</h4>
	  <p><%= number_to_currency(@cca.award_amount) %> - <a href="#">For every survey completed by our community, <%= number_to_currency(@cca.award_amount) %> goes toward a Spot.us story.</a></p>
	</div>
	<%unless @cca.user.website.blank?%>
		<div>
		  <h4>Website</h4>
		 <p> <%= link_to @cca.user.website[7..-1], @cca.user.website  if @cca.user.website %></p>
		</div>
	<%end%>
	<%unless @cca.user.about_you.blank?%>
		<div>
		  <h4>About the sponsor</h4>
			<%= @cca.user.about_you %>
		</div>
	<%end%>
</div>