<% content_for :head do %>
<% end %>
<% @title = "Spot.us - Apply Credits" %>

<div class="surveyPage">
	<h2><%= @cca.user.full_name %> thanks you!</h2>
	<div>
		<% if @cca.survey_completed?(current_user) %>
			<p>
				Congrats! By completing the survey "<%= @cca.title %>", you have earned <strong><%= number_to_currency(@cca.award_amount) %></strong> in credits, 
				and have a total of <strong><%= number_to_currency(current_user.remaining_credits) %></strong>. Feel free to apply now 
				to one of the pitches below, or <%= link_to "browse others", "/stories/unfunded" %>.
			</p>
			<ul class="storyGrid">
				<%=render :partial=>"shared/lists", :locals=>{ :items => @news_items,  :no_items_message=>"There are no unfunded pitches available." }%>
			</ul>
		<% else %>
			<p>
				You have not completed this survey yet. <br/>
				<%= link_to "complete survey?", "/cca/#{@cca.id}" %>
			</p>
		<% end %>
	</div>
</div>
