<% content_for :head do %>
	
	<%if @cca.embed_code && @cca.length_of_video.to_i>0%>
		<script>
		    jQuery(document).ready(function($){
				$("#countDownCca").countdown({until: +<%=@cca.length_of_video.to_i%>, layout: "{sn}", onExpiry: showForm});
		    });
	
			function showForm(){
				jQuery("#q_header").show();
				jQuery("#survey_form_wrapper").show();
				jQuery("#countDownWrapper").html("You can now take the survey!");
			}
		</script>
	<%end%>
<% end %>
<% @title = "Spot.us - Community Centered Advertising" %>

<% if @cca.errors.any? %>
	<div class="error">
		<%= error_messages_for :cca %>
	</div>
<% end %>

<div id="survey" style="padding-top:10px;">
	<% if @cca %>
		<% apply_fragment ['cca_', @cca, params[:pitch_id]] do %>
			<%= image_tag(@cca.banner.url(:large_banner)) if @cca.banner? %>
			<div id="survey_header">
				<%= link_to "About Spot.Us Questionnaires", "#", :class=>"float-right", :id => "help_about-questionnaires" %>
				<h2>Earn <%= number_to_currency(@cca.award_amount) %> in pitch credits by filling out this questionnaire!</h2>
			</div>
			<div id="survey_wrapper" class="clearfix">
				<div id="survey_info">
					<%= render :partial => "fund_this" if params[:pitch_id]%>
					<%= render :partial => "sponsor_info" %>
				</div>

				<div id="survey_main">
					<div id="survey_description">
						<%= @cca.description %> 
					</div>
					<%if @cca.embed_code && @cca.length_of_video.to_i>0%>
						<div id="survey_description">
							<div style="width:590px;margin-right:10px; font-style:bold; color:#333;text-align:right; padding:4px;" id="countDownWrapper">
								<span id="countDownCca" ></span> seconds left of the video
							</div>
							<%= transform_embed_code(@cca.embed_code, 590, 320) %> 
						</div>
					<%end%>
		<% end %> <!-- end of cached fragment --> 
					<div id="q_header" <%if @cca.embed_code && @cca.length_of_video.to_i>0%>style="display:none;"<%end%>>Questionnaire</div>
					<div id="survey_form_wrapper" <%if @cca.embed_code && @cca.length_of_video.to_i>0%>style="display:none;"<%end%>>
						<% if current_user && @cca.survey_completed?(current_user) %>
							<h2>You have completed this survey. Thank you.</h2>
						<% elsif @cca.is_maxed_out? %>
							<h2>This survey has finished.</h2>
						<% else %>
							<%= render :partial=>'item' %>
						<% end %>
					</div>
				</div>
		</div>
	<% else %>
		<div id="survey_header">
			<h3 class="headline">Spot.Us Sponsorship</h3>
		</div>
		We do not have any active sponsorship surveys. Are you interested in making one? Please contact <a href='mailto:info@spot.us'>info@spot.us</a> and
		we will tell you how you can get one live here.
	<% end %>
</div>
<%unless current_user%>
	<script>
		jQuery(document).ready(function($){
			jQuery.facebox({ajax:"/sections/cca"});
		});
	</script>
<%end%>