<% content_for :head do %>
<% end %>
<% @title = "Spot.us - Community Centered Advertising" %>

<% if 1==2 #@subscriber && @subscriber.errors.any? %>
	<div class="error">
		<%= error_messages_for :cca %>
	</div>
<% end %>

<div id="news_item">
	<div id="news_item_header">
		<img width="62" height="53" align="left" style="padding-right: 10px;" src="/images/new_design/pitch.png"/>
		<h2 class="headline"><%= @cca.title %> - Spot.Us Sponsorship</h2>
	</div>
	<div class="right-column">
				
		<div class="right-panel-box survey_about">
		  <%= render :partial => "sponsor_info"%>
		</div>

	</div>
	<div class="main-column">
		<div class="survey_description">
			<%= @cca.description %> 
		</div>
		<div id="survey">
		  <% if @cca.survey_completed?(current_user) %>
		    you have completed this survey.
		  <% else %>
			  <%= render :partial=>'item' %>
			<% end %>
		</div>
	</div>
</div>
