<% form_for([:admin, @cca], :html => { :multipart => true }) do |f| %>
    <div class="row">
        <%= f.label     :sponsor_id, "Sponsor" %>
        <%= f.select(:sponsor_id, @users.collect {|u| [ u.full_name, u.id ] }, { :include_blank => true }) %>
    </div>
    <div class="row">
        <%= f.label     :title, "Title" %>
        <%= f.text_field :title %>
    </div>
    <div class="row">
        <%= f.label     :description, "Description" %>
        <%= f.text_area :description, :style => "height:120px" %>
    </div>
    <div class="row">
        <%= f.label     :position, "Sort Position" %>
        <%= f.text_field :position, :style => "width:40px" %>
    </div>
    <div class="row">
        <%= f.label     :status, "Status: Live?" %>
        <%= f.check_box :status %>
    </div>
    <%= image_submit_tag image_path('save.png'), :alt => 'Edit the CCA' %>
<% end %>