<% if (@cca && !@cca.errors.empty?) %>
	<div class="formErrors">
		<h3 class="formErrorHeading">Ooops, something went wrong!</h3>
		<ul class="formErrorsList">
			<%@cca.errors.each do |error|%>
				<li><%=error[1]%></li>
			<%end%>
		</ul>
	</div>
<%end%>

<% form_for([:admin, @cca], :html => { :multipart => true }) do |f| %>
    <div class="row">
        <%= f.label     :sponsor_id, "Sponsor" %>
        <%= f.select(:sponsor_id, @users.collect {|u| [ u.full_name, u.id ] }, { :include_blank => true }) %>
    </div>
    <div class="row">
        <%= f.label     :title, "Title" %>
        <%= f.text_field :title %>
    </div>
    <div class="row">
        <%= f.label     :description, "Description" %>
		<%= ckeditor_textarea("cca", "description", :toolbar => 'Basic', :width => '480px', :height => '180px') %>
    </div>
    <div class="row">
        <%= f.label     :position, "Sort Position" %>
        <%= f.text_field :position, :style => "width:40px" %>
    </div>
    <div class="row">
        <%= f.label     :status, "Set Status" %>
        <%= f.select(:status, Cca.STATUS_VALUES.collect {|s| [s, Cca.STATUS_VALUES.index(s)] }) %><br/>
        <em class="small">Note: Surveys will automatically switch to Finished status when awarded credits equal the max amount.</em>
    </div>
    <div class="row">
        <%= f.label     :max_credits_amount, "Maxiumum credit amount" %>
        <%= f.text_field :max_credits_amount %>
    </div>
    <div class="row">
        <%= f.label     :award_amount, "Award amount" %>
        <%= f.text_field :award_amount %>
    </div>
	<div class="row add_media">
      <label>Add Banner<br/>
         <span class="small">
            Required: Upload A Banner
         </span>       
      </label>
      <%= f.file_field :banner %><br/>
      <span class="small quieter"> JPEG, PNG and GIF's less than 5 MB.</span>
    </div>
	<div class="row">
        <%= f.label     :embed_code, "Add embed code for before video or audio" %>
        <%= f.text_area :embed_code, :rows => 10, :cols => 60 %>
    </div>
	<div class="row">
        <%= f.label     :length_of_video, "Specify the number of seconds the pre-ad should be hidden for" %>
		<select name="cca[length_of_video]">        
			<%120.times do |n| %>
				<option value="<%=n%>" <%if @cca.length_of_video.to_i==n%>selected<%end%>><%=n%> s</option> 
			<%end%>
		</select>
    </div>
    <%= image_submit_tag image_path('save.png'), :alt => 'Edit the CCA' %>
<% end %>