<%content_for :head do%>
	<script>
		function togglePictureTaskFields(){
			jQuery("div[id*='normalCca']").slideToggle(600);
			jQuery("div[id*='turkTask']").slideToggle(600);
			checkbox = jQuery("#isPictureTask");
			checkbox.val('1', !checkbox.val('1'));
		}
	</script>
<%end%>

<% if (@cca && !@cca.errors.empty?) %>
	<div class="formErrors">
		<h3 class="formErrorHeading">Ooops, something went wrong!</h3>
		<ul class="formErrorsList">
			<%@cca.errors.each do |error|%>
				<li><%=error[1]%></li>
			<%end%>
		</ul>
	</div>
<%end%>

<% form_for([:admin, @cca], :html => { :multipart => true }) do |f| %>
    <div class="row">
        <%= f.label     :sponsor_id, "Sponsor" %>
        <%= f.select(:sponsor_id, @users.collect {|u| [ u.full_name, u.id ] }, { :include_blank => true }) %>
    </div>
	<div class="row">
        <%= f.label     :is_picture_task, "Is the CCA a picture task?" %>
        <%= f.check_box :is_picture_task, :id=>"isPictureTask", :onclick=>"togglePictureTaskFields();" %>
    </div>
    <div class="row">
        <%= f.label     :title, "Title" %>
        <%= f.text_field :title %>
    </div>
    <div class="row">
        <%= f.label     :description, "Description" %>
		<%= ckeditor_textarea("cca", "description", :toolbar => 'Basic', :width => '480px', :height => '180px') %>
    </div>
    <div class="row">
        <%= f.label     :position, "Sort Position" %>
        <%= f.text_field :position, :style => "width:40px" %>
    </div>
    <div class="row">
        <%= f.label     :status, "Set Status" %>
        <%= f.select(:status, Cca::STATUS_VALUES.collect {|s| [s, Cca::STATUS_VALUES.index(s)] }) %><br/>
        <em class="small">Note: Surveys will automatically switch to Finished status when awarded credits equal the max amount.</em>
    </div>
    <div class="row" id='normalCca' <%if @cca.is_picture_task%>style="display:none;"<%end%>>
        <%= f.label     :max_credits_amount, "Maximum credit amount" %>
        <%= f.text_field :max_credits_amount %>
    </div>
	<div class="row" id='turkTaskTotal' <%unless @cca.is_picture_task%>style="display:none;"<%end%>>
        <%= f.label     :total_turks, "Number of total turks" %>
        <%= f.select(:total_turks, Cca::TOTAL_TURKS_VALUES.collect { |s| [s, s] } ) %>
    </div>
	<div class="row" id='turkTaskMaximumPerUser' <%unless @cca.is_picture_task%>style="display:none;"<%end%>>
        <%= f.label     :minimum_turks_per_user, "Minimum number of turk-tasks per user" %>
        <%= f.select(:minimum_turks_per_user, Cca::TURKS_PER_USER.collect {|s| [s, s] }) %>
    </div>
	<div class="row" id='turkTaskMinimumPerUser' <%unless @cca.is_picture_task%>style="display:none;"<%end%>>
        <%= f.label     :maximum_turks_per_user, "Maximum number of turk-tasks per user" %>
        <%= f.select(:maximum_turks_per_user, Cca::TURKS_PER_USER.collect {|s| [s, s] }) %>
    </div>
    <div class="row">
        <%= f.label     :award_amount, "Award amount (per cca or per turk)" %>
        <%= f.text_field :award_amount %>
    </div>
	<div class="row add_media">
      <label>Add Banner<br/>
         <span class="small">
            Required: Upload A Banner
         </span>       
      </label>
      <%= f.file_field :banner %><br/>
      <span class="small quieter"> JPEG, PNG and GIF's less than 5 MB.</span>
    </div>
	<div class="row">
        <%= f.label     :embed_code, "Add embed code for before video or audio" %>
        <%= f.text_area :embed_code, :rows => 10, :cols => 60 %>
    </div>
	<div class="row">
        <%= f.label     :length_of_video, "Specify the number of seconds the pre-ad should be hidden for" %>
		<select name="cca[length_of_video]">        
			<%120.times do |n| %>
				<option value="<%=n%>" <%if @cca.length_of_video.to_i==n%>selected<%end%>><%=n%> s</option> 
			<%end%>
		</select>
    </div>
    <%= image_submit_tag image_path('save.png'), :alt => 'Edit the CCA' %>
<% end %>