%h2 My Spot

= render :partial => "myspot/nav", :locals => {:selected_tab => "profile"}

#equalize
  .span-715.box_white
    %h3 Edit Work History
    = render :partial => "myspot/profile_nav"
    .double_content_border
    - remote_form_for [:myspot, :profile, @job] do |f|
      .span-595.box_yellow.create_a_job_form
        .row
          = f.label :title
          = f.text_field :title
        .yellow-spacer-negative
        .row
          = f.label :url
          = f.text_field :url
        .yellow-spacer-negative
        .row
          = f.label :description
          = f.text_area :description
      .double_content_border
      .float-right
        = image_submit_tag image_path('add_job.png')
      .clear
    .block-spacer-negative
  
    %h3 Saved Work History
    .double_content_border
    .span-595
      #work_history
        = render :partial => @jobs
.clear
.block-spacer

