<% content_for :head do %>
  <script>
    $(function(){
      $(".admin_tab").removeClass("hilited");
      $("#sections_tab").addClass("hilited");
    });
  </script>
<% end %>
<%= render :partial => "/admin/admin_header"%>

<h2>Help sections</h2>
<%= link_to "Create a new help section", new_admin_section_path%>
<div class="box">
	<table class="admin_pitches">
		<th>Section</th>
		<th>Handle</th>
		<th>Short description</th>
		<th>Has multimedia?</th>
		<th>Actions</th>
		<% @sections.each do |section| %>
			<tr class="quiet">
				<td><%=section.title%></td>
				<td><%=section.name%></td>
				<td><%=h section.short%></td>
				<td><%=section.embed_code.blank? ? '-' : 'Yes'%></td>
				<td>
			        <%= link_to 'edit', edit_admin_section_url(section)%><br/>
					<%= link_to 'delete', admin_section_url(section), :method => :delete, :confirm => 'Are you sure you want to delete this section?'%>
				</td>
			</tr>
		<% end %>
	</table>
</div>