- if @user && @user.errors.any?
  .error
    = error_messages_for :user

%h3
  Just Getting Started?
  .float-right
    = link_to "Resend Activation Email", activation_email_user_path, :class => "forgot_password"
.double_content_border
- form_for(:user, @user, :url => user_path, :html => {:class => 'register'}) do |f|
  .register
    %div
      = f.label :first_name, "Your First Name"
      = f.text_field :first_name, :class => "text", :tabindex => 1
    %div
      = f.label :last_name, "Your Last Name"
      = f.text_field :last_name, :class => "text", :tabindex => 2
    %div
      = f.label :password
      = f.password_field :password, :class => "text", :tabindex => 3
    %div
      = f.label :password_confirmation, "Confirm Password"
      = f.password_field :password_confirmation, :class => "text", :tabindex => 4
    %div
      = f.label :email, "Your E-mail Address"
      = f.text_field :email, :class => "text", :tabindex => 5
    %div
      = f.label :type, "I am a"
      = f.select :type, [["Community Member", "Citizen"], ["Reporter", "Reporter"], ["News Publisher", "Organization"]]
    .block-padding.clear
    .row
      .float_left= f.check_box :terms_of_service, {}, '1', '0'
      %label{:for => 'user_terms_of_service', :class => "unpadded", :style => "width: auto;"}
        Accept the
        = link_to 'Terms of Service', page_path('terms')
      .block-padding.clear
      .double_content_border
      %div{:style => "padding: 0pt 0pt 8px 5px;"}
        %input{:type => "image", :src => "../images/register.png", :value => "Register", :class => "float-right"}
