- unless @user.errors.blank?
  - content_for :error do
    = error_messages_for :user

- form_for(:user, @user, :url => user_path) do |f|
  .span-6.register
    %h3 Just Getting Started? <br /><span class='small quieter'> All We Need...</span>
    .double_content_border
    .row
      = f.label :email, "Your E-mail Address"
      = f.text_field :email, :class => "text"
    .row
      = f.label :first_name, "Your First Name"
      = f.text_field :first_name, :class => "text"
    .block-padding
    .row
      = f.label :last_name, "Your Last Name"
      = f.text_field :last_name, :class => "text"
    .block-padding
    %span I am a:
    .row
      .float_left= f.radio_button :type, 'Citizen'
      %label.float_left{:for => 'user_type_citizen'} Community Member
    .row
      .float_left= f.radio_button :type, 'Reporter'
      %label.float_left{:for => 'user_type_reporter'} Reporter
    .row
      .float_left= f.radio_button :type, 'Organization'
      %label.float_left{:for => 'user_type_organization'} News Publisher
    .block-padding.clear 
    .row
      .float_left= f.check_box :terms_of_service, {}, '1', '0'
      %label.float_left{:for => 'user_terms_of_service'}
        Accept the 
        = link_to 'Terms of Service', page_path('terms')
    .block-padding.clear 

    .double_content_border
    .float_right
      %input{:type => "image", :src=>"../images/register.png"}
