- unless @user.errors.blank?
  - content_for :error do
    = error_messages_for :user

- form_for(@user, :url => user_path) do |f|
  .span-6.register
    %h3 Register
    .double_content_border
    .row
      %label Your First Name
      = f.text_field :first_name, :class=>"text"
    .block-padding
    .row
      %label Your Last Name
      = f.text_field :last_name, :class=>"text"
    .block-padding
    .row
      %label Your E-mail Address
      = f.text_field :email, :class=>"text"
    .block-padding
    %span I am a:
    .row
      .float_left= f.radio_button :type, 'Citizen'
      %label.float_left{:for => 'user_type_citizen'} Community Member
    .row
      .float_left= f.radio_button :type, 'Reporter'
      %label.float_left{:for => 'user_type_reporter'} Professional Journalist
    .row
      .float_left= f.radio_button :type, 'Organization'
      %label.float_left{:for => 'user_type_organization'} News Organization
    .block-padding.clear 
    %p We'll email you a password which you can login and change.
    .double_content_border
    .float_right
      %input{:type => "image", :src=>"../images/register.png"}
