- form_for :profile, :url => myspot_profile_path, :html => { :method => :put } do |f|
  .register
    %div
      = f.label :first_name, "Your First Name"
      = f.text_field :first_name, :class => "text", :tabindex => 1
    %div
      = f.label :last_name, "Your Last Name"
      = f.text_field :last_name, :class => "text", :tabindex => 2
    %div
      = f.label :email, "Your E-mail Address"
      = f.text_field :email, :class => "text", :tabindex => 5
      = f.hidden_field :id, :value => @profile.id
    / %div
    /   = f.label :type, "I am a"
    /   = f.select :type, [["Community Member", "Citizen"], ["Reporter", "Reporter"], ["News Publisher", "Organization"]]
    /   = f.hidden_field :status, :value => "active"
    .block-padding.clear
    .row
      .float_left= f.check_box :terms_of_service, {}, '1', '0'
      %label{:for => 'user_terms_of_service', :class => "unpadded", :style => "width: auto;"}
        Accept the
        = link_to 'Terms of Service', page_path('terms')
      .block-padding.clear
      .double_content_border
      %div{:style => "padding: 0pt 0pt 8px 5px;"}
        %input{:type => "image", :src => "/images/register.png", :value => "Update", :class => "float-right"}
