<% content_for :head do %>
	<%= auto_discovery_link_tag(:rss, {:controller => 'users', :action => 'list', :format => 'rss', :filter=>@filter}) %>
<% end %>

<% @title = "Spot.us - Fund A Story" %>

<ul class="tabs">
	<li <%if @filter=='donated' || @filter.blank?%>class="current"<%end%>><a href="/contributors/contributors/">Donors</a></li>
	<li <%if @filter=='donated-most'%>class="current"<%end%>><a href="/contributors/donated-most">Donated Most</a></li>
	<li <%if @filter=='organizations'%>class="current"<%end%>><a href="/contributors/organizations">Organizations</a></li>
	<li <%if @filter=='reporters'%>class="current"<%end%>><a href="/contributors/reporters">Reporters</a></li>
</ul>

<div class="donorsContainer community">

	<ul>
		<%@items.each do |donation|%>
			<%supporter = donation.user%>
			<li>
				<%=image_tag(supporter.photo.url(:thumb), {:alt => supporter.full_name})%>
				<h3><%=link_to supporter.full_name, profile_path(supporter)%></h3>
				<span>Joined <%=short_date(supporter.created_at)%></span>
				<h4><%if supporter.all_donations.total_amount>0%>Donated <%=number_to_currency(supporter.all_donations.total_amount)%> to <%=supporter.all_donations.nr_of_donations%> stories<%else%>Has not donated yet<%end%></h4>
				<%=excerpt?(supporter.get_about_you, 40)%>
				<%=link_to "more &rarr;", profile_path(supporter)%>
			</li>
		<%end%>
	</ul>

	<%=will_paginate @items%>
		
</div>