<% content_for :head do %>
	<%= auto_discovery_link_tag(:rss, {:controller => 'users', :action => 'list', :format => 'rss', :filter=>@filter}) %>
<% end %>

<% @title = "Spot.us - Fund A Story" %>

<div id="fund_a_story">
	<div id="navigation">
		<%=render :partial=>"shared/filters", :locals=>{
			:title=>"Browse Contributors",
			:url_base=>"/contributors",
			:filters=>{
				"donated"=>"Recently Donated",
				"donated-most"=>"Donated Most",
				"organizations"=>"Organizations",
				"reporters"=>"reporters"
			}
		}%>
	</div>
	<div id="stories">
		<%= link_to image_tag("/images/new_design/rss_16.png"), "/donors.rss", :class => "rss_button" %>
		<h3 class="display_inline">NOW VIEWING:</h3> 
		<h4 class="display_inline">Spot.Us <%= @filter.gsub("_", " ").gsub("-", " ").titleize %> Inside <%=get_inside_network_text(@network).titleize%></h4>
		<div style="height: 5px; background-color: rgb(204, 204, 204); margin-bottom: 10px;">
			&nbsp;
		</div>
		<% if @items.blank? %>
			<div>
				There were no results for your search.  Try different search terms.
			</div>
		<%else%>
			<%=render :collection=>@items, :partial=>"item"%>
		<% end %>
		<%= will_paginate @items %>
	</div>
</div>