= error_messages_for :user

- form_for :user, :url => user_path do |f|
  %p
    %label{ :for => "login" } Login
    %br/
    = f.text_field :login
  %p
    %label{ :for => "email" } Email
    %br/
    = f.text_field :email
  %p
    %label{ :for => "password" } Password
    %br/
    = f.password_field :password
  %p
    %label{ :for => "password_confirmation" } Confirm Password
    %br/
    = f.password_field :password_confirmation
  %p
    = submit_tag 'Sign up'
