<% content_for :head do %>
	<%= auto_discovery_link_tag(:rss, {:controller => 'users', :action => 'reporters', :format => 'rss'}) %>
<% end %>

<% @title = "Spot.us - Fund A Story" %>

<div id="fund_a_story">
	<div id="navigation">
		<h5>Browse Reporters on Spot.Us</h5>
	</div>
	<div id="stories">
		<%= link_to image_tag("/images/new_design/rss_16.png"), "/donors.rss", :class => "rss_button" %>
		<h3 class="display_inline">NOW VIEWING:</h3> 
		<h4 class="display_inline">Spot.Us Donors Inside <%=get_inside_network_text(@network).titleize%></h4>
		<div style="height: 5px; background-color: rgb(204, 204, 204); margin-bottom: 10px;">
			&nbsp;
		</div>
		<% if @pitches.blank? %>
			<div>
				There were no results for your search.  Try different search terms.
			</div>
		<%else%>
			<%@pitches.each do |pitch|%>
				<% apply_fragment ['reporters_listing_', pitch] do %>
					<div class="news_item">
						<%= link_to image_tag(pitch.user.photo(:thumb)), profile_path(pitch.user) %>
						<h5><%= link_to pitch.user.full_name, profile_path(pitch.user) %></h5>
						<div class="dateline">
							Joined <%= short_date(pitch.created_at) %>
						</div>  
						<div class="description">
							<%= truncate_words(strip_tags((pitch.user.about_you.blank? ? "This donor has not added their about you section yet" : pitch.user.about_you)), 50) %>
							<%= link_to "Read their profile &raquo;", profile_path(pitch.user) %>
						</div>
					</div>
				<% end %>
			<%end%>
		<% end %>
		<%= will_paginate @pitches %>
	</div>
</div>