<ul class="donateButtons">
	<%unless pitch.donations_closed?%>
		<% if @show_cca && !pitch.donations_closed? && !defined?(@cca) %>
			<li class='creditsButton' id="hoverAnchorFreeCredits-<%=pitch.id%>-<%=@pitch ? "large" : "small"%>">
				<% if current_user %>
					<%= link_to "Free Credits", cca_path(@first_cca) + "/#{pitch.id}", :title => '', :alt => "earn credits to donate if you're short on cash" %>
				<% else %>
					<%= facebox_login_link_to("Free Credits", cca_path(@first_cca) + "/#{pitch.id}", {:return_to => cca_path(@first_cca) + "/#{pitch.id}", :alt => "earn credits to donate if you're short on cash"}) %>
				<% end %>
			</li>
		<% end %>
		<li class='fundButton'>	
			<%= render :partial => "donations/text_button", :locals => { :news_item => pitch }%>
		</li>
	<%else%>
		<li class='creditsButton'>
			<a href="" rel="nofollow" onclick="return false;">Fully Funded</a>
		</li>
		<%if pitch.story && pitch.story.published?%>
			<li class='fundButton'>	
				<form>
					<input type="submit" value="Published" onclick="return false;" />
				</form>
			</li>
		<%end%>
	<%end%>
</ul>