.progress_bar
  .float-left
  - if pitch.fully_funded?
    = static_progress_bar('pitch', 1)
    .clear
      %strong= format_credits(pitch.current_funding)
      of
      == #{format_credits(pitch.current_funding)} credits raised
  - else
    = static_progress_bar("pitch", pitch.current_funding_in_percentage)
    .clear
      %strong= format_credits(pitch.current_funding)
      of
      == #{format_credits(pitch.requested_amount)} credits raised
