.progress_bar
  .float-left
  - if pitch.fully_funded?
    = static_progress_bar('pitch', 1)
    .clear
      %strong== #{pitch.current_funding} credits
      of
      == #{pitch.current_funding} credits raised
  - else
    = static_progress_bar("pitch", pitch.current_funding_in_percentage)
    .clear
      %strong== #{pitch.current_funding} credits
      of
      == #{pitch.requested_amount} credits raised
