<% @title = "Spot.us - Settings" %>

<%= render :partial => "myspot/nav", :locals => {:selected_tab => "settings"} %>
<% unless @settings.errors.empty? %>
	<% content_for :error do %>
		<%= error_messages_for_resource %>
	<% end %>
<% end %>
<h2>Settings</h2>
<div class="formContainer">
	<div class="formBody">
		<% form_for :settings, :url => myspot_settings_path, :html => { :method => :put, :class => "form" } do |f| %>
			<div class="row clearfix">
				<%= f.label :email, 'Email Address' %>
				<%= f.text_field :email %>
			</div>
			<% if @settings.is_a?(Reporter) || @settings.is_a?(Organization) || @settings.is_a?(Sponsor) %>
				<div class="row">
					<%= f.label :phone, 'Phone Number' %>
					<%= f.text_field :phone %>
					<br /><span class='small quieter'>Private</span>
				</div>
				<div class="row">
					<%= f.label :address1, 'Address (1)' %>
					<%=  f.text_field :address1 %>
					<br /><span class='small quieter'>Private. </span>
					<br />This is so we can send you a check.
				</div>
				<div class="row">
					<%= f.label :address2, 'Address (2)' %>
					<%= f.text_field :address2 %>
				</div>
				<div class="row">
					<%= f.label :city %>
					<%= f.text_field :city %>
				</div>
				<div class="row">
					<%= f.label :state %>
					<%= f.text_field :state, :size => 2 %>
				</div>
				<div class="row">
					<%= f.label :zip %>
					<%= f.text_field :zip, :size => 5 %>
				</div>
				<div class="row">
					<%= f.label :country %>
					<%= f.country_select :country, ['United States'], :include_blank => true %>
				</div>
			<% end %>
			
			<div class="row">
				<%= f.label :password, 'New Password' %>
				<%= f.password_field :password %>
			</div>
			
			<div class="row">
				<%= f.label :password_confirmation, 'Confirm New Password' %>
				<%= f.password_field :password_confirmation %>
			</div>

			<div class="row">
				<%= f.label     :notify_blog_posts,  "Notify Me Of New Blog Posts" %>
				<%= f.check_box :notify_blog_posts, :class => "normalCheckBox" %>
			</div>
			
			<div class="row">
				<%= f.label     :notify_comments,  "Notify Me Of New Comments" %>
				<%= f.check_box :notify_comments, :class => "normalCheckBox" %>
			</div>

			<div class="row">
				<%=get_button("Save")%>
			</div>
		<% end %>
	</div>
</div>


