%h1 Pitches
.box
  %table.admin_pitches
    %th General Information
    %th Funding
    %th Supporters
    %th Reporting Team
    %th Actions

    - @pitches.each do |pitch|
      %tr.quiet
        %td
          = render :partial => 'pitch', :locals => { :pitch => pitch }
        %td
          %strong= number_to_currency(pitch.current_funding)
          of
          == #{number_to_currency(pitch.requested_amount)} Raised
        %td
          = pitch.supporters.map(&:email).join(',<br/>')
        %td.fact_checker
          %b Peer Reviewer:
          %br/
          - if pitch.fact_checker_id.nil?
            = render :partial => 'fact_checker_chooser', :locals => { :pitch => pitch }
          - else
            == #{pitch.fact_checker.full_name} #{link_to('(change)', fact_checker_chooser_admin_pitch_path(pitch), :class => 'change_fact_checker')}
          - if pitch.contributors.any? || pitch.contributor_applications.unapproved.any?
            %div{:style => "margin-top: 5px;"}
              %b Blog Posters:
              %br/
              - if pitch.contributors.any?
                - pitch.contributors.each do |contributor|
                  = contributor.full_name
                  = link_to "(unapprove)", unapprove_blogger_admin_pitch_path(pitch, :user_id => contributor.id), :method => :put
                  %br/
                %br/
              - if pitch.contributor_applications.unapproved.any?
                = render :partial => 'blog_poster_chooser', :locals => { :pitch => pitch }

        %td.actions
          - if pitch.unapproved?
            = button_to 'approve', approve_admin_pitch_url(pitch), :method => :put, :class => "approve_button"
          - if pitch.active?
            = button_to 'unapprove', unapprove_admin_pitch_url(pitch), :method => :put, :class => "unapprove_button"
          = button_to 'delete', admin_pitch_url(pitch), :method => :delete, :confirm => 'Are you sure you want to delete this pitch?', :class => 'delete_button'
