%h1 Pitches
.box
  %table
    %th Headline
    %th Created At
    %th Location
    %th Expiration
    %th Funding
    %th Supporters
    %th Fact Checker
    
    - for pitch in @pitches
      %tr
        %td
          PITCH:
          = link_to h(pitch.headline), pitch_url(pitch)
          = "(Featured)" if pitch.featured?
        %td= pitch.created_at.to_s(:date)
        %td= pitch.location
        %td
          - unless pitch.expiration_date.nil?
            = pitch.expiration_date.to_s(:date)
        %td
          %strong= number_to_currency(pitch.current_funding)
          of
          == #{number_to_currency(pitch.requested_amount_in_cents.to_dollars)} Raised
        %td
          = pitch.supporters.map(&:email).join(', ')
        %td.fact_checker
          - if pitch.fact_checker_id.nil?
            = render :partial => 'fact_checker_chooser', :locals => { :pitch => pitch }
          - else
            == #{pitch.fact_checker.full_name} #{link_to('(change)', fact_checker_chooser_admin_pitch_path(pitch), :class => 'change_fact_checker')}
