= content_for :head do
  :javascript
    $(function(){
      $(".admin_tab").removeClass("hilited");
      $("#pitches_tab").addClass("hilited");
    });

= render :partial => "/admin/admin_header"

%h2 Unfunded Pitches
.box
  %table.admin_pitches
    %th General Information
    %th Deadline
    %th Funding
    %th Supporters
    %th Reporting Team
    %th Actions
    %th Closed?

    - @pitches.each do |pitch|
      %tr.quiet
        %td
          = render :partial => 'pitch', :locals => { :pitch => pitch }
        %td
          %strong= short_date(pitch.expiration_date)
        %td
          %strong= number_to_currency(pitch.current_funding) if pitch.current_funding
          of
          - if pitch.requested_amount
            == #{number_to_currency(pitch.requested_amount)} Raised
        %td
          = pitch.supporters.map(&:email).join(',<br/>')
        %td.fact_checker
          %b Peer Reviewer:
          %br/
          - if pitch.fact_checker_id.nil?
            = render :partial => 'fact_checker_chooser', :locals => { :pitch => pitch }
          - else
            == #{pitch.fact_checker.full_name} #{link_to('(change)', fact_checker_chooser_admin_pitch_path(pitch), :class => 'change_fact_checker')}

        %td.actions
          - if pitch.unapproved?
            = button_to 'approve', approve_admin_pitch_url(pitch), :method => :put, :class => "approve_button"
          - if pitch.active?
            = button_to 'unapprove', unapprove_admin_pitch_url(pitch), :method => :put, :class => "unapprove_button"
          = button_to 'reset funding', reset_funding_pitch_url(pitch), :confirm => 'Are you sure you want to reset the donations for this pitch?'
          = button_to 'delete', admin_pitch_url(pitch), :method => :delete, :confirm => 'Are you sure you want to delete this pitch?', :class => 'delete_button'

        %td
          - if pitch.closed?
            %strong= "CLOSED"

= will_paginate @pitches