%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 What is Spot.Us About?
  .double_content_border
  %p
    Spot.Us is a nonprofit project of the 
    == #{link_to "Center for Media Change", "http://www.CenterforMediaChange.com/"}. We are an open source project,
    to pioneer &ldquo;community funded reporting.&rdquo; Through Spot.Us the public can commission
    journalists to do investigations on important and perhaps overlooked stories. All donations are 
    tax deductible and if a news organization buys exclusive rights to the content, your donation will be 
    reimbursed. Otherwise, all content is made available to all through a Creative Commons license. 
    It&rsquo;s a marketplace where independent reporters, community members and news organizations 
    can come together and collaborate.

  %h2 Contact
  %hr/
  %p
    We are incredibly passionate and do our best to answer every email. Don't hesitate to contact
    us:
    = mail_to "info@spot.us", nil, :encode => "hex"
  %p
    Before you send us an email - check our FAQ's below. Perhaps your question has already been
    answered.
  %h2 Who
  %hr/
  %p
    Spot.Us was founded by 
    == #{link_to "David Cohn", "http://www.digidave.org"} and made possible by a generous grant from
    the Knight Foundation. Spot.Us has also drawn on support from individual funders
    like yourself, a fantastic team of advisors, designers (who used the frealy available 
    == #{link_to "FamFamFam", "http://www.famfamfam.com/"} 
    icons) and developers of
    == #{link_to "Hashrocket", "http://www.hashrocket.com/"}. 
    We are proudly hosted by
    == #{link_to "Engine Yard", "http://engineyard.com/"}. We are an open source project 
    and you can contribute on
    == #{link_to "Git Hub", "http://github.com/spot-us"}.
  %strong
    %ul
      %li
        = link_to "Our Community Advisory Board", page_path("who", :anchor => "community_advisory_board")
      %li
        = link_to "Board of journalism/media advisors", page_path("who", :anchor => "media_advisory_board")
      %li
        = link_to "Foundational Support", page_path("who", :anchor => "foundation")
      %li
        = link_to "Staff", page_path("who", :anchor => "staff")

.block-spacer
.box_white{:style => "width: 66%;"}
  .float_left
    %h2
      Frequently Asked Questions
      %a{:name => "faq"}
  .float_right
    %span
      %a{:href => "#top"} Back to top &#94;
  .double_content_border.clear
  
  %h3 
    %strong 
      %a{:href =>"#faq_citizen"} For Citizens
  %ul  
    %li
      %strong
        %a{:href =>"#citizen_explanation"} Quick Visual Introduction
    %li
      %a{:href =>"#faqtip"} What is a tip?
    %li
      %a{:href =>"#pledge_versus_tip"} What's the difference between Pledge and Donate?
    %li
      %a{:href =>"#finished_content_citizens"} What happens to the finished content?
    %li
      %a{:href =>"#donation_goal"} What if the pitch I donate to doesn't reach its goal?
    %li
      %a{:href =>"#thereporters"} Who are these reporters?
    %li
      %a{:href =>"#priceguide"} How are prices for each pitch determined?
    %li
      %a{:href =>"#privacy"} About Your Privacy

  %h3 
    %strong 
      %a{:href =>"#faq_reporter"} For Reporters
  %ul  
    %li
      %strong
        %a{:href =>"#reporters_explanation"} Quick Visual Introduction
    %li
      %a{:href =>"#mandatory"} Required reading: How to determine pricing.        
    %li
      %a{:href =>"#reporters_tip"} What is a tip?
    %li
      %a{:href =>"#pitch_advice"} Advice on Creating a Pitch
    %li
      %a{:href =>"#tip_attach"} Attaching a Tip to Your Pitch
    %li
      %a{:href =>"#qa_editor"} What's the role of the Fact-Check editor?
    %li
      %a{:href =>"#finished_content_reporters"} What happens to the finished content?
    %li
      %a{:href =>"#pitch_goal"} What if my pitch doesn’t reach it’s goal?
    %li
      %a{:href =>"#address"} Why Do we Need Shipping Address?
    %li
      %a{:href =>"#creative_commons"} What’s the Creative Commons Deal?
  %h3
    %strong 
      %a{:href =>"#faq_news_organization"} For News Organizations
  %ul
    %li
      %strong
        %a{:href =>"#news_org_explanation"} Quick Visual Introduction
    %li
      %a{:href =>"#approval"} Why do We Need Approval to get started?
    %li
      %a{:href =>"#work_with"} Advice On Working With Spot.Us. How to bolster your freelance budget.
   
  %h3
    %strong 
      %a{:href =>"#faq_general"} General FAQ
  %ul
    %li
      %a{:href =>"#future"} What Can We Expect in the Future?
    %li
      %a{:href =>"#why_sf"} Why are you focused on just the Bay Area?
  %h2
    <object width="425" height="344"><param name="movie"
    value="http://www.youtube.com/v/wxUqHlZYrRs&hl=en&fs=1"></param><param name="allowFullScreen"
    value="true"></param><param name="allowscriptaccess" value="always"></param><embed
    src="http://www.youtube.com/v/wxUqHlZYrRs&hl=en&fs=1" type="application/x-shockwave-flash"
    allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>

.block-spacer
.box_white{:style => "width: 66%;"}

  .float_left
    %a{:name =>"faq_citizen"}
    %h2
      For Citizens
  .float_right
    %span
      %a{:href => "#faq"} Back to FAQ &#94;
  .double_content_border.clear
  %a{:name => "citizen_explanation"}
  %p
  <div style="width:425px;text-align:left" id="__ss_969825"><a style="font:14px
  Helvetica,Arial,Sans-serif;display:block;margin:12px 0 3px 0;text-decoration:underline;"
  href="http://www.slideshare.net/Digidave/for-citizens-presentation?type=powerpoint" title="For
  citizens">For citizens</a><object style="margin:0px" width="425" height="355"><param name="movie"
  value="http://static.slideshare.net/swf/ssplayer2.swf?doc=citizens-1233284102107397-3&stripped_title=for-citizens-presentation"
  /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess"
  />
  <embed
  src="http://static.slideshare.net/swf/ssplayer2.swf?doc=citizens-1233284102107397-3&stripped_title=for-citizens-presentation"
  type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425"
  height="355"></embed></object><div
  style="font-size:11px;font-family:tahoma,arial;height:26px;padding-top:2px;">View more <a
  style="text-decoration:underline;" href="http://www.slideshare.net/">presentations</a> or <a
  style="text-decoration:underline;"
  href="http://www.slideshare.net/upload?type=powerpoint">upload</a> your own. (tags: <a
  style="text-decoration:underline;" href="http://slideshare.net/tag/journalism">journalism</a> <a
  style="text-decoration:underline;" href="http://slideshare.net/tag/media">media</a>)</div></div>

  %a{:name => "faqtip"}
  %h3 What is a Tip?
  %p
    Anyone can create a news "tip" about an important topic you think should be reported on. This is
    often related to the question "what are you passionate about?" You can pledge to this tip, but
    no money is taken - it’s just a way to show how much interest you have in this possibly becoming
    a pitch. Creating a tip could be the spark that starts an investigation.
    
  %a{:name => "pledge_versus_tip"}
  %h3 What's the difference between Pledge and Donate?
  %p
    Pledges give reporters a sense of community interest in a news &ldquo;tip.&rdquo; It does not
    represent real money. Nothing is committed - although we ask you pledge only what you’d be
    willing to eventually donate if a reporter builds a full "pitch" inspired by this tip. Donations
    to pitches are tax-deductable and are a transaction. If the pitch is unsuccesful, you will
    receive money back in the form of Spot.Us credits. No matter what your money will go to support
    journalism. 
  %p
    In the future we hope to build out a more dynamic credit system such that credit
    cards are only charged if the specific pitch you want has reached its funding goal.
    
  %a{:name => "finished_content_citizens"}
  %h3 What happens to the finished content?
  %p
    Finished content is licensed under Creative Commons and anyone is free to
    republish it. Spot.Us works with local news organizations to get it distributed in as many
    places as possible. See our growing list of registered news organizations. Our partner news
    organizations can also obtain temporary copyright to the content (first publishing rights) if they
    donate 50% or more towards a pitch. Extra proceeds go back to community members who
    originally supported that pitch.
        
  %a{:name => "donation_goal"}
  %h3 What if the pitch I donate to doesn't reach its goal?
  %p
    All credits are returned to your account and you can direct them towards any other existing
    pitch. You will have until the end of the fiscal year to put the money back in circulation
    through the Spot.Us system.
  %p
    In the future we hope to build out a more dynamic credit system such that credit
    cards are only charged if the specific pitch you want has reached its funding goal.
    
  %a{:name => "thereporters"}
  %h3 Who are these reporters?
  %p
    Reporters on Spot.Us are self-identified freelance journalists. We do speak with every reporter
    about their pitch and verify their identity. As a marketplace we will continue to build tools to
    enable you to find out more about these reporters and judge them on the merits of their work.
    But it is important to note that Spot.Us does not try to define who is and is not a journalist.
    Any self-identified freelancer can work with us and if they are earnest, we will reciprocate. We
    encourage every citizen to view the reporters profile and pitch critically before you donate.
  
  %a{:name => "priceguide"}
  %h3 How are prices for each pitch determined?
  %p
    As a marketplace Spot.Us is continually updating its 
    = link_to 'pricing guildines.', page_path("reporter_agreement") 
    We have built this guidline as a means to explain how much a
    reporter can reasonable ask for during an investigation. It is based on competitive rates
    throughout the country for freelancers.
    
  %a{:name => "privacy"}
  %h3 Your Privacy
  %p
    Privacy is very important to us. We will never share your information with a third party. No
    if’s and’s or but’s. To learn more, please check our 
    = link_to 'Privacy Policy.', page_path("privacy")

.block-spacer
.box_white{:style => "width: 66%;"}

  .float_left
    %h2
      For Reporters
      %a{:name =>"faq_reporter"}
  .float_right
    %span
      %a{:href => "#faq"} Back to FAQ &#94;
  .double_content_border.clear
  %a{:name => "reporters_explanation"}
  %p
  <div style="width:425px;text-align:left" id="__ss_969770"><a style="font:14px
  Helvetica,Arial,Sans-serif;display:block;margin:12px 0 3px 0;text-decoration:underline;"
  href="http://www.slideshare.net/Digidave/spotus-for-reporters-presentation-969770?type=presentation"
  title="Spot.Us - for reporters">Spot.Us - for reporters</a><object style="margin:0px" width="425"
  height="355"><param name="movie"
  value="http://static.slideshare.net/swf/ssplayer2.swf?doc=forreporters-1233282379077707-1&stripped_title=spotus-for-reporters-presentation-969770"/><param name="allowFullScreen" value="true"/><param name="allowScriptAccess"><embed
  src="http://static.slideshare.net/swf/ssplayer2.swf?doc=forreporters-1233282379077707-1&stripped_title=spotus-for-reporters-presentation-969770"
  type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425"
  height="355"></embed></object><div
  style="font-size:11px;font-family:tahoma,arial;height:26px;padding-top:2px;">View more <a
  style="text-decoration:underline;" href="http://www.slideshare.net/">presentations</a> or <a
  style="text-decoration:underline;"
  href="http://www.slideshare.net/upload?type=presentation">upload</a> your own. (tags: <a
  style="text-decoration:underline;"
  href="http://slideshare.net/tag/journalism">journalism</a>)</div></div>

  %a{:name => "mandatory"}
  %h3 Agreement to Work with Spot.Us and Pricing Guidlines.
  %p
    We've created a picing guidline based on competitive rates for freelancers. This also includes the "reporters agreement" that explains the working relationship between 
    Spot.Us and the reporter.
  %p 
    == #{link_to "Required Reading", page_path("reporter_agreement"),:style => "color: red;"}   
  %p
  %a{:name => "reporters_tip"}
  %h3 What is a Tip?
  %p
    Tips are exactly what they sound like – community tips on untold and important stories. 
    Creating a pitch and then referencing a tip will send a note to every member of that group 
    to let them know their story tip could become a reality in your pitch. In this sense - the 
    community is your ally in forming pitches. Browse the tips and create pitches based on them. 
    You can reference as many tips as are relevant to your pitch.
  
  %a{:name => "pitch_advice"}
  %h3 Advice on Creating a Pitch
  %p
    Write the pitch so that anyone who reads it will want to see that story materialize. Sell your
    idea and your expertise on the subject. Don’t be afraid to be personal. Upload a YouTube video
    explaining who you are and why you’re the right person for the job. Imagine what civic leaders
    or organizations would want to partner with you. Remember - the public now has a freelance
    budget, pitch them like you would the editor of a major metropolitan newspaper. 
    == (#{link_to "Read More", "http://blog.spot.us/2008/10/09/independent-journalists-how-to-raise-your-own-income "}).

  %a{:name => "tip_attach"}
  %h3 Attaching a Tip to Your Pitch
  %p
    Attaching a tip is a reporters way of tapping the community members on the shoulder and saying
    “hey, I’ve referenced your news tip in my pitch.” You can ping as many tips as you want – but
    they should be related to the pitch you create.
    
  %a{:name => "qa_editor"}
  %h3 What’s the Role of the Fact-Check Editor?
  %p
    The Fact-Check editor has two main responsibilities – to ensure fair and accurate reporting. 
    To do the latter the Fact-Check editor should be in touch with the journalist before reporting
    begins and before the draft is uploaded. At any time the Fact-Check editor can report suspicious
    activities to Spot.Us. Fact-Check editors are assigned by spot.Us, and the reporter can reject
    the first two assigned editors. The investigation will not publish without the Fact-Check
    editor's approval. Any journalist can apply to be a Fact-Check editor within their profile.
    
  %a{:name => "finished_content_reporters"}
  %h3 What Happens to the Finished Content?
  %p
    Finished content is licensed under Creative Commons and anyone is free to
    republish it (with attribution to the author). Spot.Us works with local news organizations to get it distributed in as many
    places as possible. See our growing list of registered news organizations. Our partner news
    organizations can also obtain first publishing rights to the content if they donate 50% or more towards a pitch. Extra proceeds go back to community members who
    originally supported that pitch. 
  %p 
    Next time an editor rejects your piece purely for monetary reasons, suggest raising
    half of your freelance salary on Spot.Us. Spot.Us is happy if you upload pitches to our site and
    try to shop them around to news organizations at the same time under the condition that
    interested news organizations work with the Spot.Us community.
  
  %a{:name => "pitch_goal"}
  %h3 What if my Pitch Doesn’t Reach its Goal?
  %p
    You can accept to do the pitch regardless of whether or not you reach the original goal. So, if
    you raise 80% of the stated goal, you can still accept that money, but you must do what was
    outlined in the original pitch. You can also choose to cancel the pitch at any time and
    donations will be directed back to the original donors so they may direct it to another pitch.
  %P    
    In the future we will have a more dynamic credit card system that will only charge a users
    credit cards upon the succesful completion of a pitch.
  %a{:name => "address"}
  %h3 Why Do we Need Shipping Address?
  %p
    We will not share this information with anyone, it’s merely so we can send you a check for the
    work that you do on Spot.Us.
        
  %a{:name => "creative_commons"}
  %h3 What’s the Creative Commons Deal?
  %p
    The end content produced by Spot.Us will be given away for free unless a news organization has
    contributed either 50% or 100% of the total cost. In that situation - we will grant that
    news organization temporary copyright to the article. Eventually all Spot.Us stories are licensed
    under Creative Commons. You can learn more by reading our = link_to 'Reporters Contract', page_path("reporter_contract")

.block-spacer
.box_white{:style => "width: 66%;"}
  .float_left
    %a{:name =>"faq_news_organization"}
    %h2 For News Organizations
  .float_right
    %span
      %a{:href => "#faq"} Back to FAQ &#94;
  .double_content_border.clear

  %a{:name => "news_org_explanation"}
  %p
  <div style="width:425px;text-align:left" id="__ss_933112"><a style="font:14px
  Helvetica,Arial,Sans-serif;display:block;margin:12px 0 3px 0;text-decoration:underline;"
  href="http://www.slideshare.net/Digidave/explanation-for-news-orgs-presentation?type=presentation"
  title="Explanation for News Orgs">Explanation for News Orgs</a><object style="margin:0px"
  width="425" height="355"><param name="movie"
  value="http://static.slideshare.net/swf/ssplayer2.swf?doc=newsorgs-1232420177452987-1&stripped_title=explanation-for-news-orgs-presentation"
  /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/>
  <embed
  src="http://static.slideshare.net/swf/ssplayer2.swf?doc=newsorgs-1232420177452987-1&stripped_title=explanation-for-news-orgs-presentation"
  type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425"
  height="355"></embed></object><div
  style="font-size:11px;font-family:tahoma,arial;height:26px;padding-top:2px;">View more <a
  style="text-decoration:underline;" href="http://www.slideshare.net/">presentations</a> or <a
  style="text-decoration:underline;"
  href="http://www.slideshare.net/upload?type=presentation">upload</a> your own.</div></div>
  
  %a{:name => "approval"}
  %h3 Why do We Need Approval to get started?
  %p
    News organizations have a special role in Spot.Us. They are the only type of user that is
    allowed to donate more than 20% of a pitch's goal. As such, we interview news organizations to ensure
    they ascribe to journalistic ethics as described by the Society of Professional Journalists. We
    realize that a waiting period before you become a "news organization" on Spot.Us is less than
    ideal, but it is important to us that these ethics are followed by anybody that could
    singlehandedly fund an investigation.

  %a{:name => "work_with"}
  %h3 Advice On Working With Spot.Us. How to bolster your freelance budget.
  %p
    Spot.Us is an opportunity to bolster your freelance budget by working with and for the public.
    We only work with freelancers, we cannot support staff writers. But if you do work or want to
    procure freelance work, perhaps part of their wage can be shared with the public. You can donate
    50% of their freelance salary upfront and the Spot.Us community can fundraise the other 50%.
    Your organization will still get first publishing rights. Or you can register on Spot.Us and
    find out about high quality articles that have been 100% community funded, so the reporting
    comes from a profesional reporter, but you can run the content for free.
  %p
  %strong Here are the various ways your organization can get involved
    
  %ul
    %li
      Spot.Us content that is 100% community funded is made available for free to news organizations
      to republish. Register on the site and we'll let you know when content is going to be published.
    %li
      Donate 50% of the value of an investigation and you'll get exclusive rights. (This is only
      available until the investigation has reached 51% funding through community donations, so get
      in the game early).
    %li
      Donate 100% of the value of an investigation and you'll get exclusive rights. You can do this
      at any time - all extra proceeds will be given back to community members to invest in another
      pitch. This is a way to build a new relationship with your audience. They'll love you for
      refunding them and it's a built in audience.
    %li
      We encourage you to donate small amounts as well. Even a tiny donations from a news
      organization can be the push to give a pitch the momentum it needs to get community funding -
      and you are welcome to the final content or even to apply as a fact-check editor.

.block-spacer
.box_white{:style => "width: 66%;"}
  .float_left
    %a{:name =>"faq_general"}
    %h2 General FAQ
  .float_right
    %span
      %a{:href => "#faq"} Back to FAQ &#94;
  .double_content_border.clear

  %a{:name => "future"}
    %h2 What Can We Expect in the Future?
  %hr/
  %p
    SO MUCH!!!
  %p
    We have lots planned. Our website is currently 1/4th of what we envision. As we
    develop the open source code we want to add the ability for journalists to report on their
    pitches in public on the Spot.Us site. We will add more functionality for all three types of
    users (citizen, reporter, news organization) and who knows what else we might cook up along the
    way. We are responsive to you, so your feedback is welcome.
  
  %a{:name => "why_sf"}
  %h2 Why are you focused on just the Bay Area? 
  %hr/
  %p
    We do hope to eventually expand into other regions of the country. We are committed to local
    journalism for many reasons which we could talk your ear off about. As such, the Bay Area seemed
    like a great place to launch our 1.0. As we improve the site we will launch in other cities.
  
  -#

    .double_content_border
    
    .block-spacer
    
    Changing a Pledge. You can change a pledge or donation at any time. For a tip, just find the
    pledge in your dashboard and make the change. For a donation, if you increase the donation
    you’ll have to “checkout” again – if you lower your donation, you’ll have spare credits which
    you can direct to a different pitch (spreading the love).
    
    Why Credits? Spot Credits are yours and they will remain in your control until a pitch of your
    choosing reaches its fundraising goal. All of the money you donate will go to the reporting
    needed to finish an investigation – Spot.Us also asks for tips to the organization, but it is not
    required and we are transparent in asking for tips. In the future we will be looking into
    options outside of credits to pay for investigative reporting – but for this version, it is the
    best way to get the job done.
    
    Why Tell a Friend? Spot.Us is about giving groups a new sense of editorial power. The only way
    an investigation gets funded is if a group or network sees value in it. If you are a
    civic-leader, you can take ownership of a tip or pitch by spreading word about it and making it
    a reality.
    
    What’s an RSS feed? RSS stands for Really Simple Syndication. That means instead of you having
    to visit spot.us to find out what is new – we will send updates directly to your RSS reader. If
    you’re brand new to RSS, try Google Reader, it’s simple to use. Get your Google Reader up and
    running – then come back and click this funny orange button. FAQ for Reporters
    
    What’s a Reporters Notebook? A reporters notebook allows the QA editor and reporter to
    converse. It also allows a reporter to upload any reporting they’ve done while working on the
    larger investigation. The reporter can make this reporting public or private, but Spot.Us
    encourages transparency at all levels.
    
    Why give extra to spot.us? (also for Right coloumn of Profile View) Spot.Us is an exciting
    nonprofit project to pioneer “community funded reporting.” We believe journalism is a process –
    not a product and all we want to do is support good local investigative journalism. While we do
    everything to keep our overhead low, just accepting donations means we are running at a loss.
    Credit card companies take a small percentage of every transaction. We are trying to cover that
    cost ourselves but as a small nonprofit, we hope you will help us keep the lights on with a
    small donation that goes to the organization to recoup this loss.
    
    How do I add a photo?
    
    How do I add a video?
    
    How do I publish? FAQ for News Organizations
    
    For News Organizations
    
    What Can We Expect in the future? asdf
    
    Ways we can get exclusive content 1. 2. 3. You can always run our content for free, unless
    another news organization has done steps one or two above. 4. We encourage you to donate small
    amounts as well. Even a tiny donations from a news organization can be the push to get a pitch
    the momentum it needs to get community funding – and you are welcome to the final content or
    even to apply as a fact-check editor.
.block-spacer
