%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Who Makes Spot.Us Spin?
  .double_content_border

  %a{:name => "bay_community_advisory_board"}
  %h3
    %strong
      Bay Area Community Advisory Board
  %p
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/marc_smolowitz1.jpg" 
    %br
      %strong
        Marc G. Smolowitz
    is an Academy Award nominated documentary film & television producer. He is currently Producer
    at TellyTopia. He has served as Chair of the Technology Impact Circle at Full Circle Fund,
    an engaged philanthropy organization that cultivates the next generation of community leaders
    and drives lasting social change in the S.F. Bay Area. He has also been the Co-chair of the
    Community Technology Network (CTN) of the Bay Area since it was founded in 2001 and serves on
    the Professional Advisory Committees for Digital Film Making, Web Design & Interactive Media at
    the Art Institute of California.
    %br
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/greg.jpg" 
    %br   
      %strong
        Greg Wolff 
    "My career has been driven by a curiosity to understand intelligence and create tools that make
    people, especially groups of people, smarter and better able to pursue their shared interests."
    Greg is currently Vice President of Ricoh Innovations and most recently established the
    Community Network Services group at RII and founded the UnaMesa Association.
    %br
    %br
    = image_tag "http://blog.spot.us/wp-content/uploads/2009/10/Manuel.jpg" 
    %br
      %strong
        Manuel  Maqueda 
      is  an  expert  in social  media  with  three years'  experience  as  a reporter,  a
      speaker,  and a  op-ed writer  on citizen  media and  the transformations  in journalism.  Manuel is
      the  director for  the Americas  of  PeriodismoCiudadano.com, the  world's leading  news source  and
      resource  on  citizen  journalism,  and  the  founder  of  Nuestra  Voz,  a  nonprofit  organization
      helping  Spanish  speakers  participate  in  the   online  conversation.  Manuel  holds  a  graduate
      degree  in Economics,  as well  as a  graduate degree  in Law.  He is  also a  Sorbonne graduate  in
      French Language  and Civilization.  Born in  Madrid, Spain, Manuel  lives in  the San  Francisco Bay
      area, where  he is  actively involved  in several  environmental causes  and social  media projects.
    %br
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/ian1.jpg" 
    %br
    %br
      %strong
        Ian Elwood
    has a Master's Degree in Media Studies from New College of California and has worked
    for multiple nonprofit technology projects. He recently earned featured project status at the
    2008 NetSquared Mashup Challenge and won a grant from the Sunlight Foundation for a corporate
    accountability mashup of Securities and Exchange Commission data.
    %br
    = image_tag  "http://spotreporting.files.wordpress.com/2009/02/lizapike.jpg" 
    %br
      %strong
        Liza Pike
    is the founder of Resource Media’s San Francisco office in 1998, Liza helped shape the overall
    growth and direction of the organization and was lead strategist on a number of campaigns and
    projects. Prior to joining Resource Media, Liza was a press officer for the Natural Resources
    Defense Council in San Francisco and worked with the Center for Investigative Reporting, as
    program and marketing director and in a number of other capacities. She is currently a member of
    CIR’s board. She is currently in R and D phase for a new resource for nonprofits on strategic
    communications in the social media age.
    %br
    = image_tag  "http://spotreporting.files.wordpress.com/2009/02/santiago.jpg" 
    %br
      %strong
        Santiago Wechsler 
    has managed an environmentaly sustainable construction start up, leading multicultural
    team of over 40 people, successfuly delivering innovative projects in the Bay Area. He has been
    involved in political and social projects since the 2004 election, when he worked for the Kerry
    Edwards Campaign. He lead the grass root movement in Bay Area and Des Moines Iowa -working with
    the DNC and moveon.org- training them in providing narratives that break-through peoples
    resignation to regain an active role in local and national politics. He is actively involved in
    several local Oakland organizations, including his NCPC, where he is the co-chair, UNCO (United
    Neighborhood Council of Oakland).
    %br
    = image_tag  "http://spotreporting.files.wordpress.com/2009/02/sarah_right2.png" 
    %br
      %strong
        Sarah Cove
    Sarah's interests lie in how the changing landscape of technology is and can be used to enrich
    communities. Sarah is the Marketing Manager at Wikispaces, a company that builds and hosts
    easy-to-use wikis. There, her goals are to build a service simple enough for anyone to use and
    to foster communities where individuals can meet and learn from one another. In her free time,
    Sarah is part of several neighborhood organizations in Oakland, sings in a local San Francisco
    choir, and is currently brushing up on her Chinese.
    
  %a{:name => "la_community_advisory_board"}
  %h3
    %strong
      Los Angeles Community Advisory Board 
  %p       
    = image_tag  "http://blog.spot.us/wp-content/uploads/2010/01/Picture-3.png" 
    %br
      %strong
        Frank Sotomayor    
    is a Senior Fellow at the Institute for Justice and Journalism, which provides resources for
    in-depth reporting on justice issues. He’s also an adjunct faculty member at the USC Annenberg
    School for Communication & Journalism. He worked as a Los Angeles Times editor for 35 years,
    including 18 years as an assistant metro editor. He was co-editor and a writer on the Times
    series "Latinos in Southern California," which won the 1984 Pulitzer Prize for Public Service.
    Sotomayor was a co-founder of the Maynard Institute for Journalism Education, the California
    Chicano News Media Association and the National Association for Hispanic Journalists. In 2002,
    he was named to NAHJ’s Hall of Fame.
    %br
    %br
    = image_tag  "http://blog.spot.us/wp-content/uploads/2010/01/Picture-1.png" 
    %strong
      Joni Byun 
    is Senior Vice President of Nakatomi & Associates. She serves as the strategic manager for
    social marketing and communications campaigns reaching diverse audiences. Since joining the firm
    in 1996, Joni has led campaigns for clients such as the California Department of Health
    Services, The California Endowment, The California Wellness Foundation, California Department of
    Transportation, Casey Family Programs, Farmers Insurance Group, Freddie Mac, Southern California
    Edison, and the U.S. Environmental Protection Agency. She currently serves on two national
    committees for the American Heart Association: Women & Minority Leadership Committee and
    Communications & Marketing Coordinating Committee.
    %br
    %br
    = image_tag  "http://blog.spot.us/wp-content/uploads/2010/01/Picture-4.png" 
    %strong
      Wing Lam 
    is a graduate of San Diego State University with a Bachelor's Degree in Finance and a minor in
    Spanish. In 1975 his family moved to Orange County from Brazil. Once the family moved to Orange
    County, Wing and his brothers became avid surfers. For fun, the three brothers would travel
    across the Mexican border in search of great surf. After a great day of riding fun waves, the
    brothers would refuel on the freshly -prepared tacos available at most roadside stands found in
    the Baja Peninsula. Then, in 1988, the brothers decided to import the fish taco they craved to
    Orange County and give it a unique twist. They combined the freshest ingredients with their
    Brazilian-family favorite recipes and a dash of Asian flare. The combination of the ingredients
    created a surfer meal that made Wahoo's Fish Taco a " must stop after a great surf session."
    %br
    %br
    = image_tag  "http://blog.spot.us/wp-content/uploads/2010/01/Picture-21.png" 
    %strong
      Todd Katz 
    founded Century Park Partners LLC, a national real estate investment firm based in Los Angeles,
    in 1996, after 11 years working in the commercial real estate brokerage business. He balances
    his real estate work with volunteer work in the non-profit arena. Todd is on the Board of
    Directors of the Westside Family YMCA, the Los Angeles Metropolitan YMCA, and the UCLA Medical
    Center Board of Advisors. For 30 years, he has been a volunteer director of a YMCA residence
    camping program in Big Bear, and, along with his wife, Dana, he helps coordinate the Operation
    Mend Program at UCLA, a program that supports injured service members from the wars in Iraq and
    Afghanistan.

  %a{:name => "media_advisory_board"}  
  %h3
    %strong
      Media Advisory Board
  %p
    We have a board of advisors that includes:
  %ul
    %li 
      Dan Gillmor
    %li
      Jay Rosen
    %li
      Jeff Jarvis
    %li
      Brant Houston
    %li
      Susan Mernit
    %li
      Fabrice Florin
    %li
      Leonard Witt
    %li
      Jennifer 8. Lee
    %li
      Jeremy Toeman
      
  %a{:name => "staff"}
  %h3
    %strong
      Spot.Us Staff      
  %p
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/david1.jpg" 
    Founder and Director:  
    == #{link_to "David Cohn", "http://www.digidave.org"} has written for Wired, Seed, Columbia 
    Journalism Review and The New York Times. While working toward his master’s degree at Columbia
    University’s Graduate School of Journalism, Cohn worked as the editor at newassignment.net,
    which focused on citizen journalism and ways news organizations could explore the social web.
    Cohn also worked with Jeff Jarvis from Buzzmachine.com to organize the first Networked
    Journalism Summits, which brought together the best practices of collaborative journalism. He
    has been a contributing editor at NewsTrust.net, is the editor-in-chief at Broowaha, an
    expanding citizen journalism network.
  %p
    = image_tag "http://blog.spot.us/wp-content/uploads/2009/12/Picture-6.png" 
    LA Managing Editor: Anh Do will go wherever the story takes her. A second-generation journalist,
    she has worked as vice president of Nguoi Viet Daily News, the largest Vietnamese-language
    newspaper in the U.S. where she founded Nguoi Viet 2, a weekly English section for younger
    readers. She started her career at the Dallas Morning News and the Seattle Times before writing
    for the Orange County Register for 12 years, including a column on Asian affairs, in addition to
    hosting "Vietscape," the paper's first radio show targeting bilingual listeners. Her coverage
    has been honored by Columbia University's Graduate School of Journalism, the University of
    Washington's DART Award for excellence in reporting on victims of violence, the Asian American
    Journalists Association and Freedom Newspapers Sweepstakes Award.
  %br
  %p
    = image_tag "http://spotreporting.files.wordpress.com/2009/02/erik1small1.jpg" 
    <a href="http:/:/www.sundelof.com" title="Erik Sundelof - http://www.sundelof.com">Erik
    Sundelof</a> is the Chief Technical Officer of Spot.Us. Erik was previously the co-founder and
    VP of Social Media and User Interface at San Francisco based Allvoices, Inc. Allvoices is a new
    content-based social network around news and opinions which currently is the biggest citizen
    news media site on the web. Erik was previously a fellow in the Reuters Digital Vision Program
    (http://www.rdvp.org) at Stanford University between 2005-2006. Most notably he created the Web
    site <a href="http://www.inthefieldonline.net"
    title="inthefieldONLINE.net">inthefieldONLINE.net</a>, which was recognized by major global
    media including PBS, CNN and BBC, and got featured on Discovery International’s Rewind 2006 as
    one of 25 highlights of the Year. He is active in the social media arena and has directed the
    launch of several social media sites including the biggest blog in Sweden during 2005-2007. His
    academic orientations are rooted in a Master’s degree in Chemical Engineering and PhD licentiate
    in Numerical Analysis from the Royal Institute of Technology, Stockholm.
  %p
    = image_tag "http://blog.spot.us/wp-content/uploads/2009/12/Picture-4.png" 
    Developer in Chief: Dan Newman has a diverse background in web, database, and application programming with special
    emphases on creative communication via AJAX UI design. My current frameworks of choice are Ruby
    on Rails and jQuery. To me, the crafting of a user experience is an artform. I write 
    == #{link_to "a Rails Ajax blog", "http://polyrails.com/"}
    , consult and work on original product designs in the "spare time" (is there such a
    thing?) My primary goal is to create new possibilities for human expression and collaboration.
  %br
  %p
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/karaandrade_icon.jpg" 
    Community Organizer (on leave as a Fulbright Scholar): Kara Andrade is a five-year veteran of
    multimedia journalism, print and online, who uses social media to bridge the world of
    newspapers, technologists and entrepreneurs to present relevant, accessible and edgy stories.
    She builds communities online and offline both through reporting and consulting work and
    organizes events in virtual worlds such as Second Life.
    %br
    %br
    %a{:name => "foundation"}
    %h3
      %strong
        Foundation Support
    %p
      == #{link_to "Knight Foundation", "http://www.knightfoundation.org/"} has supported Spot.Us
      through its Knight News Challenge grant in a two year grant. Spot.Us would not be possible
      without their support.
    %p
      == #{link_to "Full Circle Fund", "http://www.fullcirclefund.org/"} is an engaged philanthropy
      organization cultivating the next generation of community leaders and driving lasting social
      change in the Bay Area.
    %p
      The Kastia Foundation