%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 What They Are Saying.....
  .double_content_border
  %p 
    Spot.Us has been covered and talked about by traditional news organizations like the New York
    Times, NPR and PBS as well as new media giants like TechCrunch and Wired. Below is a sampling which
    should give you sense of just how much attention Spot.Us is making for our innovative approach
    to funding journalism.
    %ul
      %li
        == #{link_to "KRON 4 on Spot.Us", "http://www.kron4.com/Global/category.asp?C=142823"} - KRON 4 Interviews David Cohn about Spot.Us
      %p
      %li
        == #{link_to "A Different Way to Pay for the News You Want", "http://www.nytimes.com/2008/08/24/weekinreview/24kershaw.html"} - The New York Times
      %p
      %li
        == #{link_to "Spot Us: crowdfunded journalism, coming soon", "http://www.poptech.org/blog/index.php/2008/07/17/spot-us-community-reporting-coming-soon/"} - PopTech!
      %p
      %li
        == #{link_to "Crowdfunding News Stories", "http://www.springwise.com/media_publishing/crowdfunding_and_pitching_news/"} - SpringWise
      %p
      %li
        == #{link_to "Q&A with Dave Cohn of news marketplace Spot.us", "http://venturebeat.com/2008/11/13/qa-with-dave-cohn-of-news-marketplace-spotus-about-doing-better-reporting/"} - Venture Beat
      %p
      %li
        == #{link_to "Spot.Us Mentioned as New Hope for Journalism", "http://www.onthemedia.org/transcripts/2008/08/15/01"} - On The Media with Bob Garfield
      %p
      %li
        == #{link_to "David Cohn Answers Questions About Spot.Us", "http://eatsleeppublish.com/dave-cohn-answers-questions-about-spotus-and-community-funded-reporting/"} - Eat, Sleep, Publish
      %p
      %li
        == #{link_to "Fund the Journos!", "http://www.levjoy.com/blog/2008/07/09/fund-the-journos/"} - Joshua Levy, Community Editor Change.org
      %p
      %li
        == #{link_to "Want to Read about Problems with Ethanol Mandates in California?", "http://ecolocalizer.com/2008/07/10/would-you-like-to-read-about-problems-with-meeting-ethanol-mandates-in-california/"} - Eco-Localizer
      %p
      %li
        == #{link_to "Dial a Journalist", "http://evolvingnewsroom.blogspot.com/2008/06/dial-journalist.html"} - The Evolving Newsroom
      %p
      %li
        == #{link_to "Community Funded Reporting", "http://www.yesh.com/blog/2008/06/09/community-funded-reporting/"} - Yeesh.com
      %p
      %li
        == #{link_to "Making money online: crowdfunding", "http://www.charliebeckett.org/?p=655"} - Charlie Beckett, London School of Economics
      %p
      %li
        == #{link_to "Spot.Us Mentioned as New Innovative Approach", "http://www.pbs.org/newshour/bb/media/july-dec08/newmedia_10-29.html"} - News Hour with Jim Lehrer
      %p
      %li
        == #{link_to "First Look: Spot.Us for Crowd-Funded Journalism", "http://wemedia.com/2008/11/07/crowdsourcing-journalism-sustainable-or-not/"} - WeMedia
      %p
      %li
        == #{link_to "Spot.Us Launches Crowd-Funded Journalism Project ", "http://blog.wired.com/business/2008/11/spotus-launches.html"} - Wired Magazine
      %p
      %li
        == #{link_to "Pay As You Go Journalism", "http://digitalstory.honadvblogs.com/2008/06/27/pay-as-you-go-journalism/"} - Honolulu Advertiser
      %p
      %li
        == #{link_to "Spot.Us Experiments With Citizen-Funded Community Journalism", "http://www.techcrunch.com/2008/11/10/spotus-experiments-with-citizen-funded-community-journalism/"} - TechCrunch
      %p
      %li
        == #{link_to "Community Funded News Launches At Spot.Us", "http://ryansholin.com/2008/11/10/community-funded-news-launches-at-spotus/"} - Ryan Sholin, Invisible Inkling
      %p
      %li
        == #{link_to " Break the Mold: Brainstorming How Newspapers Could Make Money", "http://www.poynter.org/column.asp?id=101&aid=146504"} - Poynter Institue
      %p
      %li
        == #{link_to "The Big Digital News of Today: Spot.us Launches", "http://spj.org/blog/blogs/tech/archive/2008/11/10/21637.aspx"} - Society of Profesional Journalists
      %p
      %li
        == #{link_to "Spot.us Brings Crowdfunding to Journalism", "http://www.mathewingram.com/work/2008/11/10/spotus-brings-crowdfunding-to-journalism/"} - Mathew Ingram
      %p
      %li
        == #{link_to "Community funded reporting project Spot.us goes live", "http://reportr.net/2008/11/10/community-funded-reporting-project-spotus-goes-live/"} - Alfred Hermida, Reportr.net
      %p
      %li
        == #{link_to "Spot.Us: Community Funded Journalism", "http://www.cnewmark.com/2008/11/spotus-communit.html"} - Craig Newmark, Craigslist.com
      %p
      %li
        == #{link_to "The market and the internet don’t care if you make money", "http://publishing2.com/2008/11/10/the-market-and-the-internet-dont-care-if-you-make-money/"} - Scott Karp, Publish2.com
      %p
      %li
        == #{link_to "Spot.us Launches", "http://www.ethanzuckerman.com/blog/2008/11/10/spotus-launches/"} - Ethan Zuckerman, My Heart's In Accra
      %p
      %li
        == #{link_to "Daily question: Pay to read?", "http://counternotions.com/2008/11/10/pledge/"} - Counter Notions
      %p
      %li
        == #{link_to "No News is No News", "http://www.buzzmachine.com/2008/11/03/no-news-is-no-news-2/"} - Jeff Jarvis, Buzzmachine
      %p
      %li
        == #{link_to "Spot.us — “Community Funded Reporting” — Launches", "http://www.smartmobs.com/2008/11/10/spotus-community-funded-reporting-launches/"} - Howard Rhinegold, Smart Mobs
      %p
      %li
        == #{link_to "Spot.us Launches: Does It Pass Clay Shirky’s 3 Rule Test?", "http://pjnet.org/post/1928/"} - Leonard Witt, Public Journalism Network
      %p
      %li
        == #{link_to "Spot.us Launches & More!", "http://www.netsquared.org/blog/joesolomon/social-actions-roundup-16-spotus-launches-more"} - NetSquared
      %p
      %li
        == #{link_to "Can Crowdfunding Help Save the Journalism Business?", "http://www.pbs.org/mediashift/2008/11/can-crowdfunding-help-save-the-journalism-business318.html"} - PBS MediaShift
      %p
      %li
        == #{link_to "Tomorrow’s news: Journalism’s future will look like … ?", "http://futurismic.com/2008/11/18/tomorrows-news-journalisms-future-will-look-like/"} - Futurerismic
      %p
      %li
        == #{link_to " SpotUs Community Funded Reporting", "http://www.promotionalmagazine.com/social-media-gallery/6/340-community-funded-reporting-.html"} - Promotional Magazine
      %p
      %li
        == #{link_to "The Future Of Newspapers Goes Beyond Dead Trees", "http://www.readwriteweb.com/archives/murdoch_on_the_future_of_newspapers.php"} - Read Write Web
      %p
      %li
        == #{link_to "There is great hope for journalism in people like David Cohn", "http://timwindsor.com/2008/11/14/there-is-great-hope-for-journalism-in-people-like-david-cohn/"} - Tim Windsor
      %p
      %li
        == #{link_to "Spot.us - Where Citizens & Journalists Collaborate  ", "http://www.killerstartups.com/Web20/spot-us-where-citizens-journalists-collaborate"} - Killer Startups
      %p
      %li
        == #{link_to "Spot.us and Fear of Change", "http://www.contentious.com/2008/11/11/spotus-and-fear-of-change/"} - Amy Gahran
.block-spacer
      
    
        
    
-#
    
    
    
  http://commonsensej.blogspot.com/2008/11/spotus-to-launch.html
  http://www.budiputra.com/2008/11/11/spotus-citizen-funded-community-journalism/
  http://newspaperman.posterous.com/spotus-experiments-with-citize
  http://www.paradox1x.org/archives/2008/11/technology-and.shtml http://www.nhpr.org/node/18990
  http://www.freelinereport.com/freeline-11-12-08/
  http://jonathanpberger.com/wp/2008/11/spotus-launches/
  http://beatblogging.org/2008/11/12/the-best-online-tools-for-beat-reporters/
  http://aroundrobin.blogspot.com/2008/11/pitch-story-find-story-funder-citizen.html
  http://andylark.blogs.com/andylark/2008/11/write-this.html
  http://www.psfk.com/2008/11/media-by-the-people-for-the-people.html
  http://www.goldmanandassociates.com/pr-news-opinion/2008/11/12/crowd-funding-news-site-launches.html
  http://justinmclachlan.com/08/11/have-you-donated-to-spotus-yet/
  http://johnmcquaid.com/2008/11/12/the-rosenbaum-jarvis-smackdownhttp://johnmcquaid.com/2008/11/12/the-rosenbaum-jarvis-smackdown/
  http://jean9fhunter.wordpress.com/2008/11/13/video-of-changing-media-landscape-program-at-columbia-university/
  http://mail.google.com/mail/?ui=2&view=js&name=js&ver=LMLtlgTYR0Q&am=X_MwtcT3ECEJFpSxaw
  http://m-cause.com/blitzed-baited-fooledbut-will-we-switch/
  http://www.feedingtheshark.com/blog/2008/11/14/a-dose-of-optimism-for-journalism
  http://michellerafter.wordpress.com/2008/11/14/as-optimists-tell-its-a-great-time-to-get-into-journalism/
  http://knowmediablog.com/2008/11/14/can-crowdfunding-help-save-the-journalism-business/
  http://www.mister.us/2008/11/spotus-launched-this-week-as-reviewed.html
  http://vraslosk.blogspot.com/2008/11/community-funded-journalism.html
  http://blog.socialactions.com/profiles/blogs/social-actions-roundup-16
  http://michsineath.com/2008/09/08/spotus-announces-first-community-funded-news-article/
  http://blogs.courierpostonline.com/mojodojo/2008/11/17/spotus-citizen-journalism-30/
  http://commonsensej.blogspot.com/2008/11/spotus-to-launch.html
    

