<div class="contentContainer">
	<div class="sponsorContainer">
		<h2>Overview</h2>
		<p><span>A Spot.us sponsorship guarantees an extended brand experience for the audience in an uncluttered and controlled environment. Audiences spend approximately three minutes exposed to the brand with no other advertising on the page. They'll engage with the brand on our terms and once the transaction is completed they'll support the reporting project of their choice thanks to you, leaving them with powerful positive association with your brand. <a href="/public/images/new/SpotUsSponsorshipKit.pdf" tile="Downlod th">Download the sponsorship kit for more</a>.</span></p>  

		<script language="javascript"> 
		function toggle(showHideDiv, switchTextDiv) {
			var ele = document.getElementById(showHideDiv);
			var text = document.getElementById(switchTextDiv);
			if(ele.style.display == "none") {
		    		ele.style.display = "block";
				text.innerHTML = "(hide)";
		  	}
			else {
				ele.style.display = "none";
				text.innerHTML = "(show more)";
			}
		}
		</script>
		
		<h2>How it works</h2>
		<ul>
			<li><span class="no1">1.</span><p>Sponsor pledges money. <a id="myHeader1" href="javascript:toggle('myContent1','myHeader1');" >(show more)</a></p>
				<div id="myContent1" style="display: none;">Instead of a one-way communication model the Spot.Us sponsorship lets the sponsor interact directly with community members. We can guarantee sponsors an engaged and extended connection with the Spot.Us community in an uncluttered and controlled environment. The more you pledge - the more interactions we can guarantee. Just contact david@spot.us to find out how.</div>
			</li>
			<li><span class="2">2.</span><p>Sponsor and Spot.us create act of engagement.  <a id="myHeader2" href="javascript:toggle('myContent2','myHeader2');" >(show more)</a></p>
					<div id="myContent2" style="display: none;">After initial discussion with David@spot.us - Sponsors create a survey, quiz, crowdsourced actions or other act of engagement. The goal is to come up with an action that you want Spot.Us community members to take that will benefit your cause, brand or product. Spot.Us staff will help at every step of the process and show you what the act of engagement would look like on our staging site.</div>
			 </li>
			<li><span class="3">3.</span><p>Community members participate in act of engagement. <a id="myHeader3" href="javascript:toggle('myContent3','myHeader3');" >(show more)</a></p>
				<div id="myContent3" style="display: none;">Once the sponsorship is live, community members click "free credits" to participate with your act of engagement. Spot.Us community members are in a mindset ready and committed to engage with your brand, product or cause. On average they spend around 3 minutes each engaging with a sponsorship.</div>
			</li>
			<li><span class="4">4.</span><p>Community members earn sponsor's dollars by participating. <a id="myHeader4" href="javascript:toggle('myContent4','myHeader4');" >(show more)</a></p>
				<div id="myContent4" style="display: none;">Once a community member engages with the sponsors content they earn credits. In fact, the majority of the sponsorship dollars are distributed by community members which furthers the mission of Spot.Us to fund independent reporting.</div>
			</li>
			<li><span class="5">5.</span><p>Community members choose story to fund with dollars earned. <a id="myHeader5" href="javascript:toggle('myContent5','myHeader5');" >(show more)</a></p>
				<div id="myContent5" style="display: none;">With the credits earned community members direct funds towards the story of their choice. They are only able to do this due to the sponsorship, creating a lasting positive impression of your brand, cause or product - one that will not soon be forgotten.</div>
			</li>
			<li><span class="6">6.</span><p>Sponsor receives feedback from collective acts of engagement. <a id="myHeader6" href="javascript:toggle('myContent6','myHeader6');" >(show more)</a></p>
			<div id="myContent6" style="display: none;">If the sponsored act includes taking a survey, quiz or collecting other user information Spot.Us will send that information back to the sponsor removing names. This can be used to get a better understanding of your customers thoughts, ideas, feelings and creating a concrete return on investment. Instead of just sending you information back about how many 'eyeballs' viewed your logo, we send real concrete information about how individuals reacted to your act of engagement.</div>
			</li>
		</ul>

		<h2>Interested? Fill out the form below or email david@spot.us</h2>
		<div class="formContainer">	
			<div class="formBody">
				<form action="/pages/sponsors" method="post">
					<div class="row"><label for="name">Name:</label> <%=text_field_tag "sponsor[name]"%></div>
					<div class="row"><label for="org">Organization:</label> <%=text_field_tag "sponsor[organization]"%></div>
					<div class="row"><label for="email">Email:</label> <%=text_field_tag "sponsor[email]"%></div>
					<div class="row"><label for="amount">Sponsorship amount:</label> <%=text_field_tag "sponsor[amount]"%></div>
					<div class="row"><label for="number"># of users you wish to engage:</label> <%=text_field_tag "sponsor[number]"%></div>
					<div class="row"><label for="comments">Comments:</label> <%=text_area_tag "sponsor[comments]"%></div>
					<%= get_button("Submit") %>
				</form>
			</div>
		</div>
	</div>
	<div class="sponsorRightContainer">
		<a hreflang="#"><img src="/images/new/sponsorshipKit.png" /></a>
		<h4>Community-focused sponsors</h4>
		<ul>
			<%Sponsor.all.each do |sponsor|%>
				<li><%=link_to sponsor.full_name, profile_path(sponsor)%></li>
			<%end%>
		</ul>
	</div>
</div>