%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Who Makes Spot.Us Spin?
  .double_content_border

  %a{:name => "community_advisory_board"}
  %h3
    %strong
      Community Advisory Board
  %p
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/marc_smolowitz1.jpg" 
    %br
      %strong
        Marc G. Smolowitz
    is an Academy Award nominated documentary film & television producer. He is currently Producer
    at TellyTopia. He has served as Chair of the Technology Impact Circle at Full Circle Fund,
    an engaged philanthropy organization that cultivates the next generation of community leaders
    and drives lasting social change in the S.F. Bay Area. He has also been the Co-chair of the
    Community Technology Network (CTN) of the Bay Area since it was founded in 2001 and serves on
    the Professional Advisory Committees for Digital Film Making, Web Design & Interactive Media at
    the Art Institute of California.
    %br
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/greg.jpg" 
    %br   
      %strong
        Greg Wolff 
    "My career has been driven by a curiosity to understand intelligence and create tools that make
    people, especially groups of people, smarter and better able to pursue their shared interests."
    Greg is currently Vice President of Ricoh Innovations and most recently established the
    Community Network Services group at RII and founded the UnaMesa Association.
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/dansf.jpg" 
    %br
    %br
      %strong
        Dan Radar 
      is currently working as a Social Media Consultant to Bay Area nonprofits and community groups
      looking for new ways of reaching their audiences. He has worked with New America Media as
      their Communications Director and led their ethnic media directory project. He has experience
      in ethnic media relations, community outreach, education, technology and non-profit
      management.
    %br
    %br
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/ian1.jpg" 
    %br
      %strong
        Ian Elwood
    has a Master's Degree in Media Studies from New College of California and has worked
    for multiple nonprofit technology projects. He recently earned featured project status at the
    2008 NetSquared Mashup Challenge and won a grant from the Sunlight Foundation for a corporate
    accountability mashup of Securities and Exchange Commission data.
    %br
    = image_tag  "http://spotreporting.files.wordpress.com/2009/02/lizapike.jpg" 
    %br
      %strong
        Liza Pike
    is the founder of Resource Media’s San Francisco office in 1998, Liza helped shape the overall
    growth and direction of the organization and was lead strategist on a number of campaigns and
    projects. Prior to joining Resource Media, Liza was a press officer for the Natural Resources
    Defense Council in San Francisco and worked with the Center for Investigative Reporting, as
    program and marketing director and in a number of other capacities. She is currently a member of
    CIR’s board. She is currently in R and D phase for a new resource for nonprofits on strategic
    communications in the social media age.
    %br
    = image_tag  "http://spotreporting.files.wordpress.com/2009/02/erik1small1.jpg" 
    %br
      %strong
        Erik Sundelof
    is the co-founder and VP of Social Media and User Interface at Allvoices, a new content-based
    social network around news and opinions, and already after 6 months after launch amongst the
    3000 biggest sites on the internet. He was previously a fellow at the Reuters Digital Vision
    Program (http://www.rdvp.org) at Stanford University between 2005-2006. Most notably he created
    the Web site inthefieldONLINE.net. His academic orientations are rooted in a Master¹s degree in
    Chemical Engineering and PhD licentiate in Numerical Analysis from the Royal Institute of
    Technology, Stockholm.
    %br
    = image_tag  "http://spotreporting.files.wordpress.com/2009/02/santiago.jpg" 
    %br
      %strong
    Santiago has managed an environmentaly sustainable construction start up, leading multicultural
    team of over 40 people, successfuly delivering innovative projects in the Bay Area. He has been
    involved in political and social projects since the 2004 election, when he worked for the Kerry
    Edwards Campaign. He lead the grass root movement in Bay Area and Des Moines Iowa -working with
    the DNC and moveon.org- training them in providing narratives that break-through peoples
    resignation to regain an active role in local and national politics. He is actively involved in
    several local Oakland organizations, including his NCPC, where he is the co-chair, UNCO (United
    Neighborhood Council of Oakland).
    
  %a{:name => "media_advisory_board"}  
  %h3
    %strong
      Media Advisory Baord
  %p
    We have a board of advisor that include:
  %ul
    %li 
      Dan Gillmor
    %li
      Jay Rosen
    %li
      Jeff Jarvis
    %li
      Brant Houston
    %li
      Susan Mernit
    %li
      Fabrice Florin
    %li
      Leonard Witt
    %li
      Neil Vineberg
    %li
      Jeremy Toeman
      
  %a{:name => "staff"}
  %h3
    %strong
      Staff      
  %p
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/david1.jpg" 
    == #{link_to "David Cohn", "http://www.digidave.org"} has worked with journalism luminaries such
    as Jay Rosen and Jeff Jarvis. He has been working in the citizen journalism movement since 2005
    on projects like NewAssignment.Net, Assignment Zero, Beat Blogging, and Off The Bus. He also
    co-organized the first and second Networked Journalism Summit. Spot.Us is informed by the
    growing citizen journalism movement. Spot.Us is an attempt to ensure that journalism remain a
    strong and vital part of our local democracies as a participatory process, not just a product.
  %p
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/karaandrade_icon.jpg" 
    Kara Andrade is a five-year veteran of multimedia journalism, print and online, who uses social
    media to bridge the world of newspapers, technologists and entrepreneurs to present relevant,
    accessible and edgy stories. She builds communities online and offline both through reporting
    and consulting work and organizes events in virtual worlds such as Second Life.
  %p
  %br
  %a{:name => "foundation"}
  %h3
    %strong
      Foundation Support
  %p
    == #{link_to "Knight Foundation", "http://www.knightfoundation.org/"} has supported Spot.Us
    through its Knight News Challenge grant in a two year grant. Spot.Us would not be possible
    without their support.
  %p
    == #{link_to "Full Circle Fund", "http://www.fullcirclefund.org/"} is an engaged philanthropy
    organization cultivating the next generation of community leaders and driving lasting social
    change in the Bay Area.
    
    