%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 Who Makes Spot.Us Spin?
  .double_content_border

  %a{:name => "community_advisory_board"}
  %h3
    %strong
      Community Advsiory Baord
  %p
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/marc_smolowitz1.jpg" 
    %br
      %strong
        Marc G. Smolowitz
    is an Academy Award nominated documentary film & television producer. He is currently Producer
    at TellyTopia. He has served as Chair of the Technology Impact Circle at Full Circle Fund,
    an engaged philanthropy organization that cultivates the next generation of community leaders
    and drives lasting social change in the S.F. Bay Area. He has also been the Co-chair of the
    Community Technology Network (CTN) of the Bay Area since it was founded in 2001 and serves on
    the Professional Advisory Committees for Digital Film Making, Web Design & Interactive Media at
    the Art Institute of California.
    %br
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/greg.jpg" 
    %br   
      %strong
        Greg Wolff 
    "My career has been driven by a curiosity to understand intelligence and create tools that make
    people, especially groups of people, smarter and better able to pursue their shared interests."
    Greg is currently Vice President of Ricoh Innovations and most recently established the
    Community Network Services group at RII and founded the UnaMesa Association.
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/dansf.jpg" 
    %br
    %br
      %strong
        Dan Radar 
      is currently working as a Social Media Consultant to Bay Area nonprofits and community groups
      looking for new ways of reaching their audiences. He has worked with New America Media as
      their Communications Director and led their ethnic media directory project. He has experience
      in ethnic media relations, community outreach, education, technology and non-profit
      management.
    %br
    %br
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/ian1.jpg" 
    %br
      %strong
        Ian Elwood
    has a Master's Degree in Media Studies from New College of California and has worked
    for multiple nonprofit technology projects. He recently earned featured project status at the
    2008 NetSquared Mashup Challenge and won a grant from the Sunlight Foundation for a corporate
    accountability mashup of Securities and Exchange Commission data.
    %br
    
  %a{:name => "media_advisory_board"}  
  %h3
    %strong
      Media Advisory Baord
  %p
    We have a board of advisor that include:
  %ul
    %li 
      Dan Gillmor
    %li
      Jay Rosen
    %li
      Jeff Jarvis
    %li
      Brant Houston
    %li
      Susan Mernit
    %li
      Fabrice Florin
    %li
      Leonard Witt
    %li
      Neil Vineberg
    %li
      Jeremy Toeman
      
  %a{:name => "staff"}
  %h3
    %strong
      Staff      
  %p
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/david1.jpg" 
    == #{link_to "David Cohn", "http://www.digidave.org"} has worked with journalism luminaries such
    as Jay Rosen and Jeff Jarvis. He has been working in the citizen journalism movement since 2005
    on projects like NewAssignment.Net, Assignment Zero, Beat Blogging, and Off The Bus. He also
    co-organized the first and second Networked Journalism Summit. Spot.Us is informed by the
    growing citizen journalism movement. Spot.Us is an attempt to ensure that journalism remain a
    strong and vital part of our local democracies as a participatory process, not just a product.
  %p
    = image_tag "http://spotreporting.files.wordpress.com/2009/01/karaandrade_icon.jpg" 
    Kara Andrade is a five-year veteran of multimedia journalism, print and online, who uses social
    media to bridge the world of newspapers, technologists and entrepreneurs to present relevant,
    accessible and edgy stories. She builds communities online and offline both through reporting
    and consulting work and organizes events in virtual worlds such as Second Life.
  %p
  %br
  %a{:name => "foundation"}
  %h3
    %strong
      Foundation Support
  %p
    == #{link_to "Knight Foundation", "http://www.knightfoundation.org/"} has supported Spot.Us
    through its Knight News Challenge grant in a two year grant. Spot.Us would not be possible
    without their support.
  %p
    == #{link_to "Full Circle Fund", "http://www.fullcirclefund.org/"} is an engaged philanthropy
    organization cultivating the next generation of community leaders and driving lasting social
    change in the Bay Area.
                
    
