- form_for Donation.new(:pitch => news_item, :amount => Donation::DEFAULT_AMOUNT<news_item.funding_needed ? Donation::DEFAULT_AMOUNT : news_item.funding_needed), :url => myspot_donations_path, :html => {:id => "new_donation_#{news_item.id}", :class => "donate auth"} do |f|
  = f.hidden_field :amount, :id => "donation_default_amount"
  = f.hidden_field :pitch_id
  - unless @show_cca && !defined?(force_fund_this)
    = image_submit_tag "/images/new_design/fund.png", :alt => "Donate #{Donation::DEFAULT_AMOUNT}", :title => "Click here to donate $#{Donation::DEFAULT_AMOUNT}"
  - else
    = link_to "Free Credits", cca_path(@first_cca) + "/#{news_item.id}", :title => '', :alt => "earn credits to donate if you're short on cash", :class => "earn_credits show_status"
