- form_for Donation.new(:pitch => news_item), :url => myspot_donations_path, :html => {:id => "custom_donation_#{news_item.id}", :class => "auth"} do |f|
  - if current_user && current_user.has_donated_to?(news_item)
    = f.hidden_field :amount, :value => number_to_currency(current_user.max_donation_for(news_item), :unit => '')
  - else
    = f.hidden_field :amount, :value => number_to_currency((news_item.default_donation_amount<news_item.funding_needed ? news_item.default_donation_amount : news_item.funding_needed), :unit => '')
  = f.hidden_field :pitch_id
  = hidden_field_tag :spotus_lite, spotus_lite
  = submit_tag("Donate", :title => "Donate another amount", :alt => "Donate another amount")