<% apply_fragment ['supporter_of_pitch', news_item, supporter] do %>
	<div class="supporter_avatar">
		<%= link_to(image_tag(supporter.photo.url(:thumb), :class => "supporter"), profile_path(supporter))%>
		<div>
			<%= link_to supporter.full_name, profile_path(supporter)%>
			<br/>
			<%if news_item.user == supporter%>
				Created <%= short_date(news_item.created_at) %>
			<%else%>
				<%if news_item.tip?%>
					Pledged
					<%= number_to_currency(supporter.amount_pledged_to(news_item))%>
				<%else%>
					<%= number_to_currency(supporter.amount_donated_to(news_item))%>
				<%end%>
			<%end%>
		</div>
	</div>
<%end%>