<% content_for :head do %>
	<%= auto_discovery_link_tag(:rss, {:controller => 'news_items', :action => 'index', :format => 'rss', :filter=>@filter}) %>
<% end %>

<% @title = "Spot.us - Fund A Story" %>

<div id="fund_a_story">
	<div id="navigation">
		<%=render :partial=>"shared/filters", :locals=>{
			:title=>"Browse Stories",
			:url_base=>"/stories",
			:filters=>FILTERS_STORIES
		}%>
		<%=render :partial=>"shared/channels"%>   
	</div>
	<div id="stories">
		<%= link_to image_tag("/images/new_design/rss_16.png"), "/stories/#{@filter}.rss", :class => "rss_button" %>
		<h3 class="display_inline">NOW VIEWING:</h3> 
		<h4 class="display_inline"><%= @filter.gsub("_", " ").gsub("-", " ").titleize %> Stories Inside <%=get_inside_network_text(@network).titleize%></h4>
		<div style="height: 5px; background-color: rgb(204, 204, 204); margin-bottom: 10px;">
			&nbsp;
		</div>
		<%=render :partial=>"shared/lists", :locals=>{ 
			:items=>@news_items, 
			:no_items_message=>"There were no results for your search.  Try different search terms." 
		}%>
	</div>
</div>