<% content_for :head do %>
	<%= auto_discovery_link_tag(:rss, {:controller => 'news_items', :action => 'index', :format => 'rss', :filter=>@filter}) %>
<% end %>

<% @title = "Spot.us - Fund A Story" %>

<div id="browse_stories">
	<div id="browsing_header" class="clearfix">
		<%= link_to "Pitches", "/stories/unfunded", :class => "blue_button" + active_button("pitches") %>
		<%= link_to "Stories", "/stories/published", :class => "blue_button" + active_button("stories") %>
		<%= link_to "Tips", "/stories/suggested", :class => "blue_button" + active_button("tips") %>
		<%#= link_to "Topics", channel_path(@channels.first), :class => "blue_button" + active_button("channels") %>
		<%= link_to "Topics", "/stories/unfunded/" + Topic.first.seo_name, :class => "blue_button" + active_button("topics") %>
		<%= link_to image_tag("/images/new_design/rss_16.png"), "/stories/#{@filter}.rss", :class => "rss_button" %>
	</div>
	<div id="sub_nav" class="clearfix">
		<%= channels_filter %>
		<%= @topic ? topics_filter : stories_filter("/stories",FILTERS_STORIES) %>
	</div>
	<div id="story_listing">
		
		<%= render :partial => "shared/lists", 
			:locals => {:items => @news_items, :no_items_message => "There were no results for your search.  Try different search terms."} %>
			
		
	</div>
</div>





