- @title = "Spot.us - Fund A Story"
.block-spacer

#equalize
  .box_white
    - form_tag(:search_news_items, :method => :get) do
      .span-3
        %h4 Search
      .span-12.search-check-box.colborder
        .div
          %label Type
          = select_tag "news_item_type", options_for_select([["Pitches", "pitches"],["Tips","tips"],["All", "news_items"]], params.fetch(:news_item_type, "pitches"))
        .div
          = label_tag     :sort_by, "Sort By"
          %select{:name => "sort_by"}
            = options_for_sorting(params.fetch(:news_item_type, "pitches"), params.fetch(:sort_by,"desc"))
      .span-4.search_field_button
        = image_submit_tag image_path('search_button.png')
    %hr.space
    .double_content_border.clear
        
    = render :partial => @news_items

.clear
.block-spacer
