- @title = "Spot.us - Browse"
.block-spacer

#equalize
  .box_white
    - form_tag(:search_news_items) do
      .span-3
        %h4 Search
      .span-12.search-check-box.colborder
        .div
          = check_box_tag "news_item_types[tip]", 1, check_box_checked_for?(:tip)
          = label_tag     :tips,  "Tips"
        .div
          = check_box_tag "news_item_types[pitch]", 1, check_box_checked_for?(:pitch)
          = label_tag     :pitches,  "Pitches"
        .div
          = label_tag     :date_sort, "Sort By"
          = select_tag "date_sort", options_for_select([["Newest", "desc"], ["Oldest", "asc"]], params.fetch(:date_sort, "desc"))
      .span-4.search_field_button
        = image_submit_tag image_path('search_button.png')
    %hr.space
    .double_content_border.clear
        
    = render :partial => @news_items

.clear
.block-spacer
