.field
  = f.label :title
.field
  = f.text_field :title
%br/
.field
  = f.label :body
.field
  = ckeditor_textarea("post", "body", :toolbar => 'Basic', :width => '500px', :height => '200px')
%br/
.field
  = f.label :media_embed
.field
  = f.text_area :media_embed
%br/
= f.submit
