<% apply_fragment ['story_', s] do %>
	<li>
		<%=image_tag s.featured_image(:medium), {:alt => h(s.headline)}%>
		<h3><%=link_to s.headline[0..30], story_path(s)%></h3>
		<div><%=pitch_date(s.created_at)%> by <%=link_to s.user, profile_path(s.user)%></div>
		<div>Published under Pitch <%= link_to s.pitch.headline, pitch_url(s.pitch)%></div>
	</li>
<%end%>