<% apply_fragment ['story_new_alt_', story] do %>
	<% div_for story, :class => "pitch" do %>
	     <%= link_to image_tag(story.featured_image.url(:front_story), :class => "story_image"), story %>
	  <div class="clearfix">	
			<%= link_to image_tag(story.user.photo(:thumb), :class => "avatar", :alt => ""), profile_path(story.user) %>	
			<div class="info">
				<h5><%= link_to story.headline, story %></h5>
				<%= short_date(story.created_at) %>
				by
				<%= link_to h(story.user.full_name), profile_path(story.user) %>
			</div>
		</div>
		<div class="story description">
			<%= truncate_words(strip_tags(story.extended_description), 45) if story.extended_description %>
			<%= link_to "Read More &raquo;", story %>
		</div>

	<% end %>
<% end %>
