<% content_for :head do %>
	<%= auto_discovery_link_tag(:rss, {:controller => 'news_items', :action => 'index', :format => 'rss'}) %>
<% end %>

<% @title = "Spot.us - Fund A Story" %>
<% @channels = [] %>
<% @filter = nil %>
<div id="fund_a_story">
	<div id="navigation">
		<h5>Browse Spot.Us</h5>
		<%if @filter%>
		   	<ul id="filters" class="filter">			
				<li<%=check_active(@filter,"newest_stories") %>><div><a href="/news_items/search?news_item_type=pitches&amp;sort_by=desc">Newest Stories</a></div></li>
				<li<%=check_active(@filter,"oldest_stories") %>><div><a href="/news_items/search?news_item_type=pitches&amp;sort_by=asc">Oldest Stories</a></div></li>
				<li<%=check_active(@filter,"almost_funded") %>><div><a href="/news_items/search?news_item_type=pitches&amp;sort_by=almost_funded">Almost Funded</a></div></li>
				<li<%=check_active(@filter,"recent_tips") %>><div><a href="/news_items/search?news_item_type=tips&amp;sort_by=desc">Recent Tips</a></div></li>
		   	</ul>
		<%end%>
	   	<% if @channels.any? %>
			<h5>Filter by Channel</h5>
			<ul id="channels" class="filter">
				<% @channels.each do |channel| %>            
					<li<% if channel == @channel %> class="active"<%end%>>
						<%= link_to image_tag(channel.channel_image(:thumb), :title => channel.description), channel_path(channel) %>
						<div><%= link_to channel.title, channel_path(channel) %></div>
					</li>
				<% end %>  
			</ul>
		<% end %>   
	</div>
	<div id="stories">
		<h3 class="display_inline">NOW VIEWING:</h3> 
		<h4 class="display_inline"><%#= @filter.sub("_", " ").titleize %></h4>
		<div style="height: 5px; background-color: rgb(204, 204, 204); margin-bottom: 10px;">
			&nbsp;
		</div>
		<% unless @stories.blank? %>
			<%= render :partial => @stories %>
			<%= will_paginate @stories %>
		<% else %>
			<p>
			Currently we don't have any stories BUT you can help us get there by making donations to
			pitches you care about. Check out what we have by going to
			<%= link_to "Fund A Story.", news_items_path %>
			<%= link_to "Fund A Story.", page_path("news_items_path") %>
			</p>
		<% end %>
		</div>
</div>





<% @title = "Spot.us - Read A Story" %>
<div id="read_stories">
   
</div>