<!-- SHOW STORY -->
<% @title = "Spot.us - Story: #{h @story.headline}" %>

<div id="news_item">
	<div id="news_item_header">
		<img width="62" height="53" align="left" style="padding-right: 10px;" src="/images/new_design/pitch.png"/>
		<h2 class="headline"><%= h @story.headline %></h2>
	</div>
	<div class="right-column">
		<div class="right-panel-box">
			<h3>History of this story</h3>
			PITCH:
			<strong><%= link_to h(@story.pitch.headline), @story.pitch %></strong>
			<div class="dateline small">
				Posted
				<%= @story.pitch.created_at.to_s(:long_date) %>
				by
				<%= link_to h(@story.pitch.user.full_name), profile_path(@story.pitch.user) %>
				in
				<%= @story.pitch.network.name %>
			</div>
			<p>
				<%= truncate_words(strip_tags(@story.pitch.short_description), 30) %>
				<%= link_to 'Read Pitch &raquo;', @story.pitch %>
			</p>
		</div>

		<div class="right-panel-box clearfix">
			<div class="share">
				<h3>Share</h3>
				<%= image_tag("/images/new_design/twitter.png") %>
				<%= image_tag("/images/new_design/facebook.png") %>
			</div>
		</div>

		<div id="supporters">
			<%= render :partial => "news_items/organizational_supporters", :locals => {:news_item => @story.pitch} %>
			<%= render :partial => "pitches/group_supporters", :locals => {:news_item => @story.pitch} %>
			<%= render :partial => "pitches/supporters", :locals => {:news_item => @story.pitch} %>
		</div>
	</div>
	<div class="main-column">
		<div class="folded-headers-big">
		<div class="news_item_author">
			<%= link_to image_tag(@story.user.photo(:thumb), :class => "avatar"), profile_path(@story.user) %>
			<h5>Author</h5>
			<%= link_to @story.user.full_name, profile_path(@story.user), :class => "username" %>
		</div>
		<% if @story.peer_reviewer %>
			<div class="news_item_author">
				<%= link_to(image_tag(@story.peer_reviewer.photo.url(:thumb), :class => "avatar"), profile_path(@story.peer_reviewer)) %>
				<h5>Peer Review Editor</h5>
				<%= link_to(h(@story.peer_reviewer.full_name), profile_path(@story.peer_reviewer), :class => "username") %>
			</div>
		<% end %>
		</div>
		<% unless @story.video_embed.blank? %>
			<div class="media-box">
				<h3>Multimedia</h3>
				<div class="align-center">
					<%= transform_embed_code(@story.video_embed, 560, 350) %>
				</div>
			</div>
		<% end %>
		<div id="news_item_info">
			<div>
				<ul class="tabs">
					<li><a id="description_tab" href="" class="tab active">Story</a></li>
					<li><a id="comments_tab" href="" class="tab">Comments (<%=@story.comments.size%>)</a></li>
					<% unless @story.external_links.blank? %>
						<li><a id="external_links_tab" href="" class="tab">External Links</a></li>
					<% end %>
					<% unless @story.pitch.keywords.blank? %>
						<li><a id="keywords_tab" href="" class="tab">Keywords</a></li>
					<% end %>
					<% unless @story.license.blank? %>
						<li><a id="license_tab" href="" class="tab">License</a></li>
					<% end %>
				</ul>
				<div class="description_tab tab_panel clearfix">
					<%= render :partial => 'news_items/featured_image', :locals => {:news_item => @story} %>
					<%= @story.extended_description %>
				</div>
				<div class="comments_tab tab_panel hide">
					<ul>
						<% @story.comments.each do |comment| %>
						<li>
						   <h5><%= comment.title %></h5>
						   <%= link_to image_tag(comment.user.photo(:medium), :class => "avatar"), profile_path(comment.user) %>
						   <div class="comment"><%= comment.body %>
						      by <%= link_to comment.user.full_name, profile_path(comment.user) %> on <%= comment.created_at.to_s(:long_date) %>
						   </div>
						</li>
						<% end %>
						<% if !@story.comments.any? %>
							<li>There are no comments yet, be the first!</li>
						<% end %>
					</ul>
					<h3>Post A Comment</h3>
					<% form_for [@story, Comment.new(:commentable => @story)], :html => { :id => 'comments_form', :class => "auth" } do |f| %>
					<%= render :partial => 'comments/form', :locals => {:f => f} %>
					<% end %>
				</div>
				<% unless @story.external_links.blank? %>
					<div class="external_links_tab tab_panel hide">
						<%= @story.external_links %>
					</div>
				<% end %>
				<% unless @story.pitch.keywords.blank? %>
					<div class="keywords_tab tab_panel hide">
						<%= h @story.pitch.keywords %>
					</div>
				<% end %>
				<% unless @story.license.blank? %>
					<div class="license_tab tab_panel hide">
						<%= @story.license %>
					</div>
				<% end %>
			</div>
			<% if logged_in? %>
				<%= publishing_workflow_buttons_for(current_user) %>
			<% end %>
		</div>
	</div>
</div>
