- form_for Donation.new(:pitch => news_item, :amount => current_user.remaining_credits/1.05, :donation_type => "credit"), :url => myspot_donations_path, :html => {:id => "new_credit_pitch_#{news_item.id}", :class => "donate auth"} do |f|
  = f.hidden_field :amount, :id => "credit_pitch_amount"
  = f.hidden_field :pitch_id
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :donation_type, :value => "credit"
  = f.submit "Apply Credits"