<% apply_fragment ['featured_pitch_home_', featured_pitch] do %>
	<li class="pitch_carousel">
	  <div class="left-column">
	    <%= link_to image_tag(featured_pitch.featured_image.url(:medium), :class => "featured_image"), featured_pitch %>
	    <%= render :partial => 'donations/button', :locals => { :news_item => featured_pitch } %>
	  </div>
 
	  <div class="right-column">
	    <h3><%= link_to h(featured_pitch.headline), featured_pitch %></h3>
	    <div class="dateline quiet">
	      <%= short_date(featured_pitch.created_at) %> by <%= link_to h(featured_pitch.user.full_name), profile_path(featured_pitch.user) %>
	      in <%= featured_pitch.network_and_category %>
	    </div>
	    <p>
	      <%= truncate_words(strip_html(featured_pitch.short_description), 40) %>
	      <%= link_to 'Read More &raquo;', featured_pitch %>
	    </p>
	    <% if featured_pitch.supporters.any? %>
	       <h6>SUPPORTERS</h6>
	       <% featured_pitch.supporters[0..13].each do |supporter| %>
	         <%= link_to image_tag(supporter.photo(:thumb), :class => "supporter"), profile_path(supporter) %>
	       <% end %>
	    <% end %>
	  </div>
	</li>
<%end%>