<li class="story_carousel">
   <%= link_to image_tag(featured_story.featured_image.url(:medium), :class => "featured_image"), featured_story %>
   <h2><%= featured_story.headline %></h2>
   <p class="byline">
      <%= short_date(featured_story.created_at) %> by <%= link_to h(featured_story.user.full_name), profile_path(featured_story.user) %>
      in <%= featured_story.network_and_category %>
    </p>
</li>