%h3.float-left{:style => "color: red;"} 
  %strong Help Fund this Story
.float-right
  %span= link_to "View more Pitches &raquo;", news_items_path
.double_content_border.clear
.featured_image.span-220
  = link_to image_tag(@featured_pitch.featured_image.url(:medium)), @featured_pitch
  .double_content_border
  = render :partial => 'donations/button', :locals => { :news_item => featured_pitch }
.summary.span-200
  %h3
    PITCH:
    %strong= link_to h(featured_pitch.headline), featured_pitch
  .dateline.small.quiet
    Posted
    = featured_pitch.created_at.to_s(:long_date)
    by
    = link_to h(featured_pitch.user.full_name), profile_path(featured_pitch.user)
    in
    = featured_pitch.network_and_category
  %p.short_description.alt-spotus
    = truncate_words(featured_pitch.short_description, 50)
    =# h featured_pitch.short_description
    = link_to 'Read More &raquo;', featured_pitch
  %h5.quiet{:style=>"margin:0;"}
    If you want to see this story researched, written, and published,
    click donate to help fund it!  
