- @title = "Spot.us - Home"
- # TODO Clean home page mark up for equalizing column white backgrounds. - CT
.block-spacer
.home-boxer
  %div.home-floater.home-image-box{:style=>"width:425px;float:left;background: #fff;"}
    .home-floater
      %h3{:style => "color: red;"}
        %strong Spot.Us' Video Spot
      .double_content_border
      = site_option_content_for(:video_content)
      = change_site_option(:video_content)
  %div.home-floater{:style=>"width:460px;float:right;background: #fff;"}
    - if @featured_pitch.blank?  
      %h3 Create the first story
      .double_content_border
      %p Text about making the first story
    - else
      = render :partial => 'featured_pitch', :locals => {:featured_pitch => @featured_pitch}
.clear
- # spotus_ie_pixel.gif is an IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
.home-boxer
  %div.home-floater.home-image-box{:style=>"width:885px;float:left;background: #fff;"}
    = site_option_content_for(:bottom_home_page_text)
    = change_site_option(:bottom_home_page_text)
.clear
- # spotus_ie_pixel.gif is a IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
