- @title = "Spot.us - Home"
- # TODO Clean home page mark up for equalizing column white backgrounds. - CT
.block-spacer
.home-boxer
  %div.home-floater.home-image-box{:style=>"width:425px;float:left;background: #fff;"}
    .home-floater
      %h3{:style => "color: red;"}
        %strong Spot.Us' Video Spot
      .double_content_border
      = site_option_content_for(:video_content)
      = change_site_option(:video_content)
  %div.home-floater{:style=>"width:460px;float:right;background: #fff;"}
    - unless @featured
      %h3 Create the first story
      .double_content_border
      %p Text about making the first story
    - else
      #pitches_carousel
        %h3.float-left{:style => "color: red;"} 
          %strong Help Fund this Story
        .float-right
          %span= link_to "View more Pitches &raquo;", news_items_path
        .double_content_border.clear
        %ul
          = render :collection => @featured, :partial => 'featured_pitch'
      .float-right
        %a.prev prev
        %a.next next
      %h5.quiet{:style=>"margin:0;"}
        If you want to see this story researched, written, and published,
        click donate to help fund it!  
.clear
- # spotus_ie_pixel.gif is an IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
.home-boxer
  %div.home-floater.home-image-box{:style=>"width:885px;float:left;background: #fff;"}
    = site_option_content_for(:bottom_home_page_text)
    = change_site_option(:bottom_home_page_text)
.clear
- # spotus_ie_pixel.gif is a IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
