- @title = "Spot.us - Home"

.block-spacer
.home-boxer
  %div.home-floater{:style=>"width:345px;float:left;background: #fff;"}
    %h3 What is Spot.us?
    .double_content_border
    %p
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. 
    %p
      Morbi blandit mollis magna. Suspendisse eu tortor. Donec vitae felis nec ligula blandit rhoncus.
    
  %div.home-floater{:style=>"width:510px;float:right;background: #fff;"}
    %h3.float-left Help Fund this Story
    .float-right
      %span= link_to "View more Pitches &raquo;", news_items_path
    .double_content_border.clear
    .featured_image.span-220
      = link_to image_tag(@featured_pitch.featured_image.url(:medium)), @featured_pitch
    .summary.span-280
      %h3
        PITCH:
        = link_to @featured_pitch.headline, @featured_pitch
      .dateline
        Posted
        = @featured_pitch.created_at.to_s(:long_date)
        by
        = link_to h(@featured_pitch.user.full_name), profile_path(@featured_pitch.user)
        in
        = @featured_pitch.location
      %p.short_description 
        = h @featured_pitch.short_description
        = link_to 'Read More &raquo;', @featured_pitch
      .double_content_border
      .float-right
        = render :partial => 'donations/button', :locals => { :news_item => @featured_pitch }

  .clear
- # spotus_ie_pixel.gif is a IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
.home-boxer
  %div.home-floater.home-image-box{:style=>"width:345px;float:left;background: #fff;"}
    = image_tag('nyt_article.png')

  %div.home-floater{:style=>"width:510px;float:right;background: #fff;"}
    %h3 Make Headlines
    .double_content_border
    %h3
      = image_tag('dark_teal_one.png', :alt => '1: ', :style => 'vertical-align: middle')
      Write your headline.
    - form_tag(start_story_path, :method => :get) do
      = text_area_tag :headline, '', :rows => 2
      .block-spacer-transparent
      .double_content_border
      .float-right
        = image_submit_tag('next.png', :alt => 'Next')
  .clear
- # spotus_ie_pixel.gif is a IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
