- @title = "Spot.us - Home"
- # TODO Clean home page mark up for equalizing column white backgrounds. - CT
.block-spacer
.home-boxer
  %div.home-floater.home-image-box{:style=>"width:425px;float:left;background: #fff;"}
    .home-floater
      %h3{:style => "color: red;"}
        %strong What is Spot.Us?
      .double_content_border
      = site_option_content_for(:video_content)
      = change_site_option(:video_content)
  %div.home-floater{:style=>"width:460px;float:right;background: #fff;"}
    - if @featured_pitch.blank?  
      %h3 Create the first story
      .double_content_border
      %p Text about making the first story
    - else
      %h3.float-left{:style => "color: red;"} 
        %strong Help Fund this Story
      .float-right
        %span= link_to "View more Pitches &raquo;", news_items_path
      .double_content_border.clear
      .featured_image.span-220
        = link_to image_tag(@featured_pitch.featured_image.url(:medium)), @featured_pitch
        %hr.space.clear
        %div{:style=>"margin-top:45px;"}
        %h5.quiet{:style=>"margin:0; background-color:#FFFFFF;"}
          If you want to see this story researched, written, and published,
          click donate to help fund it!  
      .summary.span-200
        %h3
          PITCH:
          %strong= link_to h(@featured_pitch.headline), @featured_pitch
        .dateline.small.quiet
          Posted
          = @featured_pitch.created_at.to_s(:long_date)
          by
          = link_to h(@featured_pitch.user.full_name), profile_path(@featured_pitch.user)
          in
          = @featured_pitch.location
        %p.short_description.alt-spotus
          = truncate_words(@featured_pitch.short_description, 30)
          =# h @featured_pitch.short_description
          = link_to 'Read More &raquo;', @featured_pitch
        .double_content_border
        .float-right
          = render :partial => 'donations/button', :locals => { :news_item => @featured_pitch }
  
.clear
- # spotus_ie_pixel.gif is an IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
.home-boxer
  %div.home-floater.home-image-box{:style=>"width:885px;float:left;background: #fff;"}
    = site_option_content_for(:bottom_home_page_text)
    = change_site_option(:bottom_home_page_text)
.clear
- # spotus_ie_pixel.gif is a IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
