<% @title = "Spot.us - Home" %>
<div class="home-boxer">
	<div class="home-floater stories-in-progress">
		
		<h5 class="sans">How to use Spot.Us</h5>
		<div id="help-images">
			<a href="" id="help_to-support-reporting"><%= image_tag("/images/new_design/support_reporting.png")%></a><a href="" id="help_to-start-a-story"><%= image_tag("/images/new_design/start_a_story.png") %></a><a href="" id="help_as-a-news-publisher"><%= image_tag("/images/new_design/news_publisher.png") %></a>
		</div>
		
		<!-- START STORIES IN PROGRESS -->
		<div class="folded-headers-short">
			<%= link_to image_tag("/images/new_design/rss_16.png"), "/blogs.rss", :class => "rss_button" %>
			<div id="header-container-short"> Stories in Progress</div>
		</div>
		<ul>
			<%= render :collection => @posts, :partial => 'post' %>
			<li class="float-right"><%= link_to "See All Blog Posts &raquo;", "/blogs" %></li>
		</ul>
		<!-- START STORIES IN PROGRESS -->
	</div>
	<div id="main-area" class="home-floater">
				
		<!-- START FUND A STORY -->
		<div class="folded-headers">
			<%= link_to image_tag("/images/new_design/rss_16.png"), "/stories/unfunded.rss", :class => "rss_button" %>
			<div id="header-container">Fund a story</div>
		</div>
		<div style="clear: both;"></div>
		<a class='float-left prev_alt' href="" rel="nofollow">&laquo; PREVIOUS</a>
		<a class='float-right next_alt' href="" rel="nofollow">NEXT &raquo;</a>  
		<div id="pitches_carousel">
			<ul>
				<%= render :collection => @featured_pitches, :partial => 'featured_pitch' %>
			</ul>
		</div>
		<span class="float-right" style="padding-right:4px;margin-top:4px;margin-bottom:20px"><%= link_to "See All Unfunded Stories &raquo;", "/stories/unfunded" %></span>

		<!-- END FUND A STORY-->
		<div class="clearfix">
			<div class="folded-headers">
				<div id="header-container">GET INVOLVED</div>
			</div>
			<%= render :partial => "/shared/connect_buttons" %>
		</div>
		<!-- START RECENTLY PUBLISHED STORIES -->
		<div class="folded-headers">
			<%= link_to image_tag("/images/new_design/rss_16.png"), "/stories/published.rss", :class => "rss_button" %>
			<div id="header-container">Recently Published</div>
		</div>
		<div style="clear: both;"></div>
		<a class='float-left prev_story_alt' href="" rel="nofollow">&laquo; PREVIOUS</a>
		<a class='float-right next_story_alt' href="" rel="nofollow">NEXT &raquo;</a>
		<div id="stories_carousel">
			<ul>
				<%= render :collection => @featured_stories, :partial => 'featured_story' %>
			</ul>
		</div>
		<span class="float-right" style="padding-right:4px;margin-top:-10px;"><%= link_to "See All Published Stories &raquo;", "/stories/published" %></span>
	
		<!-- END RECENTLY PUBLISHED STORIES -->
		
	</div>
</div>