- @title = "Spot.us - Home"
- # TODO Clean home page mark up for equalizing column white backgrounds. - CT
.block-spacer
.home-boxer
  %div.home-floater.home-image-box{:style=>"width:375px;float:left;background: #fff;"}
    .home-floater
      %h3{:style => "color: red;"}
        %strong What is Spot.Us?
      .double_content_border
      %object{ :height => "197", :width => "350" }
        %param{ :name => "allowfullscreen", :value => "true" }/
        %param{ :name => "allowscriptaccess", :value => "always" }/
        %param{ :name => "movie", :value => "http://vimeo.com/moogaloop.swf?clip_id=2041615&server=vimeo.com&show_title=0&show_byline=0&show_portrait=0&color=00ADEF&fullscreen=1" }/
        %embed{ :src => "http://vimeo.com/moogaloop.swf?clip_id=2041615&server=vimeo.com&show_title=0&show_byline=0&show_portrait=0&color=00ADEF&fullscreen=1", :type => "application/x-shockwave-flash", :allowfullscreen => "true", :allowscriptaccess => "always", :height => "197", :width => "350" }/
      %hr.space.clear
      .double_content_border{:style=>"margin-top:10px;"}
      %h5{:style=>"margin:0;"}
        See our FAQ's for 
        == #{link_to "Concerned Citizens, Reporters and News Organizations", page_path("about") + "#faq"}.
        Spot.Us is a marketplace where all three come to collaborate.                
  %div.home-floater{:style=>"width:510px;float:right;background: #fff;"}
    - if @featured_pitch.blank?  
      %h3 Create the first story
      .double_content_border
      %p Text about making the first story
    - else
      %h3.float-left{:style => "color: red;"} 
        %strong Help Fund this Story
      .float-right
        %span= link_to "View more Pitches &raquo;", news_items_path
      .double_content_border.clear
      .featured_image.span-220
        = link_to image_tag(@featured_pitch.featured_image.url(:medium)), @featured_pitch        
      .summary.span-280
        %h3
          PITCH:
          %strong= link_to h(@featured_pitch.headline), @featured_pitch
        .dateline.small.quiet
          Posted
          = @featured_pitch.created_at.to_s(:long_date)
          by
          = link_to h(@featured_pitch.user.full_name), profile_path(@featured_pitch.user)
          in
          = @featured_pitch.location
        %p.short_description.alt-spotus
          = truncate_words(@featured_pitch.short_description, 30)
          =# h @featured_pitch.short_description
          = link_to 'Read More &raquo;', @featured_pitch
        .double_content_border
        .float-right
          = render :partial => 'donations/button', :locals => { :news_item => @featured_pitch }
      %hr.space.clear
      %div{:style=>"margin-top:5px;"}
        .double_content_border
        %h5.quiet{:style=>"margin:0;"}
          If you want to see this story researched, written, and published,
          click donate to help fund it!
  
.clear
- # spotus_ie_pixel.gif is an IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
.home-boxer
  %div.home-floater.home-image-box{:style=>"width:375px;float:left;background: #fff;"}
    = link_to image_tag('nyt_article.png'), 'http://www.nytimes.com/2008/08/24/weekinreview/24kershaw.html?_r=1&oref&oref=slogin'

  %div.home-floater{:style=>"width:510px;float:right;background: #fff;"}
    %h3 Start a Story
    .double_content_border
    %h3
      = image_tag('dark_teal_one.png', :alt => '1: ', :style => 'vertical-align: middle')
      Begin with a short headline. <br /><span class='small quieter'>What are you passionate about? What questions do you have?</span>
    - form_tag(start_story_path, :method => :get) do
      = text_area_tag :headline, '', :rows => 2
      .block-spacer-transparent
      .double_content_border
      .float-right
        = image_submit_tag('next.png', :alt => 'Next')
  .clear
- # spotus_ie_pixel.gif is a IE fix
%img{:src=>"../images/spotus_ie_pixel.gif"}
.block-spacer
