<p>
	Someone has signed up to become a sponsor!
</p>

<p>
	<strong>Name:</strong> <%=@sponsor[:name]%><br/>
	<strong>Organization:</strong> <%=@sponsor[:organization]%><br/>
	<strong>Email:</strong> <%=@sponsor[:email]%><br/>
	<strong>Sponsorship amount:</strong> <%=@sponsor[:amount]%><br/>
	<strong># of users you wish to engage:</strong> <%=@sponsor[:number]%>
</p>

<p>
	<strong>Comments:</strong><br/> <%=@sponsor[:comments]%>
</p>

<p>
	Thanks!<br/><br/>
	Spot.Us
</p>