<% @title = "Spot.us - Twitter and Facebook Settings" %>

<div id="myspot_dashboard">
	<%= render :partial => "myspot/nav", :locals => {:selected_tab => "twitter_credentials"} %>
	<% unless @twitter_credential.errors.empty? %>
		<% content_for :error do %>
			<%= error_messages_for_resource %>
		<% end %>
	<% end %>
	<br/>
		<h4>Connect your Twitter account</h4>
		<div class="social_panel" style="">
			<% if !current_user.twitter_connected? %>
				Your Spot.Us and <%= image_tag("/images/new_design/small_twitter.png") %> Twitter accounts are currently <strong>not connected</strong>.
				<%= link_to "Click here", "/auth/twitter" %> to connect them.
			<% else %>
				Your Spot.Us and <%= image_tag("/images/new_design/small_twitter.png") %> Twitter accounts are currently <strong>connected</strong>. <%= link_to "Click here", myspot_twitter_credentials_path, :method => "delete" %> to disconnect them.
				<% form_for :settings, :url => myspot_settings_path, :html => { :method => :put, :class => "form" } do |f| %>
					<div class="options">
						<input type="hidden" name="return_to" value="<%= edit_myspot_twitter_credentials_path %>">
						<em>To automatically Tweet your Spot.Us activity:</em>
						Turn on Auto-Tweet <%= f.check_box :notify_twitter %> 					
						<%= '<em class="quiet small">* Updates will not be posted unless you Twitter Connect (#1 above)</em>' if current_user.notify_twitter && (!current_user.twitter_credential || !current_user.twitter_connected?) %>
			
						<input type="submit" value="save setting" class="blue_button">
					</div>
				<% end %>
			<% end %>
		</div>
	<br/>
	<hr/>
	<h4>Connect your Facebook account</h4>
	<div class="social_panel">
		<% if fb_session.blank? %>
			Your Spot.Us and <%= image_tag("/images/new_design/small_facebook.png") %> Facebook accounts are currently <strong>not connected</strong>.
			<%= link_to "Click here", "/auth/facebook" %> to connect them.	
		<% else %>
			Your Spot.Us and <%= image_tag("/images/new_design/small_facebook.png") %> Facebook accounts are currently <strong>connected</strong>. 
			<%= link_to "Click here", "/sessions/disconnect_from_fb" %> to disconnect them.
			<% form_for :settings, :url => myspot_settings_path, :html => { :method => :put, :class => "form" } do |f| %>
				<div class="options">
					<input type="hidden" name="return_to" value="<%= edit_myspot_twitter_credentials_path %>">
					<em>To automatically wall-post your Spot.Us activity:</em>
					Turn on Auto-Wall-Post <%= f.check_box :notify_facebook_wall %> 					
					<%= '<em class="quiet small">* Updates will not be posted unless you Twitter Connect (#1 above)</em>' if current_user.notify_twitter && (!current_user.twitter_credential || !current_user.twitter_connected?) %>

					<input type="submit" value="save setting" class="blue_button">
				</div>
			<% end %>
		<% end %>
	</div>
	<br/>
	<hr/>
	<!-- <% form_for :settings, :url => myspot_settings_path, :html => { :method => :put, :class => "form" } do |f| %>
		<div class="row">
			<p>Automatically post updates of your accepted pitches, 
				published stories and blog posts, as well as your donations.</p>
			<input type="hidden" name="return_to" value="<%= edit_myspot_twitter_credentials_path %>">
			<%= f.check_box :notify_twitter %>
			<%= f.label     :notify_twitter,  "Update your Twitter status" %>
			<%= '<em class="quiet small">* Updates will not be posted unless you Twitter Connect (#1 above)</em>' if current_user.notify_twitter && (!current_user.twitter_credential || !current_user.twitter_connected?) %>
			<br/>
			<%= f.check_box :notify_facebook_wall %>
			<%= f.label     :notify_facebook_wall,  "Update your Facebook wall" %>
			<%= '<em class="quiet small">* Updates will not be posted unless you Facebook Connect (#2 above)</em>' if current_user.notify_facebook_wall && !fb_session %>
			
		</div>
		<div class="">
			<input type="image" src="/images/save.png">
		</div>
	<% end %> -->
</div>


