<% @title = "Spot.us - Twitter Settings" %>
<%= render :partial => 'layouts/common_questions' %>
<div id="myspot_dashboard">
	<h3>My Spot</h3>
	<%= render :partial => "myspot/nav", :locals => {:selected_tab => "Twitter"} %>
	<% unless @twitter_credential.errors.empty? %>
		<% content_for :error do %>
			<%= error_messages_for_resource %>
		<% end %>
	<% end %>
	<% form_for @twitter_credential, :url => myspot_twitter_credentials_path, :html => { :method => :put, :class => "form" } do |f| %>
		<h4>Your Twitter Credential</h4>
		<div class="row clearfix">
			<%= f.label :login, 'Twitter User Name' %>
			<%= f.text_field :login %>
			<br/>
			<%= f.label :password, 'New Password' %>
			<%= f.password_field :password %>
			<%= f.hidden_field :user_id %>
		</div>
		
		<div class="">
			<input type="image" src="/images/save.png">
		</div>
	<% end %>
</div>


