<li class="story clearfix" style="clear:both;">
	<h2 class="link"><%=link_to post.title, pitch_post_path(post.pitch, post) %></h2>
	<div class="featured_image">
	   <%= image_tag(post.blog_image.url(:medium)) %>
	</div>
	<p class="post_body">
		<%= truncate_words(strip_html(post.body), 35)%> <%= link_to "Read more &raquo", pitch_post_path(post.pitch, post) %>
	</p>
	<p class="byline"><%= short_date(post.created_at)%> by <%= post.user.full_name %> | Posted under Pitch <%= link_to post.pitch.headline, pitch_url(post.pitch)%></p>
</li>