- content_for :head do
  = auto_discovery_link_tag(:rss, {:controller => 'pitches', :action => 'blog_posts', :id => @pitch.id, :format => 'rss'})
- @title = "Spot.us - Blog posts for Pitch: #{h @pitch.headline}"

.block-spacer
#equalize
  .span-455.box_white
    %h2.headline
      %strong= h @pitch.headline
    .double_content_border
    = render :partial => 'news_items/user', :locals => { :news_item => @pitch }
    %h2.headline
      Related pitch
    .pitch_summary
      .float-left
        = link_to image_tag(@pitch.featured_image.url(:thumb)), pitch_url(@pitch)
      %h2
        = link_to @pitch.headline, pitch_url(@pitch)
    .block-spacer-negative
    = render :partial => @pitch.posts
  .span-220.column_v.box_white
    = render :partial => "donations/button", :locals => { :news_item => @pitch }
    .block-spacer-negative
    .subscribe_via_rss
      = link_to image_tag('rss_16.png'), blog_posts_pitch_path(@pitch, :format => :rss)
      = link_to 'Subscribe to this blog', blog_posts_pitch_path(@pitch, :format => :rss)
    .block-spacer-negative
    = render :partial => 'pitches/keywords', :locals => {:pitch => @pitch}
  .span-160.box_white
    = render :partial => "pitches/supporters", :locals => {:news_item => @pitch}
