<div class="comments_tab tab_panel">
   <% if !@pitch.comments.any? %>
      <p>There are no comments yet, be the first!</p>
   <% else %>
      <ul>
         <% @pitch.comments.each do |comment| %>
				<% apply_fragment ['pitch_comments_', @pitch, comment] do%>
					<a name="<%=comment.id%>">
					<li>
						<h5><%= comment.title %></h5>
						<%= link_to image_tag(comment.user.photo(:thumb), :class => "avatar"), profile_path(comment.user) %>
						<div class="comment"><%= comment.body %>
							by <%= link_to comment.user.full_name, profile_path(comment.user) %> on <%= comment.created_at.to_s(:long_date) %>
						</div>
					</li>
				<%end%>
         <% end %>
      </ul>
   <% end %>
   <h3>Post A Comment</h3>
   <% form_for [@pitch, Comment.new(:commentable => @pitch)], :html => { :id => 'comments_form', :class => "auth" } do |f| %>
			<%= render :partial => 'comments/form', :locals => {:f => f} %>
   <% end %>
</div>