<% apply_fragment ['pitch_detail_description_', @pitch] do %>
	<% if !@pitch.video_embed.blank? %>
		<div class="watch_video">
			<%= link_to "Show/Hide Video", "", :class=> "toggle_video" %>
		</div>
		<div class="video_container">
			<%= transform_embed_code(@pitch.video_embed, 520, 320) %>
		</div>
	<% end %>
	<div class="description_tab tab_panel clearfix">
	  	<%= image_tag(@pitch.featured_image.url(:medium), :class => "featured_image") %>
		<div class="short_description">
	  		<%= transform_embed_code(@pitch.short_description, 520, 320) %>
		</div>
		<% unless @pitch.extended_description.blank? %>
			<div class="extended_description">
				<h4>How will it help?</h4>
				<%= @pitch.extended_description %>
			</div>
		<% end %>
	</div>
<%end%>