<% apply_fragment ['pitch_details_b_', @pitch] do %>
	<div class="pitchLeftContainer">
	
		<% unless @pitch.video_embed.blank? %>
			<div class="videoContainer">
				<%= transform_embed_code(@pitch.video_embed, 670, 320) %>
			</div>
		<% else %>
			<div class="largerFeaturedImage">
				<%= image_tag(@pitch.featured_image.url(:larger_featured_image)) %>
			</div>
		<%end%>
	
		<div class="shortDescription">
			<%= @pitch.short_description.strip_double_spaces %>
		</div>

		<% unless @pitch.extended_description.blank? %>
			<h2>How will it help?</h2>
			<%= @pitch.extended_description.strip_double_spaces %>
		<% end %>
	
		<%unless @pitch.skills.blank?%>
			<h2>Qualifications</h2>
			<%= @pitch.skills.strip_double_spaces %>
		<%end%>
	
		<%unless @pitch.delivery_description.blank?%>
			<h2>Deliverables</h2>
			<%= @pitch.delivery_description.strip_double_spaces %>
		<%end%>
	
		<%unless @pitch.disclosure.blank?%>	
			<h2>Disclaimers</h2>
			<%= @pitch.disclosure.strip_double_spaces %>
		<%end%>
		
		<div class="socialSharing">
			<ul>
				<li><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="spotus">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
				<li><iframe src="http://www.facebook.com/plugins/like.php?href=http://spot.us<%=pitch_path(@pitch)%>&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe></li>
			</ul>
			<ul>
				<li><a href="<%=pitch_path(@pitch)%>/get_widget" rel="facebox">Widget</a></li>
				<li><a href="<%=pitch_path(@pitch)%>/discussion">Comments (0)</a></li>
			</ul>
		</div>
		
	</div>
<%end%>
<%=render :partial => "pitches/sidebars/narrow"%>