<div class="donorsContainer">

	<a name="individuals"></a>
	<%if @pitch.supporters.any?%>
		<h2>Individual Donors: <%=number_to_currency @pitch.total_amount_donated%> donated by <%=@pitch.supporters.length%> supporters</h2>
		<ul>
			<%@pitch.supporters.each do |supporter|%>
				<% apply_fragment ['pitch_supporter_listing_', @pitch, supporter] do %>
					<li>
						<%=image_tag(supporter.photo.url(:thumb), {:alt => supporter.full_name})%>
						<h3><%=link_to supporter.full_name, profile_path(supporter)%></h3>
						<span>Joined <%=short_date(supporter.created_at)%></span>
						<h4>Donated <%=number_to_currency(supporter.amount_donated_to(@pitch))%></h4>
						<%=excerpt?(supporter.get_about_you, 40)%>
						<%=link_to "more &rarr;", profile_path(supporter)%>
				
					</li>
				<%end%>
			<%end%>
		</ul>
	<%end%>

	<a name="groups"></a>
	<%if @pitch.donating_groups.any?%>
		<h2>Group Support: <%=number_to_currency @pitch.total_amount_donated%> donated by <%=@pitch.donating_groups.length%> groups</h2>
		<ul>
			<%@pitch.donating_groups.each do |supporter|%>
				<% apply_fragment ['pitch_groups_listing_a_', @pitch, supporter] do %>
					<li>
						<%=image_tag(supporter.photo.url(:thumb), {:alt => supporter.full_name}) if supporter.respond_to? :photo%>
						<%=image_tag(supporter.image.url(:thumb), {:alt => supporter.name}) if supporter.respond_to? :image%>
						<h3><%=link_to supporter.name, profile_path(supporter)%></h3>
						<span>Joined <%=short_date(supporter.created_at)%></span>
						<%if supporter.respond_to? :donations_for_pitch%>
							<h4>Donated <%=number_to_currency(supporter.donations_for_pitch(@pitch))%></h4>
						<%else%>
							<h4>Donated <%=number_to_currency(supporter.amount_donated_to(@pitch))%></h4>
						<%end%>
						<%=excerpt?(supporter.description, 40)%>
						<%=link_to "more &rarr;", profile_path(supporter)%>

					</li>
				<%end%>
			<%end%>
		</ul>
	<%end%>

	<a name="organizations"></a>
	<%if @pitch.supporting_organizations.any? || @pitch.donations_and_credits.from_organizations.any?%>	
		<%supporters = []%>
		<%supporters.concat(@pitch.supporting_organizations) if @pitch.supporting_organizations.any?%>
		<%supporters.concat(@pitch.donations_and_credits.from_organizations.map(&:user)) if @pitch.donations_and_credits.from_organizations.any?%>
		<h2>Organization Supporters: <%=number_to_currency @pitch.donations_and_credits.from_organizations.map{ |d| d.amount }.sum%> donated by <%=supporters.length%> groups</h2>
		<ul>
			<%supporters.uniq.each do |supporter|%>
				<% apply_fragment ['pitch_organization_listing_a_', @pitch, supporter] do %>
					<li>
						<%=image_tag(supporter.photo.url(:thumb), {:alt => supporter.full_name})%>
						<h3><%=link_to supporter.full_name, profile_path(supporter)%></h3>
						<span>Joined <%=short_date(supporter.created_at)%></span>
						<h4>Donated <%=number_to_currency(supporter.amount_donated_to(@pitch))%></h4>
						<%=excerpt?(supporter.get_about_you, 40)%>
						<%=link_to "more &rarr;", profile_path(supporter)%>

					</li>
				<%end%>
			<%end%>
		</ul>
	<%end%>

	<a name="cca"></a>
	<%unless Donation.cca_supporters(@pitch.id).all.empty?%>
		<%donations = via_cca_supporters_for(@pitch)%>
		<h2>Community-Centered Advertising: <%=number_to_currency Donation.cca_supporters(@pitch.id).map{ |obj| obj.cca_total_amount.to_f }.sum%> donated by <%=donations.length%> groups</h2>
		<ul>
			<%donations.each do |donation|%>
				<%cca = donation.cca%>
				<% apply_fragment ['pitch_cca_donation_listing_', @pitch, cca] do %>
					<%if cca && cca.user%>
						<%supporter = cca.user%>
						<li>
							<%=image_tag(supporter.photo.url(:thumb), {:alt => cca.title})%>
							<h3><%=link_to cca.title, cca_path(cca)%></h3>
							<span>Joined <%=short_date(supporter.created_at)%></span>
							<h4>Contributed <%=number_to_currency(donation.cca_total_amount)%></h4>
							<%=excerpt?(cca.description, 40)%>
							<%=link_to "more &rarr;", cca_path(cca)%>

						</li>
					<%end%>
				<%end%>
			<%end%>
		</ul>
	<%end%>

</div>

<%=render :partial => "pitches/sidebars/narrow"%>