<%= render :partial => "/pitches/pitch_head" %>
<div class="pitchLeftContainer">
	<h2>Story</h2>
	<%# apply_fragment ['story_', @pitch.story] do %>
		<li>
			<%=image_tag @pitch.story.featured_image(:medium), {:alt => h(@pitch.story.headline)}%>
			<h3><%=link_to @pitch.story.headline[0..30], story_path(@pitch.story)%></h3>
			<div><%=pitch_date(@pitch.story.created_at)%> by <%=link_to @pitch.story.user, profile_path(@pitch.story.user)%></div>
			<div>Published under Pitch <%= link_to @pitch.headline, pitch_url(@pitch)%></div>
		</li>
	<%#end%>
</div>
<%=render :partial => "pitches/sidebars/narrow"%>