<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Type:</b>
  <%=h @user.type %>
</p>

<p>
  <b>Photo file name:</b>
  <%=h @user.photo_file_name %>
</p>

<p>
  <b>Photo content type:</b>
  <%=h @user.photo_content_type %>
</p>

<p>
  <b>Photo file size:</b>
  <%=h @user.photo_file_size %>
</p>

<p>
  <b>Location:</b>
  <%=h @user.location %>
</p>

<p>
  <b>About you:</b>
  <%=h @user.about_you %>
</p>

<p>
  <b>Website:</b>
  <%=h @user.website %>
</p>

<p>
  <b>Address1:</b>
  <%=h @user.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @user.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @user.city %>
</p>

<p>
  <b>State:</b>
  <%=h @user.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @user.zip %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>

<p>
  <b>Country:</b>
  <%=h @user.country %>
</p>

<p>
  <b>Notify tips:</b>
  <%=h @user.notify_tips %>
</p>

<p>
  <b>Notify pitches:</b>
  <%=h @user.notify_pitches %>
</p>

<p>
  <b>Notify stories:</b>
  <%=h @user.notify_stories %>
</p>

<p>
  <b>Notify spotus news:</b>
  <%=h @user.notify_spotus_news %>
</p>

<p>
  <b>Peer review interest:</b>
  <%=h @user.fact_check_interest %>
</p>


<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
