- form_for(@tip, :html => { :multipart => true }) do |f|
  .span-595.box_yellow.create_a_tip_form
    .row
      = f.label     :headline, "Your Tip's Headline"
      = f.text_area :headline, :rows => 2
    .yellow-spacer-negative
    .row
      = f.label :short_description, "Short Description"
      = f.text_area :short_description, :rows => 11
      .form_hint.small
        500 Characters Maximum
    .yellow-spacer-negative
    .row
      %label{:for => ""} Pick Topics
      .form_hint
        %span.ss_sprite.ss_add 
        %span.add_edit Add or Edit Topics
    .yellow-spacer-negative
    .row
      = f.label :location, "Location"
      = f.select :location, LOCATIONS
      .form_hint
        %span.ss_sprite.ss_add 
        %span.add_edit Add a Country
    .yellow-spacer-negative
    .row
      = f.label :keyword, "Keywords"
      %br/
      %span.small.quieter
        Keywords, or tags, should be separate by commas, for example: “car, automobile, SUVs.”
      = f.text_area :keywords, :rows => 3
    .yellow-spacer-negative
    .row
      %label{:for => ""} 
        Add Media
        %span.quieter (Optional)
    .yellow-spacer-negative-blank
    .row.media
      %label.small{:for => ""}
        Upload A Featured Image
        %br
        %span.quieter JPEG, PNG and GIF's less than 5 MB.
      = f.file_field :featured_image
    .yellow-spacer-negative-blank
    .row.media
      = f.label :featured_image_caption, "Add a Featured Image Caption", :class => "small"
      %br
      %span.quieter 200 Characters Max
      = f.text_area :featured_image_caption, :rows => 2
    .yellow-spacer-negative-blank
    .row.media
      = f.label :video_embed, "Embed a Video", :class => "small"
      %br
      %span.quieter Paste your third-party embeded cide here.
      = f.text_area :video_embed, :rows => 2
    .yellow-spacer-negative

  .double_content_border

  .float-right
    - if @tip.new_record?
      = image_submit_tag image_path('post_this_tip.png')
    - else
      = image_submit_tag image_path('save.png')
      = link_to image_tag('cancel.png', :alt => 'Cancel'), root_url

