- unless @tip.errors.empty?
  - content_for :error do
    = error_messages_for :tip

- @title = "Spot.us - Create a Tip"
.block-spacer
%h3 Create a Tip

#equalize
  -# first column content 
  .span-715.box_white
  
    .create_a_tip
      %ol.create_a_tip_iconized
        %li.tipster
        %li.pledgester
        %li.pitcher
      %ol.create_a_tip_steps
        %li.tipster Create a Tip
        %li.pledgester Get Your Community to Pledge
        %li.pitcher A journalist Will Build a Pitch Around Your Tip
    .take_action
      %p.no_margin
        %strong Take Action!
      %ul
        %li
          Creating a community news tip is a way to let journalist and news organizations know what is important to you. At this stage the pledge is uncommitted. we don't even ask for credit card information.
          = link_to "Learn more about tips", "#"
        %li= link_to "What kind of tips should I create?", "#"
        %li
          Watch the search results on the right to see if other tips or pitches are tackling the same issue.
        %li
          After you create a tip, find others who will join. Soon a journalist may create a pitch based on your story tip. 
          = link_to "Learn more about what happens after you create a tip.", "#"
    .clear

    .block-spacer-negative

    = render :partial => 'form'

  -# second column content   
  = render :partial => 'sidebar'
.clear
.block-spacer

