- @title = "Spot.us - TIP: #{h @tip.headline}"

.block-spacer
#equalize
  .span-455.box_white
    %h2.headline
      TIP:
      = h @tip.headline
    .double_content_border
    = render :partial => 'news_items/user', :locals => { :news_item => @tip }
    %p 
      = render :partial => 'news_items/featured_image', :locals => {:news_item => @tip}
      .alt-spotus= @tip.short_description
    - unless @tip.video_embed.blank?
      .block-spacer-negative
      %h3 Video
      .double_content_border
      = @tip.video_embed
    .block-spacer-negative
    %h3 Comments
    .double_content_border
    .comments
      %p= "There are no comments yet, be the first!" if @tip.comments.empty?
      = render :partial => 'shared/comment', :collection => @tip.comments
    %h3 Post A Comment
    .double_content_border
    - form_for [@tip, Comment.new] do |f|
      = render :partial => 'comments/form', :locals => {:f => f}
  .span-220.column_v.box_white
    .centered= render :partial => "pledges/button", :locals => { :news_item => @tip }
    .block-spacer-negative
    %h3 Related Pitches
    .double_content_border
    = render :partial => "related_pitches", :object => @tip.pitches
    .block-spacer-negative
    %h3 Keywords
    .double_content_border
    %p= h @tip.keywords
    - if @tip.editable_by?(current_user)
      .block-spacer-negative
      .centered= link_to image_tag("edit_this_tip.png"), edit_tip_path(@tip)

  .span-160.box_white
    = render :partial => "news_items/supporters", :locals => {:news_item => @tip}
.clear
.block-spacer

