- @title = "Spot.us - TIP: #{@tip.headline}"

.block-spacer
#equalize
  .span-455.box_white
    %h2.headline
      TIP:
      = @tip.headline
    .double_content_border
    = render :partial => 'news_items/user', :locals => { :news_item => @tip }
    %p 
      = render :partial => 'news_items/featured_image', :locals => {:news_item => @tip}
      = @tip.short_description
  .span-220.column_v.box_white
    = render :partial => "pledges/button"
    .block-spacer-negative
    %h3 Related Pitches
    - if @tip.pitches.any?
      - @tip.pitches.each do |pitch|
        .related_pitch
          = link_to pitch.headline, pitch_url(pitch)
    - else
      %p No related Pitches yet.  Stay tuned.
    .block-spacer-negative
    %h3 Keywords
    %p= @tip.keywords
    - if @tip.editable_by?(current_user)
      .block-spacer-negative
      = link_to image_tag("edit_this_tip.png"), edit_tip_path(@tip)

  .span-160.box_white
    = render :partial => "news_items/supporters", :locals => {:news_item => @tip}
.clear
.block-spacer

