= content_for :head do
  :javascript
    $(function(){
      $(".admin_tab").removeClass("hilited");
      $("#credits_tab").addClass("hilited");
    });

= render :partial => "/admin/admin_header"

%h2 Credits
%hr

%h2 Add Credit
= error_messages_for :credit
- form_for :credit, @credit, :url => admin_credits_path do |f|
  = f.select(:user_id, @users.collect {|u| [ u.full_name, u.id ] }, { :include_blank => true })
  = f.label :description
  = f.text_field :description
  = f.label :amount
  $
  = f.text_field :amount
  = image_submit_tag image_path('add.png')


%h2 History
%table
  %tr
    %th Name
    %th Amount
    %th Description
    %th Pitch
    %th CCA
  - if @credits.empty?
    %tr.notice
      %td{:colspan => 3} No records found
  - @credits.each do |credit|
    - unless credit.blank?
      %tr
        %td= credit.user ? credit.user.full_name : 'Anonymous'
        %td= number_to_currency(credit.amount)
        %td= credit.description
        %td= credit.donation && credit.donation.pitch ? credit.donation.pitch.headline : ""
        %td= credit.cca ? credit.cca.title : "-"
= will_paginate @credits