= content_for :head do
  :javascript
    $(function(){
      $(".admin_tab").removeClass("hilited");
      $("#credits_tab").addClass("hilited");
    });

= render :partial => "/admin/admin_header"

%h2 Credits
%hr

%p= link_to ("Create a credit &raquo;", new_admin_credit_path)
%hr
%p= link_to ("See all users with unused credits &raquo;", unused_admin_credits_path)

%h2 History
%table
  %tr
    %th Name
    %th Amount
    %th Description
    %th Pitch
    %th CCA
  - if @credits.empty?
    %tr.notice
      %td{:colspan => 3} No records found
  - @credits.each do |credit|
    - unless credit.blank?
      %tr
        %td= credit.user ? credit.user.full_name : 'Anonymous'
        %td= number_to_currency(credit.amount)
        %td= credit.description
        %td= credit.donation && credit.donation.pitch ? credit.donation.pitch.headline : ""
        %td= credit.cca ? credit.cca.title : "-"
= will_paginate @credits