<% content_for :head do%>
  	<script language="javascript" type="text/javascript">
		$(function(){
			$(".admin_tab").removeClass("hilited");
			$("#users_tab").addClass("hilited");
		});
	</script>
<%end%>

<%= render :partial => "/admin/admin_header" %>

<h2>User With Unused Credits</h2>
<hr/>

<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Amount</th>
		<th>Profile page</th>
		<th>Actions</th>
	</tr>
	<%if @credits.empty?%>
   		<tr class="notice">
      		<td colspan='5'>No records found</td>	
		</tr>
	<%else%>
  		<%@credits.each do |credit|%>
			<%unless credit.user.blank?%>
				<tr>
					<td><%=credit.user.full_name%></td>
					<td><%=link_to (credit.user.email, "mailto:#{credit.user.email}")%></td>
					<td><%=number_to_currency(credit.user.total_credits)%></td>
					<td><%=link_to (credit.user.full_name, profile_path(credit.user))%></td>
					<td><%=link_to "Transfer back funds", "/admin/credits/transfer/#{credit.user.id}" if credit.user.total_credits.to_f>0%></td>
				</tr>
			<%end%>
		<%end%>
	<%end%>
</table>