!!!
%html
  = render :partial => 'layouts/head'
  %body{ :class => body_class }
    = fb_connect_javascript_tag
    = init_fb_connect "XFBML"
    #user-header
      = render :partial => 'layouts/user_header'
    .body-content
      .container
        = render :partial => 'layouts/header'
        .block-spacer-negative.no_margin
        .box_white.clearfix
          - if @current_network.nil?
            All Networks
          - else
            = link_to 'All Networks', root_url(:subdomain => false)
          - Network.all.each do |network|
            |
            - if @current_network != network
              = link_to network.display_name, root_url(:subdomain => network.name).to_s.downcase
            - else
              = network.display_name
          - if @current_network && @current_network.name == "la"
            = image_tag("/images/usc_logo.png", :class => "usc_logo")       
          = link_to "suggest a city ...", "", :id => "show_suggest_city"
          = render :partial => "shared/suggest_city"
          .span-360
            = render :partial => "shared/google_search"
        - if yield(:error)
          .error
            %span.dismiss= link_to image_tag('close_square.png'), @close_flash_link || '' # empty string means self
            %p= yield(:error)
        #flash
          - flash.each do |key, value|
            %div{:class => key }
              %span.dismiss= link_to image_tag('close_square.png'), @close_flash_link || '' # empty string means self
              %p= value
        = yield
        .clear
    #footer
      = render :partial => 'layouts/footer'
    = render :partial => 'layouts/google_analytics' if RAILS_ENV == "production"



