- if current_user && logged_in? && current_balance.to_i > 0 && current_user.total_credits_in_cents == 0
  You need
  = link_to number_to_currency(current_balance), edit_myspot_donations_amounts_path, :id => "current_balance"
  to fund your donations.
  = link_to "Purchase &raquo;", edit_myspot_donations_amounts_path
- elsif current_user && logged_in? && current_balance.to_i == 0 && current_user.total_credits_in_cents > 0
  You have
  = number_to_currency(current_user.total_credits_in_dollars) 
  in credit.
- elsif current_user && logged_in? && current_balance.to_i > 0 && current_user.total_credits_in_cents > 0
  You have
  = number_to_currency(current_user.total_credits_in_dollars) 
  in credits to use toward your donations.
  = link_to "Apply Them &raquo;", edit_myspot_donations_amounts_path
  
