#footer-notes

  .span-6
    %h3 Quick Donate
    .double_footer_border
    .centered
      %p 
        %strong You pick the topic to fund.
      %p We'll pick the pitch
    .double_footer_border
    .centered
      = link_to image_tag("pledge_default.png"), page_path("quick_donate")
  
  .span-6
    %h3 Almost Funded!
    .double_footer_border
    - for pitch in Pitch.almost_funded.unfunded.top_four
      %p.clear
        = link_to image_tag(pitch.featured_image.url(:thumb)), pitch
        = pitch.class.name.upcase + ':'
        = link_to pitch.headline, pitch
  
  .span-6
    .float_right{:style => 'padding-top:3px;'}
      = link_to image_tag('rss_16.png'), news_items_path(:format => :rss)
    %h3 Newest Items
    .double_footer_border
    - for news_item in NewsItem.newest.accepted.pitch_or_tip.top_four
      %p.clear
        = link_to image_tag(news_item.featured_image.url(:thumb)), news_item
        = news_item.class.name.upcase + ':'
        = link_to news_item.headline, news_item
  .span-4
    %h3 Elevator Pitch
    .double_footer_border
    %p
      Spot.Us is a nonprofit project to pioneer &ldquo;community funded reporting.&rdquo; Through
      Spot.Us the public can commission investigations with tax deductible donations for important and perhaps overlooked stories.
      If a news organization buys exclusive rights to the content, donations are reimbursed. Otherwise content is made available through a Creative
      Commons license.
      %br
      = link_to 'Read More', page_path("about")
  .clear
