#footer-notes

  .span-6
    %h3 Quick Donate
    .double_footer_border
    .centered
      %p 
        %strong You pick the topic to fund.
      %p We'll pick the pitch
    .double_footer_border
    .centered
      = link_to image_tag("pledge_25.png"), page_path("quick_donate")
  
  .span-6
    %h3 Almost Funded!
    .double_footer_border
    - for pitch in Pitch.almost_funded.top_four
      %p.clear
        = link_to image_tag(pitch.featured_image.url(:thumb)), pitch
        = pitch.class.name.upcase + ':'
        = link_to pitch.headline, pitch
  
  .span-6
    %h3 Newest Items
    .double_footer_border
    - for news_item in NewsItem.newest.top_four
      %p.clear
        = link_to image_tag(news_item.featured_image.url(:thumb)), news_item
        = news_item.class.name.upcase + ':'
        = link_to news_item.headline, news_item
  .span-4
    %h3 The Fine Print
    .double_footer_border
    %p
      Spot.Us is a nonprofit project to pioneer &ldquo;community funded reporting.&rdquo; Through
      Spot.Us the public can commission journalists to do investigations on important and perhaps
      overlooked stories. All donations are 
      tax deductable and if a news organization buys exclusive rights to the content, your donation 
      will be reimbursed. Otherwise, all content is made available to all through a Creative Commons license.
      %br
      = link_to 'Read More', page_path("about")
  .clear
