#footer-notes

  .span-6
    %h3 Quick Donate
    .double_footer_border
    .centered
      %p 
        %strong You pick the topic to fund.
      %p We'll pick the pitch
    .double_footer_border
    .centered
      = link_to "I pledge $25", "#", :class => "i_pledge"
      %span.pledge_another_amount.small Or pledge another amount &raquo;
  
  .span-6
    %h3 Almost Funded
    .double_footer_border
    %p 
      %img{:src =>"../images/spotus_thumb_sample.jpg"}
      PITCH:
      = link_to "Bay Area Political Advertisement Tactical Unit", "#"
    %p.clear 
      %img{:src =>"../images/spotus_thumb_sample.jpg"}
      PITCH:
      = link_to "Bay Area Political Advertisement Tactical Unit", "#"
    %p.clear 
      %img{:src =>"../images/spotus_thumb_sample.jpg"}
      PITCH:
      = link_to "Bay Area Political Advertisement Tactical Unit", "#"
  
  .span-6
    %h3 Newest Items
    .double_footer_border
    %p 
      %img{:src =>"../images/spotus_thumb_sample.jpg"}
      PITCH:
      = link_to "Bay Area Political Advertisement Tactical Unit", "#"
    %p.clear 
      %img{:src =>"../images/spotus_thumb_sample.jpg"}
      PITCH:
      = link_to "Bay Area Political Advertisement Tactical Unit", "#"
    %p.clear 
      %img{:src =>"../images/spotus_thumb_sample.jpg"}
      PITCH:
      = link_to "Bay Area Political Advertisement Tactical Unit", "#"    
  .span-4
    %h3 The Fine Print
    .double_footer_border
    %p.text-justify Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. Morbi blandit mollis magna. 
  .clear