<div class="bottomWrapper">
	<div class="copyrightContainer">
  		<ul>
    		<li> <%= link_to "About", page_path('about')%> </li>
    		<li> <%= link_to "Blog", 'http://blog.spot.us' %> </li>
    		<li> <%= link_to "Press", page_path('press') %> </li>
    		<li> <%= link_to "Contact", page_path('contact') %> </li>
    		<li> <%= link_to "Terms of Use", page_path('terms') %> and <%= link_to "Privacy Policy", page_path('privacy') %> </li>
    		<li> Copyright &copy; <%= Time.now.year %> Spot.us </li>
  		</ul>
  <%= render :partial => 'layouts/partners' %>
  <div class="clear"> </div>
</div>
