#header
  .logo
    %p
      = link_to "<span class='hide'>Spot.us - Community Funded Reporting</span>", "/", :class => "logo-link", :title => "Spot.us - Community Funded Reporting"
  .nav-container
    %ul#main-nav
      %li.start_story= link_to "Start a Story", start_story_path
      %li.fund_story= link_to "Fund a Story", news_items_path
      %li.read_story= link_to "Read a Story", stories_path
      %li.about_spotus= link_to "About", page_path('about')
  .clear
