<head>
	
	<meta name"description" content="<%=@meta_description%>" />
	<meta name"keywords" content="<%=@meta_keywords%>" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-type" />

	<!-- Some SEO stuff... -->
	<%if REAL_PRODUCTION_MODE && APP_CONFIG[:google_verify]%>
		<meta name="google-site-verification" content="<%=APP_CONFIG[:google][:verification_code]%>" />
		<!-- Only index the top domain... -->
		<%unless @current_network.nil? %>
			<meta name="ROBOTS" content="NOARCHIVE,NOINDEX,NOFOLLOW" />
		<%end%>
	<%elsif !REAL_PRODUCTION_MODE%>
		<meta name="ROBOTS" content="NOARCHIVE,NOINDEX,NOFOLLOW" />
	<%end%>

	<title><%= @title || "Spot.us"%></title>

	<%=get_stylesheets(is_admin?)%>
  	<%= stylesheet_link_tag 'print', :media => "print"%>
	
	<%= javascript_include_tag 'jquery-1.4.1.min'%>
  	<script type='text/javascript'>
    	jQuery.noConflict();
		var CKEDITOR_BASEPATH = '/javascripts/ckeditor/';
	</script>

	<%= javascript_include_tag 'ckeditor/ckeditor', 'jquery-ui','jrails','jquery.pngFix','jquery.equalHeights','prototype','effects','jsProgressBarHandler','jquery.livequery','jquery.cookie','jcarousellite_1.0.1','jquery.form','application','auth','facebox','jquery.easing.compatibility','jquery.easing.1.3', 'jquery.countdown.min', :cache => "js_all"%>
  	
	<%= iboxify_page %>
  	
	<script src='http://1.rp-api.com/rjs/repostus.js' type='text/javascript'></script>
	<meta content="d01f40e8dc773e46aa181338ccec51f6" name="RepostUsAPIKey" />

	<%= yield :head %>
  
	<%if current_user && !current_user.valid?%>
		<script type='text/javascript'>
			jQuery(document).ready(function(){
				showProfileForm();
			});
		</script>
  	<%end%>

</head>