<div id="social_notifier_wrapper" class="hide">
	<div id="social_notifier">
		<%= social_notify_header(cookies[:social_notifier], @notify_object) %>
		<% if !current_user.notify_facebook_wall or !fb_session %>
			<a title="Share this on Facebook" target="_blank" rel="nofollow" href="http://www.facebook.com/share.php?u=<%= begin @notify_object.short_url rescue "" end %>&amp;t=<%= h @notify_object.status_update(false) %>"><%= image_tag("/images/new_design/facebook_32.png", :class => "badge") %>
			</a>
		<% end %>
		<% if !current_user.notify_twitter or !current_user.twitter_credential %>
			<a target="_blank" rel="nofollow" href="http://twitter.com/home?status=<%=begin h @notify_object.status_update rescue "" end %>" title="Share this on Twitter"><%= image_tag("/images/new_design/twitter_32.png", :class => "badge") %></a>
		<% end %>
			<a id="share_by_email" rel="nofollow" href="" title="Share this by Email"><%= image_tag("/images/new_design/email_32.png", :class => "badge") %></a>
			<div id="email_wrapper" class="hide">
				<% form_tag "/notifications/social_notify", :id => "email_notify" do %>
					<strong>Send an Email</strong> <em class="small quiet">(Input email addresses separated by commas.)</em><br/>
					<%= social_notify_form_attrs(cookies[:social_notifier], @notify_object)%>
					<textarea id="email_list" name="email_list"></textarea><br/>
					<input type="submit" value="Send"> &nbsp;&nbsp;<em id="email_result" class="quiet small"></em>
				<% end %>
			</div>
		</div>
		<% if !current_user.notify_facebook_wall or !fb_session  or !current_user.notify_twitter or !current_user.twitter_credential %>
			<div class="sync">
				<div class="quieter">You can also:</div>
				<div>
				<%= link_to "Sync Your Social Accounts", edit_myspot_twitter_credentials_path %>
				<%= link_to image_tag("/images/new_design/sync.png"), edit_myspot_twitter_credentials_path %>
				</div>
				<em class="quieter small">Syncing will automatically update your social networks every time you post.</em>
			</div>
		<% end %>
	</div>
</div>
