<ul class="user-header-nav">
  <div class="hide" id="logged_in">
    <li class="no-pipe">
      Hello,
      <span class="current_user_full_name"></span>
    </li>
    <li id="current_balance_line"></li>
    <li>
      <%= link_to "My Spot", myspot_profile_path %>
    </li>
    <% if logged_in? && current_user.facebook_user? && facebook_session %>
       <li class="no-pipe">
         <a href="#" onclick='FB.Connect.logoutAndRedirect("<%= destroy_session_path %>")'>Logout</a>
         <em class="small">facebook connected</em>
       </li>
    <% else %>
       <li>
         <%= link_to 'Logout', destroy_session_path %>
       <li class="no-pipe">
         <%= fb_login_button('window.location = "/users/link_user_accounts";', :size => "small") %>
         <em class="small"> connect</em>
       </li>
    <% end %>
  </div>
</ul>
<ul class="user-header-nav">
  <div id="not_logged_in" class="hide">
    <li>
      <%= link_to "Register", new_session_path + "?register=true", :rel => 'facebox', :id => "sign_up" %>
    </li>
    <li>
      <%= link_to "Login", new_session_path, :rel => 'facebox', :id => "sign_in" %>
    </li>
    <li class="no-pipe">
      <%= fb_login_button('window.location = "/users/link_user_accounts";', :size => "small") %>
      <em class="small"> connect</em>
    </li>
  </div>
</ul>
<div class="slogan">
   <span class="pink">Community</span>
   <span class="moss-green">Funded Reporting</span>
</div>
<div class="clear"></div>