%ul.user-header-nav
  - if current_user
    %li.no-pipe
      Hello,
      == #{link_to h(current_user.full_name), myspot_profile_path}.
    = render :partial => 'layouts/balance'
    %li
      = link_to "My Spot", myspot_donations_path
    %li.no-pipe
      = link_to "Logout", destroy_session_path
  - else
    %li
      = link_to "Register", new_session_path
    %li.no-pipe
      = link_to "Login", new_session_path

.slogan
  %span.pink Community 
  %span.moss-green Funded Reporting
.clear

