!!!
%html
  = render :partial => 'layouts/head'
  %body{ :class => body_class }
    #user-header
      = render :partial => 'layouts/user_header'
    .body-content
      .container
        = render :partial => 'layouts/header'
        .block-spacer-negative.no_margin
        .box_white
          - if @current_network.nil?
            All Networks
          - else
            = link_to 'All Networks', root_url(:subdomain => false)
          - Network.all.each do |network|
            |
            - if @current_network != network
              = link_to network.display_name, root_url(:subdomain => network.name)
            - else
              = network.display_name
        - if yield(:error)
          .error
            %span.dismiss= link_to image_tag('close_square.png'), @close_flash_link || '' # empty string means self
            %p= yield(:error)
        #flash
          - flash.each do |key, value|
            %div{:class => key }
              %span.dismiss= link_to image_tag('close_square.png'), @close_flash_link || '' # empty string means self
              %p= value
        = yield
        .clear
    #footer
      = render :partial => 'layouts/footer'
    = render :partial => 'layouts/google_analytics' if RAILS_ENV == "production"

