!!!
%html
  = render :partial => 'layouts/head'
  %body{ :class => body_class }
    #user-header
      = render :partial => 'layouts/user_header'
    .body-content
      .container
        = render :partial => 'layouts/header'
        - if yield(:error)
          .flash.error
            %span.dismiss= link_to image_tag('close_square.png'), '' # empty string means self
            = yield(:error)
        - if flash.any?
          .flash
            - flash.each do |key, value|
              %div{ :id => "flash_#{key}", :class => key }
                %span.dismiss= link_to image_tag('close_square.png'), '' # empty string means self
                = value
        = yield
    #footer
      = render :partial => 'layouts/footer'
    = render :partial => 'layouts/google_analytics'

