<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en">
	<%= render :partial => 'layouts/head' %>
	 <body style='height:100%;background:#E3EEEF;'>
		<%= fb_connect_javascript_tag %>
		<%= init_fb_connect "XFBML" %>
		<div class="spotus_widget" style="height:100%;padding-bottom:30px;margin:0px auto;">
			<div class="spotus_widget_header">
				<%= link_to image_tag("/images/new_design/spotus-logo-small.png"), root_url, :target => "_parent" %>
				<%= link_to "about", root_url + "pages/about", :class => "spotus_about_us", :target => "_parent" %>
			</div>
			<div class="spotus_pitch">
				<% if flash[:success]%>
					<span><%=flash[:success]%></span>
				<%end%>
				<%= yield %>
			</div>
			<div class="spotus_footer" style="margin:0px auto;">
				<div class="spotus_slogan">
					<span class="spotus_pink">Community</span>
					<span class="spotus_moss-green">Funded Reporting</span>
				</div>
			</div>
		</div>
		<%= render :partial => 'layouts/google_analytics' if RAILS_ENV == "production" %>
	 </body>
</html>