<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en">
	<%= render :partial => 'layouts/head' %>
	<body style='background:#E3EEEF;'>
		<iframe id="helpframe" src='' height='0' width='0' frameborder='0'></iframe>
		<%= fb_connect_javascript_tag %>
		<%= init_fb_connect "XFBML" %>
		<div class="spotus_widget" style="padding-bottom:30px;margin:0px auto;" id='spotus_widget'>
			<div class="spotus_widget_header">
				<%= link_to image_tag("/images/new_design/spotus-logo-small.png"), root_url, :target => "_parent" %>
				<%= link_to "about", root_url + "pages/about", :class => "spotus_about_us", :target => "_parent" %>
			</div>
			<div class="spotus_pitch">
				<% if flash[:success]%>
					<span><%=flash[:success]%></span>
				<%end%>
				<%= yield %>
			</div>
			<div class="spotus_footer" style="margin:0px auto;">
				<div class="spotus_slogan">
					<span class="spotus_pink">Community</span>
					<span class="spotus_moss-green">Funded Reporting</span>
				</div>
			</div>
		</div>
		<%= render :partial => 'layouts/google_analytics' if RAILS_ENV == "production" %>
		<script>
		
			var BrowserDetect = {
				init: function () {
					this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
					this.version = this.searchVersion(navigator.userAgent)
						|| this.searchVersion(navigator.appVersion)
						|| "an unknown version";
					this.OS = this.searchString(this.dataOS) || "an unknown OS";
				},
				searchString: function (data) {
					for (var i=0;i<data.length;i++)	{
						var dataString = data[i].string;
						var dataProp = data[i].prop;
						this.versionSearchString = data[i].versionSearch || data[i].identity;
						if (dataString) {
							if (dataString.indexOf(data[i].subString) != -1)
								return data[i].identity;
						}
						else if (dataProp)
							return data[i].identity;
					}
				},
				searchVersion: function (dataString) {
					var index = dataString.indexOf(this.versionSearchString);
					if (index == -1) return;
					return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
				},
				dataBrowser: [
					{
						string: navigator.userAgent,
						subString: "Chrome",
						identity: "Chrome"
					},
					{ 	string: navigator.userAgent,
						subString: "OmniWeb",
						versionSearch: "OmniWeb/",
						identity: "OmniWeb"
					},
					{
						string: navigator.vendor,
						subString: "Apple",
						identity: "Safari",
						versionSearch: "Version"
					},
					{
						prop: window.opera,
						identity: "Opera"
					},
					{
						string: navigator.vendor,
						subString: "iCab",
						identity: "iCab"
					},
					{
						string: navigator.vendor,
						subString: "KDE",
						identity: "Konqueror"
					},
					{
						string: navigator.userAgent,
						subString: "Firefox",
						identity: "Firefox"
					},
					{
						string: navigator.vendor,
						subString: "Camino",
						identity: "Camino"
					},
					{		// for newer Netscapes (6+)
						string: navigator.userAgent,
						subString: "Netscape",
						identity: "Netscape"
					},
					{
						string: navigator.userAgent,
						subString: "MSIE",
						identity: "Explorer",
						versionSearch: "MSIE"
					},
					{
						string: navigator.userAgent,
						subString: "Gecko",
						identity: "Mozilla",
						versionSearch: "rv"
					},
					{ 		// for older Netscapes (4-)
						string: navigator.userAgent,
						subString: "Mozilla",
						identity: "Netscape",
						versionSearch: "Mozilla"
					}
				],
				dataOS : [
					{
						string: navigator.platform,
						subString: "Win",
						identity: "Windows"
					},
					{
						string: navigator.platform,
						subString: "Mac",
						identity: "Mac"
					},
					{
						   string: navigator.userAgent,
						   subString: "iPhone",
						   identity: "iPhone/iPod"
				    },
					{
						string: navigator.platform,
						subString: "Linux",
						identity: "Linux"
					}
				]

			};
			
			BrowserDetect.init();
			
			//jQuery(document).ready(function($){
				var host = jQuery.cookie('spotus_lite_host');
				var height = document.body.scrollHeight;
				height = (document.getElementById('spotus_widget').scrollHeight ? document.getElementById('spotus_widget').scrollHeight 
							: document.body.scrollHeight ? document.body.scrollHeight 
							: document.body.offsetHeight); // find height of internal page
				var pipe = document.getElementById('helpframe');
				var domain = unescape(host);
				domain = domain.replace('http://', '');
				domain = domain.replace('www.', '');
				pipe.src = host+'/helper.html?height='+height+'&domain='+domain+'&cacheb='+Math.random();
			//});
		</script>
	</body>
</html>