<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en">
   <%= render :partial => 'layouts/head' %>
   <body class="<%= body_class %>">
      <%= fb_connect_javascript_tag %>
      <%= init_fb_connect "XFBML" %>
      <div id="user-header">
         <%= render :partial => 'layouts/user_header' %>
      </div>
      <div class="body-content">
         <div class="container">
           <%= render :partial => 'layouts/header' %>
           <div class="block-spacer-negative no_margin"></div>
           <div id="box_white clearfix">
              <% if @current_network.nil? %>
                  All Networks
              <% else %>
                   <%= link_to 'All Networks', root_url(:subdomain => false) %>
                   <% Network.all.each do |network| %>
                     |
                     <% if @current_network != network %>
                       <%= link_to network.display_name, root_url(:subdomain => network.name).to_s.downcase %>
                     <% else %>
                       <%= network.display_name %>
                     <% end %>
                   <% end %>
                   <% if @current_network && @current_network.name == "la" %>
                      <%= image_tag("/images/usc_logo.png", :class => "usc_logo") %>
                   <% end %>
              <% end %>
              <%= link_to "suggest a city ...", "", :id => "show_suggest_city" %>
              <%= render :partial => "shared/suggest_city" %>
             <div class="span-360">
               <%= render :partial => "shared/google_search" %>
             </div>
           </div>
           <% if yield(:error) %>
             <div class="error">
               <span class="dismiss"><%= link_to image_tag('/images/close_square.png'), @close_flash_link || '' %></span><!-- # empty string means self-->
               <p><%= yield(:error) %></p>
               <div id="flash">
                <% flash.each do |key, value| %>
                  <div class="<%=key%>">
                    <span class="dismiss"><%= link_to image_tag('/images/close_square.png'), @close_flash_link || ''%></span><!-- # empty string means self-->
                    <p><%= value %></p>
                   </div>
                <% end %>
            </div>
            <% end %>
           <%= yield %>
           <div class="clear" />
       <div id="footer">
         <%= render :partial => 'layouts/footer' %>
       </div>
       <%= render :partial => 'layouts/google_analytics' if RAILS_ENV == "production" %>
    </div>
   </div>
   </body>
</html>